@import "dropdowns";

.arrow_groupselecthint {
  position: absolute;
  top: 60px;
  height: 50px;
  width: 250px;
}
.arrow_groupselecthint svg {
  height: 100%;
  width: 100%;
}

@media (max-width: 991px) {
  .selectedGroupTitle label {
    width: 100%;
  }
  .selectedGroupTitle button {
    width: 100%;
  }
}
.btn-group-selected {
  position: relative;
  text-align: center;
}
.btn-group-selected .btn-group {
  display: inline-flex;
}
.btn-group-selected .btn-group,
.btn-group-selected .btn {
  position: static;
  white-space: normal;
}
.btn-group-selected .btn-initial {
  position: relative;
}
.btn-group-selected .btn-blue {
  min-width: 130px;
}
.btn-group-selected ul {
  width: 100%;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -moz-column-fill: balance;
  column-count: 2;
}
@media (max-width: 991px) {
  .btn-group-selected ul {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}


// xx
.groupList .group {
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}
.groupList .group-focus, .groupList  .group-focus:hover {
	background: white;
}

.bar {
	border-radius: 3px;
	height: 6px;
	width: 100%;
	margin-top: 5px;
}

.bar * {
	border-radius: 3px;
	height: 6px;
	min-width: 6px;
	float:right;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
.bar-budget {
	background: #ADF;
}
.bar-expenditure {
	background: #2581C4;
}
.groupList .group-focus .bar-budget {
	background: #ff9491;
}
.groupList .group-focus .bar-expenditure {
	background: #E73431;
}


.dropdown-menu > li > a {
    padding: 1px 5px;
}

.btn-label {font-size: 12px;line-height: 12px;}

.groupList div {
	white-space: normal;
}

.btn-infoModal {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1001;
}

.btn-group {
	box-shadow: 0px 0px 20px white;
}

.btn-red {
	background-color: #E73431;
	border-color: #E73431;
	color: white;
}

.btn-blue {
	background-color: #2581C4;
	border-color: #2581C4;
	color: white;
}
.btn-label {
	background-color: #EEE;
	border-color: #DDD;
}

.btn-label:hover {
	cursor: default;
}

