# compiled output
/dist
/dist-www
src/app/app.component.css
src/app/views/login/login.component.css
src/app/views/login/login.component.css.map

# dependencies
/node_modules

# licensed data
/src/assets/audio

# editors
/.vscode

# misc
npm-debug.log
.sass-cache
