<h3><i class="fa fa-tasks"></i> Úřední deska</h3>

<hr>

<h4>Mapa dokumentů z MapaSamospravy.cz</h4>

<p>Dodělat nastavení! GPS a zoom.</p>

<hr>

<h4>Seznam dokumentů z eDesky.cz</h4>

<p *ngIf="loading">Načítám seznam úředních desek z eDesky.cz</p>

<form class="form-horizontal" (submit)="save.emit()" *ngIf="!loading">

	<div class="col-sm-12">



		<div class="form-group">
			Kraj:
			<select name="nuts3" [ngModel]="nuts3" (ngModelChange)="nuts3Select($event)">
				<option *ngFor="let nuts3 of lists.nuts3" [value]="nuts3.id">{{nuts3.name || "--ostatní--"}}</option>
			</select>
		</div>

		<div class="form-group">
			Okres:
			<select name="nuts4" [ngModel]="nuts4" (ngModelChange)="nuts4Select($event)">
				<option *ngFor="let nuts4 of lists.nuts4" [value]="nuts4.id">{{nuts4.name || "--ostatní--"}}</option>
			</select>
		</div>

		<div class="form-group">
			Úřední deska:
			<select name="dashboard" [ngModel]="_data.id" (ngModelChange)="dashboardSelect($event)">
				<option value="0">--nevybráno--</option>
				<option *ngFor="let dashboard of lists.dashboards" [value]="dashboard.id">{{dashboard.name}}</option>
			</select>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-default">Uložit</button>
			</div>
		</div>
	</div>

</form>