<h2 class="hidden">Úřední deska</h2>

<div class="notice-board-map">
	<div class="notice-board-item well">
		<div class="row">
			<div class="col-lg-12">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe *ngIf="mapURL" class="embed-responsive-item" [src]="mapURL"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="notice-board-list">
	<div class="notice-board-item well margin-bottom-xs" *ngFor="let document of documents">
		<div class="row">
			<div class="col-sm-10">
				<strong>{{document.name}}</strong>
				<br>
				<div class="small text-muted margin-top-md">
					<i class="fa fa-clock-o"></i> Datum zveřejnění: {{document.created_at}}
				</div>
			</div>
			<div class="col-sm-2 buttons">
				<a *ngIf="document.edesky_url" class="btn btn-xs btn-primary" [href]="document.edesky_url" target="_blank"><i class="fa fa-file-text-o"></i> eDesky</a>
				<a *ngIf="document.orig_url" class="btn btn-xs btn-primary" [href]="document.orig_url" target="_blank"><i class="fa fa-file-text-o"></i> Dokument</a>
			</div>
		</div>
	</div>
</div>
