<h3>
	<i class="fa fa-newspaper-o"></i>
	<span>Úřední deska</span>
</h3>
<hr>

<div class="notice-board">
	<div class="notice-board-item well margin-bottom-xs" *ngFor="let document of list">
		<div class="row">
			<div class="col-lg-10">
				<strong>{{document.title}}</strong>
				<br>
				<div class="small text-muted margin-top-md">
					<i class="fa fa-clock-o"></i> Datum zveřejnění: {{document.date}}
				</div>
			</div>
			<div class="col-lg-2 buttons">
				<a class="btn btn-xs btn-primary" (click)="openPreview(document)"><i class="fa fa-search"></i> Náhled</a>
				<a *ngIf="document.url" class="btn btn-xs btn-primary" (click)="linkEDesky(document)"><i class="fa fa-file-text-o"></i> eDesky</a>
				<a *ngIf="document.url" class="btn btn-xs btn-primary" (click)="linkDocument(document)"><i class="fa fa-file-text-o"></i> Dokument</a>
			</div>
		</div>
		<div *ngIf="document.showPreview" class="row preview">
			<pre>{{document.preview}}</pre>
		</div>
	</div>
</div>