<div class="btn-group">
  
  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-lg btn-red dropdown-toggle">
        <strong>{{currentBudget?.year}}</strong> <span class="caret"></span>
    </button>
    
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem" *ngFor="let budget of budgets"  (click)="selectBudget(budget.year)"><a>
          <div class="bl-budget bl-budget-spacing">
            <div class="row bl-labels">
              <div class="col-xs-6 text-left">
                <div class="label label-danger">
                  {{budget.year}}
                </div>
              </div>
              <div class="col-xs-6 text-right">
                <div class="label label-default">
                  Platné k {{budget.validity | date:"d. M. y"}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3">
                <strong>Rozpočet</strong>
              </div>
              <div class="hidden-xs col-sm-4">
                <span class="bl-bar bl-bar-budget" [style.width]="(getBudgetAmount(budget) / maxAmount * 100) + '%'"></span>
              </div>
              <div class="col-xs-8 col-sm-5 text-right">
                {{getBudgetAmount(budget) | money:0:false}} Kč
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3">
                <strong>Plnění</strong>
              </div>
              <div class="hidden-xs col-sm-4">
                <span class="bl-bar bl-bar-expenditure" [style.width]="(getAmount(budget) / maxAmount * 100) + '%'"></span>
              </div>
              <div class="col-xs-8 col-sm-5 text-right">
                {{getAmount(budget) | money:0:false}} Kč
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <button type="button" class="btn btn-lg btn-default btn-label bl-btn-selected bl-budget">
    <div class="row">
      <div class="col-xs-4 col-sm-3 text-left">
        <strong>Rozpočet</strong>
      </div>
      <div class="hidden-xs col-sm-4 text-left">
        <span *ngIf="currentBudget" class="bl-bar bl-bar-budget" [style.width]="(getBudgetAmount(currentBudget) / maxAmount * 100) + '%'"></span>
      </div>
      <div *ngIf="currentBudget" class="col-xs-8 col-sm-5 text-right font-number">
        {{getBudgetAmount(currentBudget) | money:0:false}} Kč
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-3 text-left">
        <strong>Plnění</strong>
      </div>
      <div class="hidden-xs col-sm-4 text-left">
        <span *ngIf="currentBudget" class="bl-bar bl-bar-expenditure" [style.width]="(getAmount(currentBudget) / maxAmount * 100) + '%'"></span>
      </div>
      <div *ngIf="currentBudget" class="col-xs-8 col-sm-5 text-right font-number">
        {{getAmount(currentBudget) | money:0:false}} Kč
      </div>
    </div>
  </button>
  
</div>
