/*
|--------------------------------------------------------------------------
| Fixes/Sizing
|--------------------------------------------------------------------------
*/

html {
    box-sizing: border-box;
    margin-left: calc(100vw - 100%);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}