/*
|--------------------------------------------------------------------------
| Components/Brand
|--------------------------------------------------------------------------
*/

.c-brand {
    display: block;

    img {
        max-width: 100%;
        height: auto;
    }
}