<form class="form-horizontal" #profileForm="ngForm">

	<h2>Informace o obci</h2>
	<div class="form-group">
		<label for="input-name" class="col-sm-2 control-label">Název obce</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="input-name" name="name" [(ngModel)]="profile.name" placeholder="Praha - Suchdol">
		</div>
	</div>

	<h2>Data</h2>

	<div class="form-group">
		<label for="input-file" class="col-sm-2 control-label">Formát dat</label>
		<div class="col-sm-10">
			<input [(ngModel)]="importType" type="radio" name="importType" value="cityvizor" id="importTypeRadio_cityvizor">
			&nbsp;
			<label for="importTypeRadio_cityvizor" class="control-label">CityVizor</label>
			<br>
			<input [(ngModel)]="importType" type="radio" name="importType" value="gordic" id="importTypeRadio_gordic">
			&nbsp;
			<label for="importTypeRadio_gordic" class="control-label">Gordic 56G</label>
		</div>
	</div>

	<ng-container [ngSwitch]="importType">

		<ng-container *ngSwitchCase="'cityvizor'">
			<div class="form-group">
				<label for="input-file" class="col-sm-2 control-label">Číselník akcí</label>
				<div class="col-sm-10">
					<input type="file" class="form-control" id="input-file" #eventsFile>
				</div>
			</div>

			<div class="form-group">
				<label for="input-file" class="col-sm-2 control-label">Datový soubor</label>
				<div class="col-sm-10">
					<input type="file" class="form-control" id="input-file" #dataFile>
				</div>
			</div>

			<div class="form-group">
				<label for="input-file" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<button type="button" class="btn btn-primary" (click)="importDataCityVizor(eventsFile.files[0],dataFile.files[0])">Nahrát data</button>
				</div>
			</div>
		</ng-container>

		<ng-container *ngSwitchCase="'gordic'">
			<div class="form-group">
				<label for="input-file" class="col-sm-2 control-label">Datový soubor KXX</label>
				<div class="col-sm-10">
					<input type="file" class="form-control" id="input-file" #dataFileKXX>
				</div>
			</div>

			<div class="form-group">
				<label for="input-file" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<button type="button" class="btn btn-primary" (click)="importDataGordic(dataFileKXX.files[0])">Nahrát data</button>
				</div>
			</div>
		</ng-container>
	</ng-container>

	<ng-container *ngIf="dataService.warnings.length">
		<h2>Varování</h2>
		<ul>
			<li *ngFor="let message of dataService.warnings">{{message}}</li>
		</ul>
	</ng-container>


</form>