<div class="modal-header">
    <h4 class="modal-title pull-left">Vytvořit nového správce</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close.emit(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #createUserForm="ngForm" (ngSubmit)="createUser(createUserForm)">
    <div class="modal-body">
      <div class="form-group">
        <label>Login</label>
        <input type="text" name="login" ngModel (ngModelChange)="login.next($event)" class="form-control" required>
        <span *ngIf="(login | async) && loginExists === false" class="help-block text-success">Login {{login | async}} je volný</span>
        <span *ngIf="(login | async) && loginExists === true" class="help-block text-danger">Tento login je již zabraný!</span>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" ngModel>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!createUserForm.valid || loginExists">Vytvořit</button>
    </div>
  </form>