
<header-menu [config]="menuConfig"></header-menu>

<div [ngSwitch]="cat" id="content"  class="container">

  <div *ngSwitchCase="'prehled'">
    <div *ngIf="counterparty" class="profiles">
      
      <div class="btn-group">
        <button *ngFor="let year of budgetYears" type="button" class="btn btn-default" [class.btn-primary]="isVisibleYear(year)" (click)="toggleYear(year)">{{year}}</button>
      </div>
      
      
      <div *ngFor="let profile of counterparty.profiles" class="profile">
        
        <div class="row heading">
          <div class="col-xs-3">{{profile.name}}</div>
          <div class="col-xs-6"><span class="bar" [style.width]="(getProfileAverage(profile) / maxAmount * 100) + '%'"></span></div>
          <div class="col-xs-3 amount">
            <ng-container *ngIf="profile.averageAmount !== null"><span class="help" title="Průměr za uplynulé roky">{{getProfileAverage(profile) | money:0:false}} Kč</span></ng-container>
            <ng-container *ngIf="profile.averageAmount === null"><span class="help" title="Nemáme dostatek dat pro výpočet průměru za uplynulé roky">N/A</span></ng-container>
          </div>
        </div>
        
        <div *ngFor="let budget of profile.budgets" [class.current]="isCurrentYear(budget.year)" [class.hidden]="!isVisibleYear(budget.year)" class="budget row">
          <div class="col-xs-3">{{budget.year}}</div>
          <div class="col-xs-6">
            <span class="bar" [style.width]="(budget.amount / maxAmount * 100) + '%'"></span>
          </div>
          <div class="col-xs-3 amount">{{budget.amount | money:0:false}} Kč</div>
        </div>
      </div>
    </div>
  </div>

</div>

