<div id="entity" *ngIf="profile">

	<profile-header [profile]="profile"></profile-header>

	<div id="content"  class="container">
		
		<h2 class="hidden">Správa profilu</h2>

		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-stacked">
					<li routerLinkActive="active" class="nav-item"><a [routerLink]="getModuleLink('nastaveni-profilu')" class="nav-link">Nastavení profilu</a></li>
					<li routerLinkActive="active" class="nav-item"><a [routerLink]="getModuleLink('sprava-modulu')" class="nav-link">Správa modulů</a></li>
					<li routerLinkActive="active" class="nav-item"><a [routerLink]="getModuleLink('import-dat')" class="nav-link">Import dat</a></li>
					<li routerLinkActive="active" class="nav-item"><a [routerLink]="getModuleLink('spravci-profilu')" class="nav-link">Správci profilu</a></li>
					<hr>
					<li routerLinkActive="active" class="nav-item"><a [routerLink]="getModuleLink('navody')" class="nav-link">Návody</a></li>
				</ul>
			</div>
			
			<div class="col-md-9" [ngSwitch]="activeModule">

				<entity-admin-profile *ngSwitchCase="'nastaveni-profilu'" [profile]="profile"></entity-admin-profile>

				<entity-admin-modules *ngSwitchCase="'sprava-modulu'" [profile]="profile"></entity-admin-modules>

				<entity-admin-import *ngSwitchCase="'import-dat'" [profile]="profile"></entity-admin-import>
				
				<entity-admin-users *ngSwitchCase="'spravci-profilu'" [profile]="profile"></entity-admin-users>

			</div>
			
		</div>
	</div>
</div>