<div class="container">

  <p-table [value]="profiles" [rowHover]="true" sortField="name">
    <ng-template pTemplate="header">
      <!-- Column labels + sorting -->
      <tr>
        <th pSortableColumn="name" style="width: 40%">
          Název <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="type" style="width: 16em">
          Typ <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th pSortableColumn="url" style="min-width: 10em">
          URL <p-sortIcon field="url"></p-sortIcon>
        </th>
        <th>
        </th>
      </tr>

      <!-- Column filters -->
      <tr>
        <th>
          <!-- Name -->
          <p-columnFilter type="text" field="name" matchMode="contains"></p-columnFilter>
        </th>
        <th>
          <!-- Type -->
          <p-columnFilter field="type" matchMode="equals" display="row" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="profileTypes" (onChange)="filter($event.value)"
                placeholder="Všechny">
                <ng-template let-option pTemplate="item">
                  <div>{{option.label}}</div>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <!-- URL -->
          <p-columnFilter type="text" field="url" matchMode="contains"></p-columnFilter>
        </th>
        <th>
          <!-- Akce -->
        </th>
      </tr>
    </ng-template>

    <!-- Data rows -->
    <ng-template pTemplate="body" let-profile>
      <tr>
        <td [routerLink]="'./' + profile.id">
          <a style="font-weight: 500;">
            {{profile.name}}
          </a>
          <span *ngIf="profile.status === 'hidden'" class="label label-danger">skrytý</span>
          <span *ngIf="profile.status === 'preview'" class="label label-warning">skrytý na úvodu</span>
          <span *ngIf="profile.status === 'pending'" class="label label-warning">připravovaný</span>
          <span *ngIf="profile.main" class="label label-primary">{{profile.main ? "hlavní profil" : ""}}</span>
        </td>
        <td [routerLink]="'./' + profile.id">
          <ng-container [ngSwitch]="profile.type">
            <span *ngSwitchCase="'municipality'">Municipalita</span>
            <span *ngSwitchCase="'pbo'">Příspěvkovka</span>
            <span *ngSwitchCase="'external'">Externí profil</span>
            <span *ngSwitchCase="'empty'">Bez rozpočtu</span>
          </ng-container>
        </td>
        <td [routerLink]="'/' + profile.url"><a>{{configService.config.siteUrl}}/{{profile.url}}</a></td>
        <td (click)="$event.stopImmediatePropagation()">
          <div class="btn-group pull-right text-nowrap" dropdown>
            <a dropdownToggle>Akce <span class="caret"></span></a>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" (click)="currentProfile = profile; openModal(deleteProfileModal)"><span
                    class="text-danger">Smazat</span></a></li>
            </ul>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <button (click)="openModal(createProfileModal)" class="btn btn-primary" style="margin-top: 2em">Vytvořit
    profil</button>
</div>

<ng-template #createProfileModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Vytvořit nový profil</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #createProfileForm="ngForm" (ngSubmit)="createProfile(createProfileForm); closeModal();">
    <div class="modal-body">
      <div class="form-group">
        <label>Název</label>
        <input type="text" name="name" class="form-control" ngModel required>
      </div>
      <div class="form-group">
        <label>Adresa</label>
        <input type="text" name="url" class="form-control" ngModel required>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!createProfileForm.valid">Vytvořit</button>
    </div>
  </form>
</ng-template>

<ng-template #deleteProfileModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Smazat profil</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Opravdu chcete smazat profil {{currentProfile.name}}?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="closeModal();">Zrušit</button>
    <button class="btn btn-danger" (click)="deleteProfile(currentProfile.id);closeModal();">Smazat</button>
  </div>
</ng-template>