<div class="page container">
	<div class="entities">
		<div class="switchListView">
			<div class="pull-right">
				<a class="lead text-center" type="button" [style.display]="(show=='map')?'none':'inherit'" (click)="show='map'">
					<i _ngcontent-rgt-22="" class="fa fa-map fa-2x"></i><br>Zobrazit<br>na mapě
				</a>
				<a class="lead text-center" type="button" [style.display]="(show=='abc')?'none':'inherit'" (click)="show='abc'">
					<i _ngcontent-rgt-22="" class="fa fa-sort-alpha-asc fa-2x"></i><br>Abecední<br>seznam
				</a>
			</div>
		</div>	
		
		<!-- MAPA -->
		<div class="text-center" *ngIf="show=='map'">
			<profile-map width="800" height="455" labels="true" [search]="_search" [profiles]="profiles" (openProfile)="openProfile($event)"></profile-map>
		</div>

		<!-- ABECEDNE -->
		<div *ngIf="show=='abc'">
			<div class="entitiesAlphabetList">
				<div class="row">
					<div class="col-lg-12">
						<div *ngFor="let letter of letters">
							<h4>{{letter.letter}}</h4>
							<div class="column">
								<span *ngFor="let profile of letter.profiles">
									<a *ngIf="!_search || profile.searchString.match(_search)" (click)="openProfile(profile)">{{profile.name}}</a>
								</span>
							</div>						
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>