.ministerstva{}

.ministerstvo{float:left;width:250px;height:300px;padding:20px;margin:17px;background-color:#fff;box-shadow: 0 0 5px rgba(0,0,0,.1);overflow:hidden;}
.ministerstvo .logo{display:block;text-align:center;height: 100px;overflow: hidden;}
.ministerstvo .logo img{}
.ministerstvo h2{margin:20px 0;padding:0;font-size:18px;}
.ministerstvo p{font-size:12px;}

.entityMapMarker, .entityListItem {
  cursor: pointer;
}

.switchListView {
  position: absolute;
  width: 100%;
}