<form class="form-horizontal">
  
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Titulek profilu</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="profile.name" aria-describedby="help-name" required>
      <span id="help-name" class="help-block">Tento název se zobrazuje v záhlaví stránky s profilem obce. Může se lišit od oficiálního názvu obce.</span>
    </div>
  </div>
  
  <div class="form-group">
    <label for="url" class="col-sm-2 control-label">Adresa</label>
    <div class="col-sm-10">
      <div class="input-group">
        <span class="input-group-addon">https://cityvizor.cz/profil/</span>
        <input type="text" class="form-control" id="url" name="url" [(ngModel)]="profile.url" aria-describedby="help-url">
      </div>
      <span id="help-url" class="help-block">Na této adrese bude dostupný profil vaší obce.</span>
    </div>
  </div>
  
  <div class="form-group">
    <label for="obec" class="col-sm-2 control-label">Propojená obec</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="obec" name="entity" [value]="getEntityString()"  aria-describedby="help-entity" disabled>
      <span id="help-entity" class="help-block">Toto je identifikace vaší obce z databáze RISY, úřední desky a registru smluv. Pokud údaj nesedí, prosíme kontaktujte správce.</span>
    </div>
  </div>
    
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Kontaktní email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="profile.email" aria-describedby="help-email" required>
      <span id="help-email" class="help-block">Na tomto e-mailu vás budeme kontaktovat, bude-li nějaký problém s vaším profilem.</span>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Veřejný profil</label>
    <div class="col-sm-10">
      <div class="btn-group">
				<button type="button" class="btn btn-sm btn-default" [class.active]="profile.active" (click)="profile.active=true" aria-describedby="help-active">Veřejný</button>
				<button type="button" class="btn btn-sm btn-default" [class.active]="!profile.active" (click)="profile.active=false" aria-describedby="help-active">Skrytý</button>
      </div>
      <span id="help-active" class="help-block">Pokud zvolíte Veřejný, budou moci návštěvníci portálu CityVizor vidět váš profil, pokud zvolíte Skrytý, profil vaší obce uvidí pouze administrátoři vašeho profilu a administrátoři portálu.</span>
    </div>
  </div>
  
</form>