/*
|--------------------------------------------------------------------------
| Components/Brand
|--------------------------------------------------------------------------
*/

.c-brand {
  display: block;

  img {
    max-width: 100%;
    height: auto;
  }

  @include media-breakpoint-down(md) {
    padding-right: 20px;
  }
}
