* {opacity:inherit;}

.address{
	white-space: pre-line;
}

.rowHours {
	font-size: 0.8em;
	line-height: 1em;
	margin-bottom: .5em;
}
.barHours {
	height: 1.1em; background: #f3f3f3; margin: 0px 0%;
}	
.barHoursOpened {
	background: #2581C4; height: 100%; position: absolute; top: 0;
}	
.titleHours {
	position: absolute;
	color: #FFF;
	height: 100%;
	top: 0;
}	
.titleHoursStart {
	left: 2px;
}	
.titleHoursEnd { 
	right: 2px;
}
.dayTitle {
	font-weight: bold;
}
profile-map {
	width: 100%; height: auto;
}

.text-specFaktura {
	color: #ADF;
}
.text-specSmlouva {
	color: #ff9491;
}
.text-specInvesticniAkce {
	color: #7fff00;
}
.news {
	margin: 10px 0px;
}
.news > div {
	border: 1px solid #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fcfcfc;
}
.bg-timeline {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+50,1e5799+50,2989d8+51,000000+51,7db9e8+100 */
background: transparent; /* Old browsers */
background: -moz-linear-gradient(left, transparent 0%, transparent 50%, #eee 50%, #eee 51%, transparent 51%, transparent 100%); /* FF3.6-15 */
background: -webkit-linear-gradient((left, transparent 0%, transparent 50%, #eee 50%, #eee 51%, transparent 51%, transparent 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, (left, transparent 0%, transparent 50%, #eee 50%, #eee 51%, transparent 51%, transparent 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}