* {opacity:inherit;}

.address{
	white-space: pre-line;
}

.rowHours {
	font-size: 0.8em;
	line-height: 1em;
	margin-bottom: .5em;
}
.barHours {
	height: 1.1em; background: #f3f3f3; margin: 0px 0%;
}	
.barHoursOpened {
	background: #2581C4; height: 100%; position: absolute; top: 0;
}	
.titleHours {
	position: absolute;
	color: #FFF;
	height: 100%;
	top: 0;
}	
.titleHoursStart {
	left: 2px;
}	
.titleHoursEnd { 
	right: 2px;
}
.dayTitle {
	font-weight: bold;
}
profile-map {
	width: 100%; height: auto;
}

.text-specFaktura {
	color: #ADF;
}
.text-specSmlouva {
	color: #ff9491;
}
.text-specInvesticniAkce {
	color: #7fff00;
}