<div class="row">

	<div class="col-md-6 bg-timeline">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h4>
					<div class="label label-danger">
						Nejnovější faktury
					</div>
				</h4>
			</div>
		</div>
		<div class="row news" *ngFor="let payment of payments">
			<div class="col-xs-12">
				<h5 class="service-heading">
					<strong>{{payment.counterpartyName}}</strong>
					<span class="label label-info">IČO {{payment.counterpartyId}}</span>
					<span *ngIf="payment.paragraph" class="label label-primary">&sect; {{payment.paragraph}}</span>
					<span *ngIf="payment.item" class="label label-success">RP {{payment.item}}</span>
				</h5>
				<p class="text-muted small">
					{{payment.description}}
				</p>
				<div class="row small">
					<div class="col-xs-6">
						{{payment.date | date:"d. M. y"}}
					</div>
					<div class="col-xs-6 text-right text-danger">
						<strong>
							{{payment.amount | money:0:false}} Kč
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 bg-timeline">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h4>
					<div class="label label-danger">
						Nejnovější smlouvy
					</div>	
				</h4>
			</div>
		</div>
		<div class="row news" *ngFor="let contract of contracts">
			<div class="col-xs-12">
				<h5 class="service-heading">
					<strong>{{contract.counterparty}}</strong>
					<a [href]="contract.url" target="_blank" class="label label-info">otevřít</a>
				</h5>
				<p class="text-muted small">{{contract.title}}</p>
				
				<div class="row small">
					<div class="col-xs-6">
						{{contract.date | date:"d. M. y"}}
					</div>
					<div class="col-xs-6 text-right text-danger">
						<strong>
							{{contract.amount | money:0:false}} Kč
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="row budgets">
	<div class="col-sm-4" *ngFor="let budget of budgets">
		<div class="budget">
			<h4 class="text-center"><div class="label label-danger">Rozpočet {{budget.year}}</div></h4>
			<br><br>
			<chart-budget [data]="budget" [max]="maxBudgetAmount"></chart-budget>
		</div>
	</div>
	
	<!--
		<svg viewBox="0 0 1000 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">


			<g *ngFor="let budget of budgets; let i = index;">
				<text [attr.x]="getXOffset(i)" [attr.y]="25" style="fill:#aaa;font-size:20px;text-anchor:middle;">{{budget.year}}</text>

				<path [attr.d]="'M '+(getXOffset(i)-100)+',150 L '+(getXOffset(i)+100)+',150'" stroke="#e0e0e0" stroke-width="1"/>

				<g>
					<path [attr.d]="getIncSemicirclePath(budget,i)" fill="#f0f0f0" stroke="#ffffff" stroke-width="1" />
					<path [attr.d]="getExpSemicirclePath(budget,i)" fill="#e0e0e0" stroke="#ffffff" stroke-width="1" />
					<path [attr.d]="getDiffSemicirclePath(budget,i)" [attr.fill]="getDiffSemicircleFill(budget,i)" stroke="#ffffff" stroke-width="1" />

					<text	[attr.x]="getXOffset(i)" 
								[attr.y]="(budget.expenditureAmount > budget.incomeAmount ? 145 : 170)" 
								[attr.fill]="(budget.expenditureAmount > budget.incomeAmount ? '#E73431' : '#2581C4')"
								style="font-weight: bold;font-size:20px;text-anchor:middle;">
						{{budget.expenditureAmount > budget.incomeAmount ? '' : '+'}} {{(budget.incomeAmount - budget.expenditureAmount) | money:0:true}}
					</text>
				</g>
			</g>
		</svg>
-->
</div>

<div class="row generalinfo hidden">
	<div class="col-sm-6">

		<h4 class="text-center"><div class="label label-danger">Základní údaje</div></h4>
		
		<div class="small">
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-map-signs"></i> Adresa</strong></div>
				<div class="col-xs-6 address">{{profile.entity.address | address}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-hashtag"></i> ZÚJ</strong></div>
				<div class="col-xs-6">{{profile.entity._id}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-hashtag"></i> IČO</strong></div>
				<div class="col-xs-6">{{profile.entity.ico}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-envelope"></i> Email</strong></div>
				<div class="col-xs-6">{{profile.entity.email}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-globe"></i> Datová schránka</strong></div>
				<div class="col-xs-6">{{profile.entity.dataBox}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-external-link"></i> Web</strong></div>
				<div class="col-xs-6"><a href="http://www.nmnm.cz" target="_blank">www.nmnm.cz</a></div>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		
		<h4 class="text-center"><div class="label label-danger">Provoz obecního úřadu</div></h4>

		<div class="row rowHours" *ngFor="let day of days;let i = index">
			<div class="col-xs-1 dayTitle">{{daysCZ[i]}}</div>
			<div class="col-xs-11 barHours">
				<div *ngFor="let openHours of profile.entity.openHours[day]" class="barHoursOpened" [style.left]="getHoursBarLeft(openHours)+'%'"  [style.width]="getHoursBarWidth(openHours)+'%'">
					<div class="titleHours titleHoursStart">{{openHours.from}}</div>
					<div class="titleHours titleHoursEnd">{{openHours.to}}</div>
				</div>
			</div>
		</div>
	</div>
</div>