<div class="row">
	
	<div class="col-md-12">

		<h2 class="text-center">
			<i class="fa fa-calendar"></i>
			Aktuálně
		</h2>

	</div>

	<div class="col-md-6">
		<div class="row news" *ngFor="let payment of payments">
			<div class="col-xs-10 col-xs-offset-1">
				<h5 class="service-heading">
					<strong>{{payment.counterpartyName}}</strong>
					<span class="label label-info">IČO {{payment.counterpartyId}}</span>
					<span *ngIf="payment.paragraph" class="label label-primary">&sect; {{payment.paragraph}}</span>
					<span *ngIf="payment.item" class="label label-success">RP {{payment.item}}</span>
				</h5>
				<p class="text-muted">{{payment.date | date:"d. M. y"}} {{payment.description}} <strong class="pull-right">{{payment.amount | money:0:false}} Kč</strong></p>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row news" *ngFor="let contract of contracts">
			<div class="col-xs-10 col-xs-offset-1">
				<h5 class="service-heading">
					<strong>{{contract.counterparty}} - {{contract.title}}</strong>
					<a [href]="contract.url" target="_blank" class="label label-info">otevřít</a>
				</h5>
				<p class="text-muted">{{contract.date | date:"d. M. y"}}<strong class="pull-right">{{contract.amount | money:0:false}} Kč</strong></p>
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-sm-12">

		<h2 class="text-center">
			<i class="fa fa-balance-scale"></i>
			Saldo rozpočtů
		</h2>

		<svg viewBox="0 0 1000 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">


			<g *ngFor="let budget of budgets; let i = index;">
				<text [attr.x]="(i+1/2)*1000/4" [attr.y]="25" style="fill:#aaa;font-size:20px;text-anchor:middle;">{{budget.year}}</text>

				<path [attr.d]="'M '+((i+1/2)*1000/4-100)+',150 L '+((i+1/2)*1000/4+100)+',150'" stroke="#e0e0e0" stroke-width="1"/>

				<g>
					<path [attr.d]="getIncSemicirclePath(budget,i)" fill="#f0f0f0" stroke="#ffffff" stroke-width="1" />
					<path [attr.d]="getExpSemicirclePath(budget,i)" fill="#e0e0e0" stroke="#ffffff" stroke-width="1" />
					<path [attr.d]="getDiffSemicirclePath(budget,i)" [attr.fill]="getDiffSemicircleFill(budget,i)" stroke="#ffffff" stroke-width="1" />

					<text	[attr.x]="(i+1/2)*1000/4" 
								[attr.y]="(budget.expenditureAmount > budget.incomeAmount ? 170 : 145)" 
								[attr.fill]="(budget.expenditureAmount > budget.incomeAmount ? '#E73431' : '#2581C4')"
								style="font-weight: bold;font-size:20px;text-anchor:middle;">
						{{budget.expenditureAmount > budget.incomeAmount ? '' : '+'}} {{(budget.incomeAmount - budget.expenditureAmount) | money:0:true}}
					</text>
				</g>
			</g>
		</svg>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<h4>
			<i class="fa fa-info-circle"></i>
			Základní údaje
		</h4>
		<div class="small">
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-map-signs"></i> Adresa</strong></div>
				<div class="col-xs-6 address">{{profile.entity.address | address}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-hashtag"></i> ZÚJ</strong></div>
				<div class="col-xs-6">{{profile.entity._id}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-hashtag"></i> IČO</strong></div>
				<div class="col-xs-6">{{profile.entity.ico}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-envelope"></i> Email</strong></div>
				<div class="col-xs-6">{{profile.entity.email}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-globe"></i> Datová schránka</strong></div>
				<div class="col-xs-6">{{profile.entity.dataBox}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"><strong><i class="fa fa-external-link"></i> Web</strong></div>
				<div class="col-xs-6"><a href="http://www.nmnm.cz" target="_blank">www.nmnm.cz</a></div>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<h4>
			<i class="fa fa-clock-o"></i>
			Provoz obecního úřadu
		</h4>
		<div class="row rowHours" *ngFor="let day of days;let i = index">
			<div class="col-xs-1 dayTitle">{{daysCZ[i]}}</div>
			<div class="col-xs-11 barHours">
				<div *ngFor="let openHours of profile.entity.openHours[day]" class="barHoursOpened" [style.left]="getHoursBarLeft(openHours)+'%'"  [style.width]="getHoursBarWidth(openHours)+'%'">
					<div class="titleHours titleHoursStart">{{openHours.from}}</div>
					<div class="titleHours titleHoursEnd">{{openHours.to}}</div>
				</div>
			</div>
		</div>
	</div>
</div>