<div class="row">

	<div class="col-sm-6 bg-timeline">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h4>
					<div class="label label-red">
						Nejnovější faktury
					</div>
				</h4>
			</div>
		</div>
		<div class="row news" *ngFor="let payment of payments">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-9">
						<h5 class="service-heading">
							{{payment.counterpartyName}}
							<small>
									<a [href]="'http://wwwinfo.mfcr.cz/cgi-bin/ares/ares_es.cgi?jazyk=cz&ico='+payment.counterpartyId+'&cestina=cestina&xml=1'" target="_blank" title="Zápis subjektu v ARES">
										IČO {{payment.counterpartyId}}
									</a>, &sect; {{payment.paragraph}}, RP {{payment.item}}
							</small>
						</h5>
					</div>
					<div class="col-xs-3 small text-right">
						<h5>
							<small>{{payment.date | date:"d. M. y"}}</small>
						</h5>
					</div>
				</div>
				<div class="row vertical-align">
					<div class="col-xs-9">
						<p class="text-muted">
							{{payment.description}}
						</p>
					</div>
					<div class="col-xs-3 text-right vertical-align-end">
						<p><strong>
							{{payment.amount | money:0:false}} Kč
						</strong></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6 bg-timeline">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h4>
					<div class="label label-red">
						Nejnovější smlouvy
					</div>	
				</h4>
			</div>
		</div>
		<div class="row news" *ngFor="let contract of contracts">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-9">
						<h5 class="service-heading">
							{{contract.counterparty}}
							<small>
									<a [href]="contract.url" target="_blank" title="Výpis smlouvy v Registru smluv">
										Smlouva v RS
									</a>
							</small>
						</h5>
					</div>
					<div class="col-xs-3 text-right">
						<h5>
							<small>{{contract.date | date:"d. M. y"}}</small>
						</h5>
					</div>
				</div>
				<div class="row vertical-align">
					<div class="col-xs-9">
						<p class="text-muted">{{contract.title}}</p>
					</div>
					<div class="col-xs-3 text-right vertical-align-end">
						<p><strong>{{contract.amount | money:0:false}} Kč</strong></p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="row budgets">
	<div class="col-sm-3" *ngFor="let budget of budgets">
		<div class="budget">
			<h4 class="text-center"><div class="label label-red">Rozpočet {{budget.year}}</div></h4>
			<br><br>
			<chart-budget [data]="budget" [max]="maxBudgetAmount"></chart-budget>
		</div>
	</div>
</div>