<div class="row legend">
  <div class="col-md-offset-2 col-md-2 text-center invoices">
    <i class="fa fa-square" aria-hidden="true"></i> Faktury
  </div>
  <div class="col-md-2 text-center other">
    <i class="fa fa-square" aria-hidden="true"></i> Ostatní
  </div>
  <div class="col-md-2 text-center budget">
    <i class="fa fa-square" aria-hidden="true"></i> Zbývá
  </div>
  <div
    class="col-md-2 text-center"
    [class.over-expenditure]="type == 'expenditure'"
    [class.over-income]="type == 'income'"
  >
    <i class="fa fa-square" aria-hidden="true"></i> Překročeno
  </div>
</div>

<div class="chart">
  <div class="bar" [style.width]="amount ? amount * 100 + '%' : '1px'">
    <div class="bar invoices" [style.width]="invoices * 100 + '%'"></div>
    <div class="bar other" [style.width]="other * 100 + '%'"></div>

    <div class="desc">
      <div class="lines" *ngIf="amount >= 0.05">
        <div class="lines1">
          <div class="line"></div>
        </div>
        <div class="lines2">
          <div class="line left"></div>
          <div class="line right"></div>
        </div>
      </div>

      <div class="small" *ngIf="amount < 0.05">
        <div class="line"></div>
      </div>

      <p [class.small-left]="amount < 0.17">
        <span *ngIf="isCurrentYear && type == 'expenditure'"
          >Již utraceno z rozpočtu</span
        >
        <span *ngIf="isCurrentYear && type == 'income'"
          >Již přijato do rozpočtu</span
        >
        <span *ngIf="!isCurrentYear && type == 'expenditure'"
          >Utraceno z rozpočtu</span
        >
        <span *ngIf="!isCurrentYear && type == 'income'"
          >Přijato do rozpočtu</span
        >
      </p>
    </div>
  </div>

  <div
    class="bar budget"
    [class.over-expenditure]="over && type == 'expenditure'"
    [class.over-income]="over && type == 'income'"
    [style.width]="1 - amount ? (1 - amount) * 100 + '%' : '1px'"
  >
    <div class="desc">
      <div class="big" *ngIf="1 - amount >= 0.05">
        <div class="lines1">
          <div class="line"></div>
        </div>
        <div class="lines2">
          <div class="line left"></div>
          <div class="line right"></div>
        </div>
      </div>

      <div class="small" *ngIf="1 - amount < 0.05">
        <div class="line"></div>
      </div>

      <p [class.small-right]="1 - amount < 0.17">
        <ng-container *ngIf="!over">
          <span *ngIf="isCurrentYear && type == 'expenditure'"
            >Ještě zbývá v rozpočtu</span
          >
          <span *ngIf="isCurrentYear && type == 'income'"
            >Ještě očekáváme do rozpočtu</span
          >
          <span *ngIf="!isCurrentYear && type == 'expenditure'"
            >Ještě zbývalo v rozpočtu</span
          >
          <span *ngIf="!isCurrentYear && type == 'income'"
            >Ještě jsme očekávali do rozpočtu</span
          >
        </ng-container>
        <span *ngIf="over">Překročený rozpočet</span>
      </p>
    </div>
  </div>
</div>

<div class="clear"></div>
