<div class="row legend">
  <div class="offset-md-2 col-md-2 text-center invoices">
    <i class="fa fa-square" aria-hidden="true"></i> Faktury
  </div>
  <div class="col-md-2 text-center other">
    <i class="fa fa-square" aria-hidden="true"></i> Ostatní
  </div>
  <div class="col-md-2 text-center budget">
    <i class="fa fa-square" aria-hidden="true"></i> Zbývá
  </div>
  <div
    class="col-md-2 text-center"
    [class.over-expenditure]="type == 'expenditure'"
    [class.over-income]="type == 'income'"
  >
    <i class="fa fa-square" aria-hidden="true"></i> Překročeno
  </div>
</div>

<div class="chart">
  <div class="bar" [style.width]="amount ? amount * 100 + '%' : '1px'">
    <div class="bar invoices" [style.width]="invoices * 100 + '%'"></div>
    <div class="bar other" [style.width]="other * 100 + '%'"></div>

    <div class="desc">
      @if (amount >= 0.05) {
        <div class="lines">
          <div class="lines1">
            <div class="line"></div>
          </div>
          <div class="lines2">
            <div class="line left"></div>
            <div class="line right"></div>
          </div>
        </div>
      }

      @if (amount < 0.05) {
        <div class="small">
          <div class="line"></div>
        </div>
      }

      <p [class.small-left]="amount < 0.17">
        @if (isCurrentYear && type == "expenditure") {
          <span>Již utraceno z rozpočtu</span>
        }
        @if (isCurrentYear && type == "income") {
          <span>Již přijato do rozpočtu</span>
        }
        @if (!isCurrentYear && type == "expenditure") {
          <span>Utraceno z rozpočtu</span>
        }
        @if (!isCurrentYear && type == "income") {
          <span>Přijato do rozpočtu</span>
        }
      </p>
    </div>
  </div>

  <div
    class="bar budget"
    [class.over-expenditure]="over && type == 'expenditure'"
    [class.over-income]="over && type == 'income'"
    [style.width]="1 - amount ? (1 - amount) * 100 + '%' : '1px'"
  >
    <div class="desc">
      @if (1 - amount >= 0.05) {
        <div class="big">
          <div class="lines1">
            <div class="line"></div>
          </div>
          <div class="lines2">
            <div class="line left"></div>
            <div class="line right"></div>
          </div>
        </div>
      }

      @if (1 - amount < 0.05) {
        <div class="small">
          <div class="line"></div>
        </div>
      }

      <p [class.small-right]="1 - amount < 0.17">
        @if (!over) {
          @if (isCurrentYear && type == "expenditure") {
            <span>Ještě zbývá v rozpočtu</span>
          }
          @if (isCurrentYear && type == "income") {
            <span>Ještě očekáváme do rozpočtu</span>
          }
          @if (!isCurrentYear && type == "expenditure") {
            <span>Ještě zbývalo v rozpočtu</span>
          }
          @if (!isCurrentYear && type == "income") {
            <span>Ještě jsme očekávali do rozpočtu</span>
          }
        }
        @if (over) {
          <span>Překročený rozpočet</span>
        }
      </p>
    </div>
  </div>
</div>

<div class="clear"></div>
