.rulerBars {
  background-color: #ffffff;
  background-image: 
    linear-gradient(90deg, 
      transparent 98%,
      rgba(73, 73, 73, 0.5) 2%
    ), 
    linear-gradient(180deg, 
      #ffffff 70%, 
      transparent 70%
    ), 
    linear-gradient(90deg, 
      transparent 50%, 
      rgba(73, 73, 73, 0.5) 50%, 
      rgba(73, 73, 73, 0.5) 52%, 
      transparent 52%
    )
		;
  background-size: calc(100%/12) 25px;
  background-repeat: repeat-x;
  min-height: 20px;
  /* only needed for labels */
  white-space:nowrap;
  font-size:0;
  padding:0px;
	margin-bottom: 1em;
}
.eEBars {
  margin-top: 20px;
}
.eETimeline {
  margin:10px;
}
label {
  font-size:11px;
	color: #888;
  padding-top:0px;
	text-align: center;
  display:inline-block;
  width:calc(100%/12);
	font-weight: normal;
}
.eEBarBounds {
	position: relative;
	cursor: pointer;
}
.eEBar {
	height: 25px;
	min-width: 80px;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	border-radius: 3px;
	background: rgba(170, 221, 255, 0.41);
	border-bottom: 2px solid #2581C4;
}
.eEBar .title {
	font-size: 13px;
	line-height: 25px;
	color: #2581C4;
	font-weight: bold;
	white-space: nowrap;
	overflow-x: hidden;
  text-overflow:ellipsis;
	padding-left: 5px;
	transition-duration: .5s;
}
.eEBarBounds:hover .title {
	background: #2581C4;
	border-radius: 3px;
	color: white;
}
.amountBubble {
	border-radius: 100%;
	top: 12px;
	left: 42px;
	position: absolute;
	z-index: 0;
	background: rgba(222, 222, 222, 0.2);
	border: 1px solid rgba(222, 222, 222, 0.3);
	transform: translate(-50%, -50%);
	transition-duration: .5s;
}
.eEBarBounds:hover .amountBubble {
	background: rgba(222, 222, 222, 0.5);
	border: 1px solid rgba(222, 222, 222, 0.6);
}


.barArrow {
	height: 0px;
  width: 0px;
  position: absolute;
	top: 0px;
	z-index:1;
}
.barArrow i.fa {
	position: absolute;
	top: 6px;
	color: #2581C4;
}
.leftArrow  {
	left: 0px;
}
.rightArrow {
	right: 0px;
}
.leftArrow i.fa {
	left: -10px;
}
.rightArrow i.fa {
	right: -10px;
}