<h2 class="hidden">Investiční akce</h2>

<div class="row">
	<div class="col-xs-3">
		<button class="btn btn-default btn-sm">
			<i class="fa fa-chevron-left"></i> 2015
		</button>
	</div>
	<div class="col-xs-6 text-center">
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-default active">ROK</button>
			<button type="button" class="btn btn-sm btn-default">PŮLROK</button>
			<button type="button" class="btn btn-sm btn-default">KVARTÁL</button>
		</div>
	</div>
	<div class="col-xs-3 text-right">
		<button class="btn btn-default btn-sm">
			2017 <i class="fa fa-chevron-right"></i>
		</button>
	</div>
</div>

<div class="row eETimeline">
	<p class="text-center text-muted small">2016</p>
	<div class="rulerBars">
		<label *ngFor="let mesic of nazvyMesice">{{mesic}}</label>
	</div>

	<div class="eEBars">
		<div class="eEBarBounds" *ngFor="let event of events" [style.margin-left]="getDateRangeFrac(event.from)+'%'" [style.margin-right]="(100*(1-getDateRangeFrac(event.till)))+'%'" (click)="openEvent(event)">
			<div class="barArrow leftArrow" *ngIf="isOverlapToPast(event.from)">
				<i class="fa fa-angle-double-right"></i>
			</div>
			<div class="amountBubble" [style.width]="getAmountBubbleSize(event.budgetAmount)+'px'" [style.height]="getAmountBubbleSize(event.budgetAmount)+'px'" ></div>
			<div class="eEBar">
				<div class="title">{{event.name}}</div>
			</div>
			<div class="barArrow rightArrow" *ngIf="isOverlapToFuture(event.till)">
				<i class="fa fa-angle-double-right"></i>
			</div>
		</div>
	</div>
</div>

<div class="modals">
	<div bsModal #expendituresEventModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" (click)="expendituresEventModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{{LoremEE[tempModalEEIndex].title}}</h4>
				</div>
				<div class="modal-body">
					<div class="rulerBars">
						<label *ngFor="let mesic of nazvyMesice">{{mesic}}</label>
					</div>
					<div class="eEBars">
						<div class="eEBarBounds">
							<div *ngFor="let e of LoremEE[tempModalEEIndex].expenditures" 
									 class="amountBubble" 
									 [style.left]="" 
									 [style.width]="getExpenditureAmountBubbleSize(LoremEE[tempModalEEIndex],e.amount)+'px'" 
									 [style.height]="getExpenditureAmountBubbleSize(LoremEE[tempModalEEIndex],e.amount)+'px'" ></div>
						</div>
					</div>
					<table>
						<tbody>
							<tr *ngFor="let e of LoremEE[tempModalEEIndex].expenditures">
								<td>{{e.title}}</td>
								<td>{{e.title}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>