header {
	display: block;  
	background: #2581C4;
	background-size: 100% auto; background-position: center -212px; 
	text-align: left;
	color: white;
	font-weight: bold;
	border-bottom: 5px solid #2581C4;
  padding:50px 0;
}

header svg {
  min-width: 300px;
  width: 67%;
  max-width: 750px;
}

#intro p{text-align:center;font-size:1.5em;margin:50px}
#intro a{display:block;text-align:center;font-size:2em;}