
<h2 class="hidden">uživatelé</h2>

<div *ngIf="userLoading" class="loading">
  <p>Načítám...</p>  
</div>

<site-admin-user *ngIf="currentUser" [user]="currentUser" (save)="saveUser($event)" (delete)="deleteUser($event)" (close)="selectUser(null)"></site-admin-user>

<div class="users">
  <h3 class="hidden">Seznam uživatelů</h3>
  <table class="table table-condensed table-hover table-striped">

    <thead>
      <th>ID</th>
      <th>Login</th>
      <th>Role</th>
    </thead>

    <tbody>
      <tr *ngFor="let user of users" class="user" [class.info]="currentUser?.id === user.id" (click)="selectUser(user.id)">
        <td>{{user.id}}</td>
        <td>{{user.login}}</td>
        <td>{{user.roles | concat:', '}}</td>
      </tr>
  </table>
</div>

<p><a (click)="createUser()">Vytvořit nového uživatele</a></p>