<div *ngIf="event">
	<h2>{{event.name}} ({{event.year}})</h2>

	<tabset #detailTabs>
		<tab heading="Přehled">
			
			<ng-container *ngIf="event.description">
				<h3>Popis</h3>
				<p>{{event.description}}</p>
			</ng-container>
			
			<h3>Výdaje</h3>

			<div class="overview">
				<ng-container *ngIf="event.expenditureAmount || event.budgetExpenditureAmount; else noExpenditures">
					
					<table class="amounts">
						<tr>
							<th>Rozpočet:</th>
							<td>{{event.budgetExpenditureAmount | money:0:false}} Kč</td>
						</tr>
						<tr>
							<th>Plnění:</th>
							<td>{{event.expenditureAmount | money:0:false}} Kč</td>
						</tr>
					</table>

					<chart-event-overview type="expenditure" [data]="event"></chart-event-overview>
					
				</ng-container>
				
				<ng-template #noExpenditures><p>Tato akce nemá žádné uskutečněné ani rozpočtované výdaje.</p></ng-template>
			</div>
			
			<h3>Příjmy</h3>
			<div class="overview">

				<ng-container *ngIf="event.incomeAmount || event.budgetIncomeAmount; else noIncome">
					
					<table class="amounts">
						<tr>
							<th>Rozpočet:</th>
							<td>{{event.budgetIncomeAmount | money:0:false}} Kč</td>
						</tr>
						<tr>
							<th>Plnění:</th>
							<td>{{event.incomeAmount | money:0:false}} Kč</td>
						</tr>
					</table>

					<chart-event-overview type="income" [data]="event"></chart-event-overview>
					
				</ng-container>
				
				<ng-template #noIncome><p>Tato akce nemá žádné uskutečněné ani rozpočtované příjmy.</p></ng-template>
			</div>
		</tab>
		
		<tab heading="Roční srovnání">
			<div class="container-fluid">
				<div class="historychart row">
					<div class="col-2 header">
						<table class="table">
							<thead>
								<tr style="height:30px;"><th>Rok</th></tr>
								<tr style="height:30px;"><td>Název</td></tr>
								<tr style="height:123px;"><td></td></tr>
								<tr style="height:60px;"><td>Výdaje</td></tr>
								<tr style="height:60px;"><td>Příjmy</td></tr>
							</thead>
						</table>
					</div>
					<div class="col-10 data">
						<table class="table table-hover">
							<thead>
								<tr style="height:30px;">
									<th *ngFor="let historyEvent of history">{{historyEvent.year}} <a class="open" (click)="selectEvent.emit(historyEvent._id)">otevřít</a></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr style="height:30px;">
									<td *ngFor="let historyEvent of history"><span class="crop" [title]="historyEvent.name">{{historyEvent.name}}</span></td>
									<td></td>
								</tr>
								<tr style="height:123px;">
									<td *ngFor="let historyEvent of history">
										<div class="row">
												<div class="col-6">
													<chart-budget [data]="historyEvent" [type]="'expenditure'" [max]="maxHistoryAmount"></chart-budget>
												</div>
												<div class="col-6">
													<chart-budget [data]="historyEvent" [type]="'income'" [max]="maxHistoryAmount"></chart-budget>
												</div>
										</div>
									</td>
									<td></td>
								</tr>
								<tr style="height:60px;">
									<td *ngFor="let historyEvent of history">
										<i class="fa fa-square" style="color:#ff9491;"></i> Rozpočet: <span class="amount">{{historyEvent.budgetExpenditureAmount | money:0:false}} Kč</span><br>
										<i class="fa fa-square" style="color:#e73431;"></i> Skutečnost: <span class="amount">{{historyEvent.expenditureAmount | money:0:false}} Kč</span><br>
									</td>
									<td></td>
								</tr>
								<tr style="height:60px;">
									<td *ngFor="let historyEvent of history">
										<i class="fa fa-square" style="color:#adf;"></i> Rozpočet: <span class="amount">{{historyEvent.budgetIncomeAmount | money:0:false}} Kč</span><br>
										<i class="fa fa-square" style="color:#2581c4;"></i> Skutečnost: <span class="amount">{{historyEvent.incomeAmount | money:0:false}} Kč</span>
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</tab>

		<tab heading="Výdaje" [active]="openTab=='exp'">

			<p *ngIf="!event.budgetExpenditureAmount && !event.expenditureAmount">Tato akce nemá žádné rozpočtované ani uskutečněné výdaje.</p>

			<table *ngIf="event.budgetExpenditureAmount || event.expenditureAmount" class="table table-title-number-number">
				<thead>
					<tr>
						<th>Rozpočtové paragrafy</th>
						<th class="text-right">
							Rozpočtovaná částka
						</th>
						<th class="text-right">
							Skutečné výdaje
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3" class="td-zerosidepadding">
							<table class="table borderless table-title-number-number-td table-nobottommargin">
								<tbody>
									<tr *ngFor="let paragraph of event.paragraphs; let i = index">
										<td>§ {{paragraph.id}} - {{paragraphNames[paragraph.id]}}</td>
										<td class="text-right font-number">{{paragraph.budgetExpenditureAmount | money:0:false}} Kč</td>
										<td class="text-right font-number">
											<strong [class.text-success]="paragraph.expenditureAmount < 0" [class.text-red]="paragraph.expenditureAmount > 0" class="font-number">
												{{paragraph.expenditureAmount | money:0:false}} Kč	
											</strong>
										</td>
									</tr>
								</tbody>	
							</table>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td><strong>Součet</strong></td>
						<td class="text-right font-number"><strong>{{event.budgetExpenditureAmount | money:0:false}} Kč</strong></td>
						<td class="text-right font-number">
							<strong [class.text-success]="event.expenditureAmount < 0" [class.text-red]="event.expenditureAmount > 0" class="font-number">
								{{event.expenditureAmount | money:0:false}} Kč
							</strong>
						</td>
					</tr>
				</tfoot>
			</table>
		</tab>

		<tab heading="Příjmy" [active]="openTab=='inc'">

			<div *ngIf="!event.budgetIncomeAmount && !event.incomeAmount" class="text-muted text-center info-box">
				<i class="fa fa-exclamation-circle fa-2x"></i>
				<p>Tato akce nemá žádné rozpočtované ani uskutečněné příjmy.</p>
			</div>

			<table *ngIf="event.budgetIncomeAmount || event.incomeAmount" class="table table-title-number-number">
				<thead>
					<tr>
						<th>Rozpočtové položky</th>
						<th class="text-right">Rozpočtovaná částka</th>
						<th class="text-right">Skutečný příjem</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3" class="td-zerosidepadding">
							<table class="table borderless table-title-number-number-td table-nobottommargin">
								<tbody>
									<tr *ngFor="let item of event.items">
										<td># {{item.id}} - {{itemNames[item.id]}}</td>
										<td class="text-right font-number">
											{{item.budgetIncomeAmount | money:0:false}} Kč
										</td>
										<td class="text-right font-number">
											<strong [class.text-success]="item.incomeAmount > 0" [class.text-red]="item.incomeAmount < 0" class="font-number">
												{{item.incomeAmount | money:0:false}} Kč	
											</strong>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Součet</td>
						<td class="text-right font-number">{{event.budgetIncomeAmount | money:0:false}} Kč</td>
						<td class="text-right font-number text-success">
							<strong [class.text-success]="event.incomeAmount > 0" [class.text-red]="event.incomeAmount < 0" class="font-number">
								{{event.incomeAmount | money:0:false}} Kč
							</strong>
						</td>
					</tr>
				</tfoot>
			</table>
		</tab>
		<tab heading="Faktury">

			<div *ngIf="counterparties.length == 0" class="text-muted text-center info-box">
				<i class="fa fa-exclamation-circle fa-2x"></i>
				<p>Žádné faktury či výdaje k zobrazení.</p>
			</div>
			
			<table *ngIf="counterparties.length" class="table table-hover payments">
				<thead>
					<tr>
						<th>Dodavatel</th>
						<th class="text-right">Částka</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let counterparty of counterparties">
						<tr (click)="openPayments(counterparty)" [class.opened]="counterparty.open" class="counterparty">
							<td>
								<i class="fa fa-chevron-circle-right"></i> {{counterparty.name}}
								<a *ngIf="counterparty.id" [href]="'http://wwwinfo.mfcr.cz/cgi-bin/ares/ares_es.cgi?jazyk=cz&ico='+counterparty.id+'&cestina=cestina&xml=1'" target="_blank" title="Zápis subjektu v ARES" class="text-muted">IČO {{counterparty.id}}</a>
							</td>
							<td class="text-right">
								<strong [class.text-success]="counterparty.total > 0" [class.text-red]="counterparty.total < 0" class="font-number">
									{{counterparty.total | abs | money:0:false}} Kč
								</strong>
							</td>
						</tr>
						<tr class="list">
							<td colspan="3">
								<div [@paymentsState]="counterparty.open ? 'open' : 'closed'">
									<table class="table borderless table-label-date-title-number table-nobottommargin">
										<tr *ngFor="let payment of counterparty.payments">
											<td>
												<span *ngIf="payment.item < 5000" class="badge bg-success">Příjem</span>
												<span *ngIf="payment.item >= 5000" class="badge bg-danger text-light">Výdaj</span>
											</td>
											<td>{{payment.date | date:"d. M. y"}}</td>
											<td>{{payment.description}}</td>
											<td class="text-right font-number">{{payment.amount | money:0:false}} Kč</td>
										</tr>
										<tr *ngIf="counterparty.payments.length == 0">
											<td colspan="4" class="text-muted text-center">
												<i class="fa fa-exclamation-circle fa-2x"></i>
												<p class="text-muted">Žádné faktury či výdaje k zobrazení.</p>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</tab>
	</tabset>

</div>