# compiled test output
/src/**/*.js
/src/**/*.js.map
!systemjs.config.js
!index.html
!index.ts

# compilation byproducts
/build/src
/build/node_modules

# sensitive data
mongo-config.js
/cert/*.pem

# dependencies
/node_modules
/build/node_modules
/typings

# uploads
/server/uploads

# misc
npm-debug.log