# compiled output
/src/**/*.js
/src/**/*.js.map
/build
!systemjs.config.js
!index.html
!index.ts

# sensitive data
mongo-express-config.js
/cert/*.pem

# dependencies
/node_modules
/build/node_modules
/typings

# data
/uploads
/exports

# misc
npm-debug.log