# compiled output
/src/**/*.js
/src/**/*.js.map
/build/dist
/build/node-modules
/build/src
/build/**/*.js
/build/**/*.js.map
!systemjs.config.js

# sensitive data
mongo-express-config.js
/server/cert/*

# dependencies
/node_modules
/build/node_modules
/typings

# data
/uploads
/exports

# misc
npm-debug.log