<table class="table table-hover">
  <tbody>
    @for (model of selectionModels; track model) {
      <tr>
        <th>{{ model.profile.name }}</th>
        <td class="text-end" style="width: 50%">
          @if (model.children.length > 0 && !model.isAnyChildrenManaged) {
            <button
              class="btn btn-success btn-sm mr-3"
              (click)="addChildren(model)"
              >
              Přidat podřazené profily
            </button>
          }
          @if (model.children.length > 0 && model.isAnyChildrenManaged) {
            <button
              class="btn btn-danger btn-sm mr-3"
              (click)="removeChildren(model)"
              >
              Odebrat podřazené profily
            </button>
          }
          @if (!model.isManaged) {
            <button
              class="btn btn-primary btn-sm"
              (click)="addProfile(model.profile.id)"
              >
              Přidat
            </button>
          }
          @if (model.isManaged) {
            <button
              class="btn btn-default btn-sm"
              (click)="removeProfile(model.profile.id)"
              >
              Odebrat
            </button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
