/*
|--------------------------------------------------------------------------
| Common/Helpers
|--------------------------------------------------------------------------
*/

/* Alignment */
.text-center { 
    text-align: center;
}

.text-right { 
    text-align: right; 
}

.text-left { 
    text-align: left; 
}

/* Flex alignment */
.align-items-center {
    align-items: center;
}

/* Colors */
.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-black {
    color: $black;
}

/* Selection */
.unselectable {
    user-select: none;
}