/*
|--------------------------------------------------------------------------
| Common/Variables
|--------------------------------------------------------------------------
|
| General variables used by components. It is recommended to stick
| to pseudo-Bootstrap naming convention for better compatibility.
*/

/* Typo */
$font-family-sans-serif: 'IBM Plex Sans', sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-lg: 24px !default;    // Form labels and hero text
$font-size-md: 18px !default;    // General text, navigation
$font-size-sm: 14px !default;    // Form helpers, checkboxes

/* Colors */
$primary:                 #6fcf97 !default;
$secondary:               #1e2a37 !default;
$white:                   #fff !default;
$black:                   #000 !default;
$gray:                    #f5f5f5 !default;
$text-gray:               #cacaca !default;

$body-bg:                   $white !default;
$body-color:                $secondary !default;
$body-hero:                 $black !default;

/* Border radius */
$border-radius-base:        4px;   // Applied to inputs

/* Form */
$input-height-base:         50px !default;

/* Buttons */
$btn-height-base:           50px !default;

/* Grid */
$grid-gutter-width:         0 !default;
$grid-columns:              12 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-width: 70vw;
