<div id="entity" *ngIf="entity">
	
	<header id="headerObec">
		<div class="container">
			<h1>
				<i class="fa fa-map-signs"></i>
				<a routerLink="/" routerLinkActive="active">{{entity ? entity.name : ""}}</a>
			</h1>
			<nav role="navigation">
				<a routerLink="/" routerLinkActive="active" class="btn">
					<i class="fa fa-chevron-circle-right"></i> 
					<span>Vybrat jinou obec</span>
				</a>
			</nav>
		</div>
	</header>

<div id="content">
	
	<div class="page container">
		<div class="row">
			<div class="col-sm-4">
				<!-- left -->
				<h2>Správa profilu</h2>
				<hr>

				<div class="list-group">
					<a  *ngFor="let module of modules"[style.display]="(entity.modules[module.id] || !module.optional)?'inherit':'none'" [routerLink]="getModuleLink(module)" class="list-group-item" routerLinkActive="active"><i class="fa" [class]="module.icon"></i> {{module.name}}</a>
				</div>

				<hr>
				<ul class="nav nav-stacked">
					<li class="nav-item"><a [routerLink]="['../sprava-modulu']" class="nav-link"><i class="fa fa-cog"></i> Správa modulů</a></li>
					<li class="nav-item"><a [routerLink]="getCloseLink()" class="nav-link"><i class="fa fa-cog"></i> Zavřít správu</a></li>
				</ul>

			</div>

			<div class="col-sm-8" [ngSwitch]="view">
				<div [ngSwitch]="view">

					<dash-board-admin *ngSwitchCase="'dashboard'" [entity]="entity"></dash-board-admin>

					<notice-board-admin *ngSwitchCase="'uredni-deska'" [data]="getModuleData('uredni-deska')" (save)="saveEntity()"></notice-board-admin>

					<entity-admin-modules *ngSwitchCase="'sprava-modulu'" [entity]="entity"></entity-admin-modules>

					<div *ngSwitchDefault>
						<p>Tento modul nemá žádná nastavení.</p>
					</div>

				</div>

				<div>
					<pre>{{dataString}}</pre>
				</div>

			</div>


		</div>
	</div>