@if (event) {
  <div>
    <h2>{{ event.name }} ({{ year }})</h2>
    <tabset #detailTabs>
      <tab heading="Přehled">
        @if (event.description) {
          <h3>Popis</h3>
          <p>{{ event.description }}</p>
        }
        <h3>{{ "profile." + profile.type + ".expenditures" | translate }}</h3>
        <div class="overview">
          @if (event.expenditureAmount || event.budgetExpenditureAmount) {
            <table class="amounts">
              <tr>
                <th>
                  {{ "profile." + profile.type + ".budget" | translate }}:
                </th>
                <td>
                  {{ event.budgetExpenditureAmount | money: 0 : false }} Kč
                </td>
              </tr>
              <tr>
                <th>
                  {{ "profile." + profile.type + ".utilization" | translate }}:
                </th>
                <td>{{ event.expenditureAmount | money: 0 : false }} Kč</td>
              </tr>
            </table>
            @if (
              event.expenditureAmount > 0 || event.budgetExpenditureAmount > 0
            ) {
              <chart-event-overview
                type="expenditure"
                [event]="event"
                [isCurrentYear]="isCurrentYear"
              />
            }
          } @else {
            <p>Tato akce nemá žádné uskutečněné ani rozpočtované výdaje.</p>
          }
        </div>
        <h3>{{ "profile." + profile.type + ".incomes" | translate }}</h3>
        <div class="overview">
          @if (event.incomeAmount || event.budgetIncomeAmount) {
            <table class="amounts">
              <tr>
                <th>
                  {{ "profile." + profile.type + ".budget" | translate }}:
                </th>
                <td>{{ event.budgetIncomeAmount | money: 0 : false }} Kč</td>
              </tr>
              <tr>
                <th>
                  {{ "profile." + profile.type + ".utilization" | translate }}:
                </th>
                <td>{{ event.incomeAmount | money: 0 : false }} Kč</td>
              </tr>
            </table>
            @if (event.incomeAmount > 0 || event.budgetIncomeAmount > 0) {
              <chart-event-overview
                type="income"
                [event]="event"
                [isCurrentYear]="isCurrentYear"
              />
            }
          } @else {
            <p>Tato akce nemá žádné uskutečněné ani rozpočtované příjmy.</p>
          }
        </div>
      </tab>
      @if (isMunicipality) {
        <tab heading="Roční srovnání">
          <div class="container-fluid">
            <div class="historychart row">
              <div class="col-2 header">
                <table class="table">
                  <thead>
                    <tr style="height: 30px">
                      <th>Rok</th>
                    </tr>
                    <tr style="height: 30px">
                      <td>Název</td>
                    </tr>
                    <tr style="height: 123px">
                      <td></td>
                    </tr>
                    <tr style="height: 60px">
                      <td>
                        {{ "profile.municipality.expenditures" | translate }}
                      </td>
                    </tr>
                    <tr style="height: 60px">
                      <td>{{ "profile.municipality.incomes" | translate }}</td>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="col-10 data">
                <table class="table table-hover">
                  <thead>
                    <tr style="height: 30px">
                      @for (historyEvent of history; track historyEvent) {
                        <th>
                          {{ historyEvent.year }}
                          <a class="open" (click)="openYear(historyEvent.year)"
                            >otevřít</a
                          >
                        </th>
                      }
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="height: 30px">
                      @for (historyEvent of history; track historyEvent) {
                        <td>
                          <span class="crop" [title]="historyEvent.name">{{
                            historyEvent.name
                          }}</span>
                        </td>
                      }
                      <td></td>
                    </tr>
                    <tr style="height: 123px">
                      @for (historyEvent of history; track historyEvent) {
                        <td>
                          <div class="row">
                            <div class="col-6">
                              <chart-budget
                                [data]="historyEvent"
                                [type]="'expenditure'"
                                [max]="maxHistoryAmount"
                              />
                            </div>
                            <div class="col-6">
                              <chart-budget
                                [data]="historyEvent"
                                [type]="'income'"
                                [max]="maxHistoryAmount"
                              />
                            </div>
                          </div>
                        </td>
                      }
                      <td></td>
                    </tr>
                    <tr style="height: 60px">
                      @for (historyEvent of history; track historyEvent) {
                        <td>
                          <i class="fa fa-square" style="color: #ff9491"></i>
                          {{ "profile.budget" | translate }}:
                          <span class="amount"
                            >{{
                              historyEvent.budgetExpenditureAmount
                                | money: 0 : false
                            }}
                            Kč</span
                          ><br />
                          <i class="fa fa-square" style="color: #e73431"></i>
                          {{ "profile.actual" | translate }}:
                          <span class="amount"
                            >{{
                              historyEvent.expenditureAmount | money: 0 : false
                            }}
                            Kč</span
                          ><br />
                        </td>
                      }
                      <td></td>
                    </tr>
                    <tr style="height: 60px">
                      @for (historyEvent of history; track historyEvent) {
                        <td>
                          <i class="fa fa-square" style="color: #adf"></i>
                          {{ "profile.budget" | translate }}:
                          <span class="amount"
                            >{{
                              historyEvent.budgetIncomeAmount | money: 0 : false
                            }}
                            Kč</span
                          ><br />
                          <i class="fa fa-square" style="color: #2581c4"></i>
                          {{ "profile.actual" | translate }}:
                          <span class="amount"
                            >{{
                              historyEvent.incomeAmount | money: 0 : false
                            }}
                            Kč</span
                          >
                        </td>
                      }
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </tab>
      }
      <tab
        [heading]="
          'Faktury (' +
          (event && event.payments ? event.payments!.length : 0) +
          ')'
        "
      >
        @if (!counterparties || !counterparties.length) {
          <div class="text-muted text-center info-box">
            <i class="fa fa-exclamation-circle fa-2x"></i>
            <p>Žádné faktury či výdaje k zobrazení.</p>
          </div>
        }
        @if (counterparties && counterparties.length) {
          <table class="table table-responsive table-hover payments">
            <thead>
              <tr>
                <th>Dodavatel</th>
                <th class="text-end">Částka</th>
              </tr>
            </thead>
            <tbody>
              @for (counterparty of counterparties; track counterparty) {
                <tr
                  (click)="openPayments(counterparty)"
                  [class.opened]="counterparty.open"
                  class="counterparty"
                >
                  <td>
                    <i class="fa fa-chevron-circle-right"></i>
                    {{ counterparty.name }}
                    @if (counterparty.id) {
                      <a
                        [href]="
                          'http://www.info.mfcr.cz/cgi-bin/ares/ares_es.cgi?jazyk=cz&ico=' +
                          counterparty.id! +
                          '&cestina=cestina&xml=1'
                        "
                        target="_blank"
                        title="Zápis subjektu v ARES"
                        class="text-muted small"
                        >IČO {{ counterparty.id }}</a
                      >
                    }
                  </td>
                  <td class="text-end">
                    <strong
                      [class.text-success]="counterparty.amount > 0"
                      [class.text-red]="counterparty.amount < 0"
                      class="font-number"
                    >
                      {{ counterparty.amount | abs | money: 0 : false }} Kč
                    </strong>
                  </td>
                </tr>
                <tr class="list">
                  <td colspan="3">
                    <div
                      [@paymentsState]="counterparty.open ? 'open' : 'closed'"
                    >
                      <table
                        class="table table-responsive small table-label-date-title-number table-nobottommargin"
                      >
                        @for (payment of counterparty.payments; track payment) {
                          <tr>
                            <td>
                              @if (
                                payment.incomeAmount -
                                  payment.expenditureAmount >
                                0
                              ) {
                                <span class="badge bg-success">
                                  {{
                                    "profile." + profile.type + ".income"
                                      | translate
                                  }}
                                </span>
                              }
                              @if (
                                payment.incomeAmount -
                                  payment.expenditureAmount <
                                0
                              ) {
                                <span class="badge bg-danger">
                                  {{
                                    "profile." + profile.type + ".expenditure"
                                      | translate
                                  }}
                                </span>
                              }
                              &nbsp;
                              <span
                                class="small text-muted"
                                [title]="
                                  paragraphNames[payment.paragraph] || ''
                                "
                                >§{{ payment.paragraph }}</span
                              >
                              &nbsp;
                              <span
                                class="small text-muted"
                                [title]="itemNames[payment.item] || ''"
                                >#{{ payment.item }}</span
                              >
                            </td>
                            <td class="text-end">
                              {{ payment.date | date: "d. M. y" }}
                            </td>
                            <td
                              [title]="
                                payment.description || 'Faktura bez popisu'
                              "
                            >
                              {{ payment.description }}
                            </td>
                            <td class="text-end font-number">
                              {{
                                payment.incomeAmount - payment.expenditureAmount
                                  | abs
                                  | money: 0 : false
                              }}
                              Kč
                            </td>
                          </tr>
                        }
                        @if ((counterparty?.payments?.length ?? 0) === 0) {
                          <tr>
                            <td colspan="4" class="text-muted text-center">
                              <i class="fa fa-exclamation-circle fa-2x"></i>
                              <p class="text-muted">
                                Žádné faktury či výdaje k zobrazení.
                              </p>
                            </td>
                          </tr>
                        }
                      </table>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
      </tab>
      <tab heading="Rozpočtová skladba">
        <br />
        <form>
          @if (isMunicipality) {
            <div class="mb-3">
              <input
                type="radio"
                [(ngModel)]="budgetView"
                value="expenditureParagraphs"
                name="budgetView"
                id="input_budgetView_expenditureParagraphs"
              />&nbsp;<label for="input_budgetView_expenditureParagraphs"
                >Výdaje dle odvětvového členení (dle paragrafů)</label
              >
              <br />
              <input
                type="radio"
                [(ngModel)]="budgetView"
                value="expenditureItems"
                name="budgetView"
                id="input_budgetView_expenditureItems"
              />&nbsp;<label for="input_budgetView_expenditureItems"
                >Výdaje dle druhového členení (dle položek)</label
              >
              <br />
              <input
                type="radio"
                [(ngModel)]="budgetView"
                value="incomeItems"
                name="budgetView"
                id="input_budgetView_incomeItems"
              />&nbsp;<label for="input_budgetView_incomeItems"
                >Příjmy dle druhového členení (dle položek)</label
              >
            </div>
          } @else {
            <div class="mb-3">
              <input
                type="radio"
                [(ngModel)]="budgetView"
                value="expenditureParagraphs"
                name="budgetView"
                id="input_budgetView_expenditureParagraphs"
              />&nbsp;<label for="input_budgetView_expenditureParagraphs"
                >Výdaje dle syntetických účtů</label
              >
              <br />
              <input
                type="radio"
                [(ngModel)]="budgetView"
                value="incomeItems"
                name="budgetView"
                id="input_budgetView_incomeItems"
              />&nbsp;<label for="input_budgetView_incomeItems"
                >Příjmy dle syntetických účtů</label
              >
            </div>
          }
        </form>
        <div>
          @switch (budgetView) {
            @case ("expenditureParagraphs") {
              <div>
                @if (
                  !event.budgetExpenditureAmount && !event.expenditureAmount
                ) {
                  <p>
                    Tato akce nemá žádné rozpočtované ani uskutečněné výdaje.
                  </p>
                }
                @if (event.budgetExpenditureAmount || event.expenditureAmount) {
                  <table
                    class="table table-responsive table-title-number-number"
                  >
                    <thead>
                      <tr>
                        <th colspan="2">
                          {{
                            isMunicipality
                              ? "Rozpočtové paragrafy"
                              : "Syntetické účty"
                          }}
                        </th>
                        <th class="text-end">
                          {{
                            isMunicipality
                              ? "Rozpočtovaná částka"
                              : "Plánovaná částka"
                          }}
                        </th>
                        <th class="text-end">Skutečné výdaje</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (
                        paragraph of expenditureParagraphs;
                        track paragraph
                      ) {
                        <tr class="small">
                          <td class="text-nowrap">
                            {{ isMunicipality ? "§" : "#" }} {{ paragraph.id }}
                          </td>
                          <td>{{ paragraphNames[paragraph.id] }}</td>
                          <td class="text-end font-number">
                            {{
                              paragraph.budgetExpenditureAmount
                                | money: 0 : false
                            }}
                            Kč
                          </td>
                          <td class="text-end font-number">
                            <strong
                              [class.text-success]="
                                paragraph.expenditureAmount < 0
                              "
                              [class.text-red]="paragraph.expenditureAmount > 0"
                              class="font-number"
                            >
                              {{
                                paragraph.expenditureAmount | money: 0 : false
                              }}
                              Kč
                            </strong>
                          </td>
                        </tr>
                      }
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2"><strong>Součet</strong></td>
                        <td class="text-end font-number">
                          <strong
                            >{{
                              event.budgetExpenditureAmount | money: 0 : false
                            }}
                            Kč</strong
                          >
                        </td>
                        <td class="text-end font-number">
                          <strong
                            [class.text-success]="event.expenditureAmount < 0"
                            [class.text-red]="event.expenditureAmount > 0"
                            class="font-number"
                          >
                            {{ event.expenditureAmount | money: 0 : false }} Kč
                          </strong>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                }
              </div>
            }
            @case ("expenditureItems") {
              <div>
                @if (
                  !event.budgetExpenditureAmount && !event.expenditureAmount
                ) {
                  <p>
                    Tato akce nemá žádné rozpočtované ani uskutečněné výdaje.
                  </p>
                }
                @if (event.budgetExpenditureAmount || event.expenditureAmount) {
                  <table
                    class="table table-responsive table-title-number-number"
                  >
                    <thead>
                      <tr>
                        <th colspan="2">
                          {{
                            isMunicipality
                              ? "Rozpočtové položky"
                              : "Syntetické účty"
                          }}
                        </th>
                        <th class="text-end">
                          {{
                            isMunicipality
                              ? "Rozpočtovaná částka"
                              : "Plánovaná částka"
                          }}
                        </th>
                        <th class="text-end">Skutečné výdaje</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of expenditureItems; track item) {
                        <tr class="small">
                          <td class="text-nowrap"># {{ item.id }}</td>
                          <td>{{ itemNames[item.id] }}</td>
                          <td class="text-end font-number">
                            {{
                              item.budgetExpenditureAmount | money: 0 : false
                            }}
                            Kč
                          </td>
                          <td class="text-end font-number">
                            <strong
                              [class.text-success]="item.expenditureAmount < 0"
                              [class.text-red]="item.expenditureAmount > 0"
                              class="font-number"
                            >
                              {{ item.expenditureAmount | money: 0 : false }} Kč
                            </strong>
                          </td>
                        </tr>
                      }
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2"><strong>Součet</strong></td>
                        <td class="text-end font-number">
                          <strong
                            >{{
                              event.budgetExpenditureAmount | money: 0 : false
                            }}
                            Kč</strong
                          >
                        </td>
                        <td class="text-end font-number">
                          <strong
                            [class.text-success]="event.expenditureAmount < 0"
                            [class.text-red]="event.expenditureAmount > 0"
                            class="font-number"
                          >
                            {{ event.expenditureAmount | money: 0 : false }} Kč
                          </strong>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                }
              </div>
            }
            @case ("incomeItems") {
              <div>
                @if (!event.budgetIncomeAmount && !event.incomeAmount) {
                  <div class="text-muted text-center info-box">
                    <i class="fa fa-exclamation-circle fa-2x"></i>
                    <p>
                      Tato akce nemá žádné rozpočtované ani uskutečněné příjmy.
                    </p>
                  </div>
                }
                @if (event.budgetIncomeAmount || event.incomeAmount) {
                  <table
                    class="table table-responsive table-title-number-number"
                  >
                    <thead>
                      <tr>
                        <th colspan="2">
                          {{
                            isMunicipality
                              ? "Rozpočtové položky"
                              : "Syntetické účty"
                          }}
                        </th>
                        <th class="text-end">
                          {{
                            isMunicipality
                              ? "Rozpočtovaná částka"
                              : "Plánovaná částka"
                          }}
                        </th>
                        <th class="text-end">
                          {{
                            "profile." + profile.type + ".realIncome"
                              | translate
                          }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of incomeItems; track item) {
                        <tr class="small">
                          <td class="text-nowrap"># {{ item.id }}</td>
                          <td>{{ itemNames[item.id] }}</td>
                          <td class="text-end font-number">
                            {{ item.budgetIncomeAmount | money: 0 : false }} Kč
                          </td>
                          <td class="text-end font-number">
                            <strong
                              [class.text-success]="item.incomeAmount > 0"
                              [class.text-red]="item.incomeAmount < 0"
                              class="font-number"
                            >
                              {{ item.incomeAmount | money: 0 : false }} Kč
                            </strong>
                          </td>
                        </tr>
                      }
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2"><strong>Součet</strong></td>
                        <td class="text-end font-number">
                          {{ event.budgetIncomeAmount | money: 0 : false }} Kč
                        </td>
                        <td class="text-end font-number text-success">
                          <strong
                            [class.text-success]="event.incomeAmount > 0"
                            [class.text-red]="event.incomeAmount < 0"
                            class="font-number"
                          >
                            {{ event.incomeAmount | money: 0 : false }} Kč
                          </strong>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                }
              </div>
            }
          }
        </div>
      </tab>
    </tabset>
  </div>
}
