* {opacity:inherit;}

div.drawing{}

.container {
	margin-top: -20px;	
}

.viztable {margin-top: 1em;}
.viztable tbody td {padding: 2px;}
.viztable th:nth-child(1), .viztable td:nth-child(1) {width:50%;text-align:left;}
.viztable th:nth-child(2), .viztable td:nth-child(2) {width:25%;text-align:right;}
.viztable th:nth-child(3), .viztable td:nth-child(3) {width:25%;text-align:right;}


.skupina-label .label {
	margin: 1em 0em 0em 0em;
}

.groupList .group {
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}
.groupList .group-focus, .groupList  .group-focus:hover {
	background: white;
}

.bar {
	border-radius: 3px;
	height: 6px;
	width: 100%;
	margin-top: 5px;
}

.bar * {
	border-radius: 3px;
	height: 6px;
	min-width: 6px;
	float:right;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
.bar-budget {
	background: #ADF;
}
.bar-expenditure {
	background: #2581C4;
}

.selectedGroupTitle {
	line-height: 2em;
	text-align: center;
}
.selectedGroupTitle label {
	background: #E73431;
	border: 3px solid #E73431;
	border-bottom: none;
	color: white;
	font-size: 1.3em;
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	margin-bottom: 0px;
}
.selectedGroupTitle label.label-default {
	background: #888;
	border: 3px solid #888;
	border-bottom: none;
}

.selectedGroupTitle button {
	background: white;
	border: 3px solid #2581C4;
	border-bottom: none;
	color: #2581C4;
	font-size: 1.3em;
	margin-bottom: 0px;
	padding: 2px 6px 3px;
}
.selectedGroupTitle button.active {
	background: #2581C4;
	border: 3px solid #2581C4;
	border-bottom: none;
	color: white;
	margin-bottom: 0px;
}

@media (max-width: 991px) {
	.selectedGroupTitle label {
		width: 100%;
	}
	.selectedGroupTitle button {
		width: 100%;
	}
}

.groupList {
	border-top: 3px solid #E73431;
	background: #f5f5f5;
	transition-duration: .5s;
	position: absolute;
	z-index: 1001;
	height: 0px;
	overflow: hidden;
}
.groupList.opened {
	height: auto;
	border-top: 3px solid #2581C4;
}
.groupList .wrap {
	padding: 1em 0.5em;
	margin-bottom: 0;
	border-bottom: 3px solid #2581C4;
}

.groupList .group-focus .bar-budget {
	background: #ff9491;
}
.groupList .group-focus .bar-expenditure {
	background: #E73431;
}

.whiteTransitions div {
	width: 100%;
	position: absolute;
	z-index: 1000;
}
.topTransition {
	top:0px;
	height: 10%;
	background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}
.bottomTransition {
	bottom:0px;
	height: 5%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.btn-infoModal {
	position: relative;
	right: 0px;
	top: 10px;
	z-index: 1001;
}

#selectedGroup {
	margin-top: 1em;
	min-height: 330px;
}
