<div class="box">

	<div class="info">
		<h3>Rozpočtový rok {{budget.year}}</h3>

		Platnost: {{budget.validity | date:"d. M. y"}}
		
		<br><br>

		<div *ngIf="!editState && !deleteState">
			<button type="submit" class="btn btn-md btn-primary" (click)="editState=true">
				<i class="fa fa-upload"></i> Nahrát nová data
			</button>
			<button type="submit" class="btn btn-md btn-danger" (click)="deleteState=true">
				<i class="fa fa-trash"></i> Smazat data
			</button>
		</div>
		
		<div class="chart">
			<div class="row">
				<div class="col-xs-6">
					<chart-budget [data]="budget" type="expenditure"></chart-budget>
				</div>
				<div class="col-xs-6">
					<chart-budget [data]="budget" type="income"></chart-budget>
				</div>
			</div>
		</div>
	</div>

	<div class="edit">
	
		<form *ngIf="editState" #importForm="ngForm" (submit)="importData(importForm)">

			<div class="form-group">
				<label for="expvalid" class="col-sm-3 control-label">Datum platnosti</label>
				<div class="col-sm-9">
					<input type="date" class="form-control" id="expvalid" name="validity" [ngModel]="today | date:'y-MM-dd'" aria-describedby="help-entity" required>
					<span id="help-entity" class="help-block">Datum, ke kterému byla nahraná data aktuální. Např. datum exportu z účetního systému.</span>
				</div>
			</div>

			<div class="form-group">
				<label for="obec" class="col-sm-3 control-label">Číselník investičních akcí</label>
				<div class="col-sm-9">
					<input name="eventsFile" type="file" accept=".csv,text/csv" class="form-control" required #eventsFile>
					<span id="help-entity" class="help-block">Formát dat: CSV (hodnoty oddělené středníkem, kódování UTF-8). <a [attr.href]="appConfig.docsUrl + '/navody'" target="_blank">Více...</a></span>
				</div>
			</div>

			<div class="form-group">
				<label for="obec" class="col-sm-3 control-label">Datový soubor</label>
				<div class="col-sm-9">
					<input name="expendituresFile" type="file" accept=".csv,text/csv" class="form-control" required #expendituresFile>
					<span id="help-entity" class="help-block">Formát dat: CSV (hodnoty oddělené středníkem, kódování UTF-8). <a [attr.href]="appConfig.docsUrl + '/navody'" target="_blank">Více...</a></span>
				</div>
			</div>

			<div class="form-group">
				<label for="expnote" class="col-sm-3 control-label optional">Poznámka</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="expnote" name="note" ngModel>
					<span id="help-entity" class="help-block">Volitelné. Libovolná poznámka k tomuto importu.</span>
				</div>
			</div>

			<div class="form-group disclaimer">
				<label for="expnote" class="col-sm-3 control-label optional">Upozornění:</label>
				<div class="col-sm-9">
					<p>Nahráním stvrzujete, že výše vložená data (dále datové soubory) splňují následující pravidla:</p>
					<p>Datové soubory:</p>
					<ul>
						<li>nejsou způsobem výběru nebo uspořádáním obsahu vlastním duševním výtvorem autora ve smyslu § 2 odst. 2 zákona č. 121/2000 Sb., o právu autorském, o právech souvisejících s právem autorským a o změně některých zákonů (autorský zákon), případně jsou úředním dílem ve smyslu § 3 písm. a) autorského zákona;</li>
						<li>nenaplňují znaky pro vznik práva pořizovatele databáze dle § 88 a následujících Autorského zákona;</li>
						<li>v sobě neobsahují autorským právem chráněná díla dle § 2 odst. 1 Autorského zákona.</li>
					</ul>
					<p>Z těchto důvodů nejsou tyto datové soubory z hlediska autorského práva a sui generis databázových práv chráněná jako celek, stejně jako nejsou chráněny jejich dílčí části. Každý tak může tyto datové soubory volně vytěžovat a zužitkovat, tzn. data v nich obsažená volně užívat k jakýmkoli účelům, včetně komerčních.</p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-primary" [disabled]="!importForm.valid">Nahrát</button>
					<button type="reset" class="btn btn-default" (click)="editState=false">Zrušit</button>
				</div>
			</div>

			<span style="display:block;clear:both;"></span>

		</form>
	</div>
	
	<form *ngIf="deleteState" #deleteForm="ngForm" (submit)="deleteData(deleteForm)">
		<div class="form-group">
			<div class="col-sm-9">
				<label>Opravdu smazat data za rozpočtový rok {{budget.year}}?</label>
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-danger" (click)="deleteData()">Smazat</button>
				<button type="button" class="btn btn-default" (click)="deleteState=false">Zrušit</button>
			</div>
		</div>
		
		<span style="display:block;clear:both;"></span>
	</form>
	
</div>