<div class="row">
  <div class="col-md-8">
    <!-- ABECEDNE -->
    <div class="profileList">

      <p *ngIf="loading">Načítání obcí...</p>

      <div *ngFor="let profile of profiles" class="profile" [class.profile-pending]="profile.status === 'pending'" (mouseover)="hoverProfile = profile" (mouseout)="hoverProfile = null">
        <div class="pending-box text-center" *ngIf="profile.status == 'pending'">
          <a (click)="openPending(profile,$event)" class="pending-box-title">Připravujeme</a>
        </div>
        <a [routerLink]="profile.status != 'pending' ? '/' + profile.url : '/'">
          <div class="text-center" _ngcontent-c1="">
            <span class="fa-stack fa-4x" _ngcontent-c1="">
              <i class="fa fa-circle fa-stack-2x emblem-background"></i>
              <span class="fa-stack-1x emblem" [style.background-image]="getProfileAvatarUrl(profile) ? 'url(' + getProfileAvatarUrl(profile) + ')' : 'none'"></span>
            </span>
          </div>
          <div class="caption text-center">
            <span>
              <h4>
                <span class="title">{{profile.name}}</span>
              </h4>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <!-- MAPA -->
    <div id="map">
      <img src="assets/img/mapa.svg">

      <!-- MĚSTA -->
      <div class="mesta">
        <ng-container *ngFor="let profile of profiles">
          <div *ngIf="profile.gpsX && profile.gpsY" class="mesto" [class.pending]="profile.status === 'pending'" [class.hover]="hoverProfile === profile" [ngStyle]="gps2css(profile.gpsX, profile.gpsY)" (click)="openProfile(profile)" (mouseover)="hoverProfile=profile" (mouseout)="hoverProfile=null">
            <span class="name">{{profile.name}}</span>
            <span class="gps">{{[profile.gpsX, profile.gpsY] | gps2string}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>