<div *ngIf="!openedGroup">
	<table class="table table-responsive small">
		<thead>
			<tr>
				<th>Rozpočtový oddíl</th>
				<th>Částka</th>
				<th width=100></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let group of data.groups" (click)="openGroup(group)" class="clickable clickable-grey-bg">
				<td><span title="Rozpočtový oddíl {{group.id}} - {{group.name}}">{{group.name}}</span></td>
				<td>{{group.budgetAmount | money:1:true}} Kč</td>
				<td>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar"
								 aria-valuemin="0" aria-valuemax="100" [style.width]="(group.expenditureAmount/data.maxBudgetAmount*100) + '%'">
							<span class="sr-only">{{(group.budgetAmount/data.maxBudgetAmount*100)}}% Complete</span>
						</div>
						<div class="progress-bar progress-bar-warning" role="progressbar"
								 aria-valuemin="0" aria-valuemax="100" [style.width]="(group.budgetAmount/data.maxBudgetAmount*100 - group.expenditureAmount/data.maxBudgetAmount*100) + '%'">
							<span class="sr-only">{{(group.budgetAmount/data.maxBudgetAmount*100)}}% Complete</span>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- DETAIL -->
<div *ngIf="openedGroup">
	<div>
		<span class="label label-primary">Rozpočtový oddíl  &raquo; {{openedGroup.name}} <i class="fa fa-close clickable" (click)="openGroup(null)"></i></span>
	</div>
	<div class=" small">
		<div class="row  div-table-head">
			<div class="col-md-5">Rozpočtový paragraf</div>
			<div class="col-md-2 ">Výdaje</div>
			<div class="col-md-2 ">Rozpočet</div>
			<div class="col-md-3 ">&nbsp;</div>
		</div>
		<div *ngFor="let paragraph of openedGroup.paragraphs">
			<div class="row">
				<div class="col-md-5">
					<span title="Rozpočtový paragraf {{paragraph.id}} - {{paragraph.name}}">{{paragraph.name}}</span>
				</div>
				<div class="col-md-2">{{paragraph.expenditureAmount | money:1:true}} Kč</div>
				<div class="col-md-2">{{paragraph.budgetAmount | money:1:true}} Kč</div>
				<div class="col-md-3">
					<div class="progress progress-md">
						<div class="progress-bar progress-bar-success" role="progressbar"
								 aria-valuemin="0" aria-valuemax="100" [style.width]="(paragraph.expenditureAmount/openedGroup.budgetAmount*100) + '%'">
							<span class="sr-only">{{(paragraph.budgetAmount/openedGroup.maxBudgetAmount*100)}}% Complete</span>
						</div>
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width]="toAbsolute(paragraph.budgetAmount - paragraph.expenditureAmount)/openedGroup.budgetAmount*100 + '%'" [class.progress-bar-danger]="paragraph.budgetAmount < paragraph.expenditureAmount">
							<span class="sr-only">{{(paragraph.budgetAmount/openedGroup.maxBudgetAmount*100)}}% Complete</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row" *ngFor="let event of paragraph.events">
				<div  class="col-md-1 text-right">
					<i class="fa fa-caret-right"></i> 
				</div>
				<div class="col-md-4 ">
					<span title="{{event.name}}">{{event.name}} ({{event.id}})</span>									
				</div>
				<div class="col-md-2">{{event.expenditureAmount | money:1:true}} Kč</div>
				<div class="col-md-2">{{event.budgetAmount | money:1:true}} Kč</div>
			</div>

		</div>

	</div>
</div>
