<form class="form-horizontal" #profileForm="ngForm">

	<h2>Informace o obci</h2>
	<div class="form-group">
		<label for="input-name" class="col-sm-2 control-label">Název obce</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="input-name" name="name" [(ngModel)]="profile.name" placeholder="Praha - Suchdol">
		</div>
	</div>

	<h2>Data</h2>
	<div class="form-group">
		<label for="input-file" class="col-sm-2 control-label">Číselník akcí</label>
		<div class="col-sm-10">
			<input type="file" class="form-control" id="input-file" #eventsFile>
		</div>
	</div>

	<div class="form-group">
		<label for="input-file" class="col-sm-2 control-label">Datový soubor</label>
		<div class="col-sm-10">
			<input type="file" class="form-control" id="input-file" #dataFile>
		</div>
	</div>

	<div class="form-group">
		<label for="input-file" class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<button type="button" class="btn btn-primary" (click)="setData(eventsFile.files[0],dataFile.files[0])">Nahrát data</button>
		</div>
	</div>

	<ng-container *ngIf="dataService.warnings.length">
		<h2>Varování</h2>
		<ul>
			<li *ngFor="let message of dataService.warnings">{{message}}</li>
		</ul>
	</ng-container>


</form>