/*
|--------------------------------------------------------------------------
| Components/Hero - search
|--------------------------------------------------------------------------
*/

.c-hero__search {
    position: relative;
    padding: 25px;
    max-width: 410px;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
        max-width: 100%;
        min-width: 100%;
    }

    input {
        @include media-breakpoint-down(md) {
            max-width: 100%;
            min-width: 100%;
        }
    }
  
    .btn-search {
        overflow: hidden;
        display: block;
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translate(50%, -50%);
        width: 50px;
        height: 50px;
        text-indent: -9999px;
        background-image: url(./assets/images/icons/search.svg);
        background-repeat: no-repeat;
        background-position: center center;

        @include media-breakpoint-down(sm) {
            right: 0;
            transform: translate(-50%, -50%);
        }
    }
}