/*
|--------------------------------------------------------------------------
| Components/Menu
|--------------------------------------------------------------------------
*/

.c-menu,
.c-menu--mobile {
    display: none;
    justify-content: flex-end;

    &.show {
        display: block;
    }

    li {
        a {
            padding-left: 10px;
            padding-right: 10px;
            display: inline-block;
            color: $secondary;
            text-decoration: none;

            @include media-breakpoint-up(xl) {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }

    &.c-menu {
        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }

    &.c-menu--mobile {
        position: relative;
        z-index: 2;
        background-color: $gray;
        padding-top: 10px;
        padding-bottom: 10px;
        li {
            a {
                @extend .unselectable;
                padding: 10px 25px;
                &.router-link-exact-active {
                    font-weight: 700;
                }
            }
        }
    }
}