<div class="container">
  <h2>{{ (profile | async)?.name }}</h2>
  <br />
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="data">Data</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="api">API</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="logy">Logy importů</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="nastaveni">Nastavení</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="podprofily">Podprofily</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9 offset-md-1">
      <router-outlet />
    </div>
  </div>
</div>
