header {
	display: block;  
	background: #2581C4;
	background-size: 100% auto; background-position: center -212px; 
	text-align: left;
	color: white;
	font-weight: bold;
	border-bottom: 5px solid #2581C4;
}
header .btn {    
  color: white;
  border: none;
	box-shadow: none;
}
header .btn:hover span {
	color: white;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	text-decoration: underline;
}

header h1 {
	font-size: 2em;
	display: inline-block;
}
header nav {
	display: inline-block;
}

header a, header a:hover {color:white;text-decoration: none;}

@media (max-width: 1400px) {
		header {
				background-size: 1400px auto; /* Force the image to its minimum width */
		}
}


.list-group {
	position: relative;
	z-index: 1;
}

.navbar-collapse {
	padding: 0px;
}

nav .container-fluid, nav, nav-collapse {
	margin: 0px;
	padding: 0px;
	border: none;
}
nav {
	background: #eee;
	margin-bottom: 20px;
}
nav li a {
	line-height: 24px;
	font-size: 12pt;
	color: #333;
	transition-duration: 400ms;
}
nav li a:hover {
	background-color: white;
	color: black;
}
nav li a.active {
	background-color: #2581C4;
	color: white;
}

.navbar-nav {
	margin-left: -15px!important;
}
.navbar-toggle {
	float:none;
}
.icon-bar {
	margin-top: 5px;
	height: 3px;
	background: #2581C4;
	float: left;
	clear: left;
}
.toggle-title {
	font-size: 14pt;
	font-weight: bold;
	color: #2581C4;
	margin-left: 12px;
}