
<div>

  <header id="headerObec">
    <div class="container">
      <h1><a routerLink="/">CityVizor</a></h1>
    </div>
  </header>


  <div class="entity-menu">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" (click)="isMenuCollapsed = !isMenuCollapsed" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="toggle-title">MENU</span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse" [collapse]="isMenuCollapsed">
          <ul class="nav navbar-nav">
            <li><a routerLink="/">Domů</a></li>
            <li><a routerLink="/stranka/o-aplikaci" routerLinkActive="active">O aplikaci</a></li>
            <li><a routerLink="/stranka/data" routerLinkActive="active">Datové zdroje</a></li>
            <li><a routerLink="/stranka/licence" routerLinkActive="active">Licenční podmínky</a></li>
            <li><a routerLink="/stranka/kontakt" routerLinkActive="active">Kontakt</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div id="content" class="container page" [innerHTML]="pageContent"></div>
  
</div>
