<svg
  style="max-width: 100px"
  viewBox="0 0 1000 1000"
  #donutchart
  @showAnimation
>
  <!-- BG -->
  <path
    [attr.d]="generateStripePath(500, 500, 265, 400, 0, 1)"
    [attr.fill]="backgroundColor"
  />

  <!-- Expenditures -->
  @if (data.amount) {
    <path
      [attr.d]="
        generateStripePath(
          500,
          500,
          250,
          500,
          0,
          data.budgetAmount ? data.amount / data.budgetAmount : 0
        )
      "
      stroke-width="30"
      stroke="#fff"
      [attr.fill]="color"
    />
  }
</svg>
