<h2 class="hidden">Registr smluv</h2>

<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Datum publikace</th>
			<th>Název smlouvy</th>
			<th>Dodavatel</th>
			<th>Částka</th>
			<th>Měna</th>
			<th>Detail</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let contract of contracts">
			<td>{{contract.published | date:"d. M. y"}}</td>
			<td>{{contract.name}}</td>
			<td>{{contract.counterparty}}</td>
			<td class="amount">{{contract.amount | money:0:false}}</td>
			<td>{{contract.currency}}</td>
			<td><a [href]="contract.url" target="_blank">Detail</a></td>
		</tr>
	</tbody>
</table>
<div class="text-center">
	<span *ngIf="loading">Načítám smlouvy&#8230;</span>
	<a *ngIf="!loading" [href]="getRegisterUrl()" target="_blank">Zobrazit všechny smlouvy</a>
</div>
		