.ministerstva{}

.ministerstvo{float:left;width:250px;height:300px;padding:20px;margin:17px;background-color:#fff;box-shadow: 0 0 5px rgba(0,0,0,.1);overflow:hidden;}
.ministerstvo .logo{display:block;text-align:center;height: 100px;overflow: hidden;}
.ministerstvo .logo img{}
.ministerstvo h2{margin:20px 0;padding:0;font-size:18px;}
.ministerstvo p{font-size:12px;}

.entityMapMarker, .entityListItem {
  cursor: pointer;
}

.switchListView {
  position: absolute;
  width: 100%;
}


#inputVyberObce {
  border: none; background: none;
  border-bottom: 3px solid rgba(0,0,0,.25);
  color: rgba(0,0,0, 1);
  text-align: left;
  margin: 0 auto;
}

#map{position:relative;max-width: 475px;}
#map .mesto{position:absolute;width:0;height:0;background-color:#fff;border:3px solid #E73431;border-radius:3px;box-sizing:content-box;cursor:pointer;}
#map .mesto span{display:none;position:absolute;font-size:.7em;padding:1px 2px;white-space:nowrap;}

#map .mesto .name{top:50%;right:14px;margin-top:-8px;color:#fff;background-color:#E73431;border-radius:3px;}
#map .mesto .gps{top:50%;left:12px;margin-top:-7px;color:#E73431;background-color:rgba(221,221,221,.5);}

#map .mesto.hover{height:4px;width:4px;margin-left:-2px;margin-bottom:-2px;border-radius:5px;}
#map .mesto.hover span{display:block;}