<div id="entity" *ngIf="profile">

	<profile-header [profile]="profile"></profile-header>

	<div *ngIf="activeModule" id="content" class="container">
			<div [ngSwitch]="activeModule.id" id="vizmodules">

				<dash-board *ngSwitchCase="'dash-board'" [profile]="profile"></dash-board>

				<expenditure-viz *ngSwitchCase="'expenditure-viz'" [profile]="profile"></expenditure-viz>

				<expenditure-events *ngSwitchCase="'expenditure-events'" [profile]="profile"></expenditure-events>
				
				<income-viz *ngSwitchCase="'income-viz'" [profile]="profile"></income-viz>

				<notice-board *ngSwitchCase="'notice-board'" [profile]="profile"></notice-board>

				<contract-list *ngSwitchCase="'contract-list'" [profile]="profile"></contract-list>

			</div>
		</div>

</div>