.selector{margin-top:20px;}
.invoices{min-height:650px;}
.invoices.loading{opacity:.5;}
.invoices td{white-space:nowrap;}
.invoices .description,.invoices .counterparty{display:inline-block;white-space:nowrap;text-overflow: ellipsis;overflow:hidden;}
.invoices .description{width:450px;}
.invoices .counterparty{width:250px;}