<div *ngIf="wrongPassword" class="alert alert-danger">
  Chybná emailová adresa nebo heslo.
</div>

<form *ngIf="!authService.logged" class="form-signin" #f="ngForm" (ngSubmit)="submit(loginForm);" autocomplete="on" #loginForm="ngForm" >
  <div class="form-group">
    <label for="email" class="cols-sm-2 control-label">Login</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
        <input ngModel type="text" name="username" id="inputEmail" class="form-control" placeholder="Login" ng-required="true" autocomplete="on" autofocus="">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="cols-sm-2 control-label">Heslo</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
        <input ngModel type="password" name="password" id="inputPassword" class="form-control" placeholder="Heslo" ng-required="true" autocomplete="on">
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Přihlásit se">
  </div>
</form>

<div *ngIf="authService.logged">
  <p>Již jste přihlášen jako {{authService.user.id}}.</p>
</div>