<h2>
	Správa modulů
</h2>
<table class="table table-responsive table-striped">
	<thead>
		<tr>
			<th>Název modulu</th>
			<th class="text-right">Stav</th>
		</tr>
	</thead>
	<tr *ngFor="let module of modules">
		<td>{{module.name}}</td>
		<td>
			<div *ngIf="module.optional" class="btn-group pull-right">
				<button type="button" class="btn btn-sm btn-default" [class.btn-danger]="isHiddenModule(module)" [class.active]="isHiddenModule(module)" (click)="hideModule(module)">Vypnuto</button>
				<button type="button" class="btn btn-sm btn-default" [class.btn-success]="!isHiddenModule(module)"  [class.active]="!isHiddenModule(module)" (click)="unhideModule(module)">Zapnuto</button>
			</div>
			
			<div *ngIf="!module.optional" class="btn-group pull-right">
				<button type="button" class="btn btn-sm btn-default" disabled="disabled">Vypnuto</button>
				<button type="button" class="btn btn-sm btn-success active" disabled="disabled">Zapnuto</button>
			</div>
		</td>
	</tr>
</table>