@import 'variables';

#toasts{position:fixed;width:100%;top:50%;overflow:visible; text-transform: uppercase;z-index:99999;}
#toasts ul{display:block;position:absolute;top:0;left:0;right:0;list-style:none;margin:-50px 0 0 0;text-align:center;}
#toasts li{display:inline-block;margin:0;padding:0;padding:10px 20px;margin:0 5px;background-color:rgba(0,0,0,.7);border-radius:10px;color:#fff;}
#toasts li span p{margin-top: 5px;margin-bottom:0px;}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
	margin-bottom: -$footer-height-desktop;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

/* Set the fixed height of the footer here */
#push,
footer {
    height: $footer-height-desktop;
}
footer {
	background-color: #f5f5f5;
}
footer .fa-heart{color:rgb(231,52,49);}

footer .container{
	line-height: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #f5f5f5;
}

@media (max-width: 767px) {
	.col-xs-12 {
		text-align: center;
	}
}

.input-group-addon { min-width: 3em; }

