<div id="wrap">
  <div id="toasts">
    <ul class="text-center">
      @for (toast of toasts; track toast) {
        <li [class]="toast.status" @toastsFadeOut>
          @if (toast.status === 'check') {
            <i class="fa fa-2x fa-check"></i>
          }
          @if (toast.status === 'error') {
            <i
              class="fa fa-2x fa-exclamation-triangle"
            ></i>
          }
          @if (toast.status === 'notice') {
            <i
              class="fa fa-2x fa-info-circle"
            ></i>
          }
          <p>{{ toast.text }}</p>
        </li>
      }
    </ul>
  </div>

  <router-outlet></router-outlet>

  <div id="push"></div>
</div>
@for (html of tracking.html; track html) {
  <div [innerHTML]="html" class="d-none"></div>
}
<footer>
  <div class="container text-muted small">
    <div class="row">
      <div class="col-sm-6 col-12">
        <a href="/landing/dokumentace">Technická dokumentace</a><br />
        @if (!authService.logged) {
          <a routerLink="/login">Přihlásit se</a>
        }
        @if (authService.logged) {
          {{ authService.user.login }}
          @if (aclService.checkRoute('/admin')) {
            &nbsp;|&nbsp;<a routerLink="/admin">Administrace</a>
          }
          | <a (click)="logout()">Odhlásit</a>
        }
      </div>
      @if (alternativeFooterHtml) {
        <div
          [innerHtml]="alternativeFooterHtml"
        ></div>
      }
      @if (!alternativeFooterHtml) {
        <div class="col-sm-6 col-12 text-end-weak">
          © <a href="https://www.mfcr.cz/">Ministerstvo financí</a> &
          <a href="https://www.otevrenamesta.cz/">Otevřená města</a><br />
        </div>
      }
    </div>
  </div>
</footer>
