
#toasts{position:relative;width:100%;top: 48vh;overflow:visible;}
#toasts ul{display:block;position:absolute;top:0;left:0;right:0;list-style:none;margin:0;left:0;z-index:1000;}
#toasts li{display:block;margin:0;padding:0;text-align:center;}
#toasts li span{display:inline-block;padding:10px;margin:2px 0;background-color:rgba(0,0,0,.7);border-radius:3px;color:#fff;}


html {position: relative;
min-height: 100%;}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 80px;
  background-color: #f5f5f5;
	z-index:1000;
}

footer .fa-heart{color:rgb(231,52,49);}

footer .container{
	line-height: 32px;
	padding: 24px 0px;
}

 @media (max-width: 768px) {
	.col-xs-12 {
		text-align: center;
	 } 
}

.input-group-addon { min-width: 2em; }

