<header>
	<div class="container">
		<a routerLink="/" routerLinkActive="active"><span class="supervizor">SUPERVIZOR</span> <span class="plus">PLUS</span></a>
	</div>
</header>
<div id="menu">
	<div class="container">
		<nav>
			<a routerLink="/" routerLinkActive="active" >
				<i class="fa fa-home"></i> Úvod
			</a>
			<a routerLink="/seznam/ministerstva" routerLinkActive="active"  class="hidden">
				<i class="fa fa-institution"></i> Ministerstva
			</a>
			<a routerLink="/seznam/obce" routerLinkActive="active" >
				<i class="fa fa-map-signs"></i> Obce
			</a>
			<a routerLink="/data" routerLinkActive="active">
				<i class="fa fa-database"></i> Data
			</a>
			<a routerLink="/stranka/o-aplikaci" routerLinkActive="active" class="right">
				<i class="fa fa-info-circle"></i> O aplikaci
			</a>
		</nav>
	</div>
</div>
<div id="toasts">
	<ul>
		<li *ngFor="let toast of toasts" [class]="toast.status" (click)="toast.hide()"><span *ngIf="toast.opacity" [style.opacity]="toast.opacity">{{toast.text}}</span></li>
	</ul>
</div>
<div id="content">
	<router-outlet></router-outlet>
</div>
<footer>
	Vyvinuto s <i class="fa fa-heart" aria-hidden="true"></i> <a routerLink="/stranka/vyvoj"> členy komunity otevřených dat</a> | <a href="#">Facebook</a> | <a href="https://github.com/SmallhillCZ/Supervizor-Plus">GitHub</a> | <a routerLink="/stranka/licence">Licence</a> | <a routerLink="/stranka/kontakt">Kontakt</a> | {{year}}
</footer>