<div id="toasts">
	<ul>
		<li *ngFor="let toast of toasts" [class]="toast.status" (click)="toast.hide()">
			<span *ngIf="toast.opacity" [style.opacity]="toast.opacity">
					<i class="fa fa-circle-o-notch fa-spin"></i> {{toast.text}}
			</span>
		</li>
	</ul>
</div>

<router-outlet></router-outlet>

<footer>
	<div class="container text-muted small">
		<div class="col-sm-4 col-xs-12">
			Vyvinuto s <i class="fa fa-heart" aria-hidden="true"></i> <a>členy komunity otevřených dat</a> {{year}}
		</div>
		<div class="col-sm-4 col-xs-12 text-center">
			<a>
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a>
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="https://github.com/SmallhillCZ/Supervizor-Plus">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-github fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</div>
		<div class="col-sm-4 col-xs-12 text-right">
			<a  (click)="loginModal.show()" *ngIf="!user.logged">Přihlásit se</a>
			| <a>Data</a>
			| <a routerLink="/stranka/o-aplikaci">O aplikaci</a>
			| <a routerLink="/stranka/licence">Licence</a>
			| <a>Kontakt</a>
		</div>
	</div>
</footer>


<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="loginModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Přihlášení správce obce</h4>
			</div>
			<div class="modal-body">
				<form class="form-signin" (ngSubmit)="login()">
					<h2 class="form-signin-heading">Piřhlášení</h2>
					<label for="inputEmail" class="sr-only">Emailová adresa</label>
					<input type="text" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" [(ngModel)]="loginData.login">
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="remember-me"> Zapamatovat si
						</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit se</button>
				</form>
			</div>
		</div>
	</div>
</div>