@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700&subset=latin-ext');

body {
	background-color:#eee;
  font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3 {
	margin: 3px 0px 0px 0px;
}

header, nav, .btn, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
	background-color: #fff;
	border-radius: 150px;
	/*-webkit-animation: loading-bounce 4.0s infinite ease-in-out;
  animation: loading-bounce 4.0s infinite ease-in-out;*/
	-webkit-animation-name: example;
	/* Chrome, Safari, Opera */
	-webkit-animation-duration: 4s;
	/* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}



/* Chrome, Safari, Opera */

@-webkit-keyframes example {
	0% {
		box-shadow: 20px 0px 0px rgba(255, 255, 255, .5), -20px 0px 0px rgba(255, 255, 255, .5), 0px 20px 0px rgba(255, 255, 255, .5), 0px -20px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5);
	}
	50% {
		box-shadow: 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 15px 15px 0px rgba(255, 255, 255, .5), -15px -15px 0px rgba(255, 255, 255, .5), -15px 15px 0px rgba(255, 255, 255, .5), 15px -15px 0px rgba(255, 255, 255, .5);
	}
	100% {
		box-shadow: 20px 0px 0px rgba(255, 255, 255, .5), -20px 0px 0px rgba(255, 255, 255, .5), 0px 20px 0px rgba(255, 255, 255, .5), 0px -20px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5all);
	}
}


/* standard */

@keyframes example {
	0% {
		box-shadow: 20px 0px 0px rgba(255, 255, 255, .5), -20px 0px 0px rgba(255, 255, 255, .5), 0px 20px 0px rgba(255, 255, 255, .5), 0px -20px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5);
	}
	50% {
		box-shadow: 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 15px 15px 0px rgba(255, 255, 255, .5), -15px -15px 0px rgba(255, 255, 255, .5), -15px 15px 0px rgba(255, 255, 255, .5), 15px -15px 0px rgba(255, 255, 255, .5);
	}
	100% {
		box-shadow: 20px 0px 0px rgba(255, 255, 255, .5), -20px 0px 0px rgba(255, 255, 255, .5), 0px 20px 0px rgba(255, 255, 255, .5), 0px -20px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5), 0px 0px 0px rgba(255, 255, 255, .5);
	}
}

#loading p {
	position: absolute;
	z-index: 2000;
	color: #888;
	top: 60%;
	left: 0px;
	padding: 0px 30px;
	font-size: 12px;
	text-align: center;
}

#loading img {
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -30px 0 0 -110px;
}

.page {
	position: relative;
	background-color: #fff;
	padding-top: 2em;
}

.padding {
	padding: 30px;
}

form {
	margin: 0;
}

.editable edit-toolbar {
	display: none;
}

.editable:hover edit-toolbar,
.editable.editmode edit-toolbar {
	display: block;
}

@media (max-width: 978px) {
	.container {
		padding: 0;
		margin: 0;
	}
	.page {
		margin: 0;
	}
}

.panel-body.no-padding {
	padding: 0px;
}

.progress-md {
	height: 15px;
}
.progress-sm {
	height: 10px;
}
.progress-xs {
	height: 5px;
}

.div-table-head {
	font-weight: bold;
	border-bottom: 2px solid #eee;
	margin: 1em 0em;
}

.clickable {
    cursor: pointer;
    cursor: hand;
}

.clickable-grey-bg:hover {
	background: rgb(0,0,0,.2);
}

.well {
	border: none;
	border-left: 3px solid rgb(37,129,196);
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 0px;
	background-color: #fafafa;
	box-shadow: none;
}

.margin-bottom-xs {margin-bottom: 5px; }  
.margin-bottom-sm {margin-bottom: 10px; } 
.margin-bottom-md {margin-bottom: 15px; }
.margin-bottom-lg {margin-bottom: 20px; }  

.skupina-label .label {
	margin: 1em 0em 0em 0em;
}