<div class="modal-header">
  <h4 class="modal-title pull-left">Nastavit heslo pro účet {{user?.name || user?.login}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close.emit(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #passwordForm="ngForm" (ngSubmit)="saveUser(passwordForm)">
  <div class="modal-body">
    <div class="form-group">
      <label>Heslo</label>
      <input type="password" name="password" ngModel required class="form-control" #inputPassword>
    </div>
    <div class="form-group">
      <label>Kontrola hesla</label>
      <input type="password" class="form-control novalidate" ngModel [ngModelOptions]="{ standalone: true }" (ngModelChange)="checkPasswordMatch($event,inputPassword.value)">
      <p *ngIf="passwordMatch === false" class="help-block text-danger">Hesla se neshodují.</p>
      <p *ngIf="passwordMatch === true" class="help-block text-success">Hesla se shodují.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid || !passwordMatch">Nastavit</button>
  </div>
</form>