/*
|--------------------------------------------------------------------------
| Fixes/Sizing
|--------------------------------------------------------------------------
*/

html {
  box-sizing: border-box;
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
