# include only local environment, other are irrelevant for users
environment/environment.*
!environment/environment.local.js

# dependencies
/node_modules

# compiled output
/dist

# runtime data
/data

# misc
npm-debug.log