<div id="entity" *ngIf="profile">

	<profile-header [profile]="profile"></profile-header>

	<div id="content"  class="container">
		

		<div class="row">
			<div class="col-sm-3 col-xs-12">
				<div class="list-group small">
					<a [routerLink]="getModuleLink('uvod')" class="list-group-item" routerLinkActive="active">
						Úvod
					</a>
					<a [routerLink]="getModuleLink('profil')" class="list-group-item" routerLinkActive="active">
						Nastavení profilu
					</a>
					<a [routerLink]="getModuleLink('logo')" class="list-group-item" routerLinkActive="active">
						Znak obce
					</a>
					<a [routerLink]="getModuleLink('import-dat')" class="list-group-item"  routerLinkActive="active">
						Import účetních dat
					</a>
					<a [routerLink]="getModuleLink('datovy-katalog')" class="list-group-item hidden" routerLinkActive="active">
						Datový katalog
					</a>
					<a [routerLink]="getModuleLink('spravci-profilu')" class="list-group-item" routerLinkActive="active">
						Správci profilu
					</a>
				</div>
			</div>
			
			<div class="col-sm-9 col-xs-12" [ngSwitch]="activeModule">
				
				<div *ngSwitchCase="'uvod'">
					<h2>Správa profilu</h2>
					<p>Toto je administrace vašeho profilu na CityVizor.cz. Zde můžete nastavit, jak bude váš profil vypadat, které moduly budou aktivní a zde také můžete do profilu nahrát aktuální data.</p>
					<p>Pokud něčemu nebudete rozumět, můžete se podívat do sekce <a [href]="config.docsUrl + '/navody'" target="_blank">Návody</a>.</p>
				</div>

				<profile-admin-profile *ngSwitchCase="'profil'" [profile]="profile" (saved)="updateProfile($event)"></profile-admin-profile>
				
				<profile-admin-avatar *ngSwitchCase="'logo'" [profile]="profile" (saved)="updateProfile($event)"></profile-admin-avatar>

				<profile-admin-import *ngSwitchCase="'import-dat'" [profile]="profile"></profile-admin-import>
				
				<profile-admin-users *ngSwitchCase="'spravci-profilu'" [profile]="profile"></profile-admin-users>

			</div>
			
		</div>
	</div>
</div>