<div class="btn-group" *ngIf="selectedBudget">
  <button type="button" class="btn btn-lg btn-red">
        <strong>{{selectedBudget.year}}</strong>
  </button>
  <button type="button" class="btn btn-lg btn-default btn-label bl-btn-selected bl-budget">
    <div class="row">
      <div class="col-xs-3 text-right">
        <strong>Rozpočet</strong>
      </div>
      <div class="col-xs-4 text-left">
        <span class="bl-bar bl-bar-budget" [style.width]="(getBudgetAmount(selectedBudget) / maxAmount * 100) + '%'"></span>
      </div>
      <div class="col-xs-5 text-right">
        {{getBudgetAmount(selectedBudget) | money:0:false}} Kč
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 text-right">
        <strong>Plnění</strong>
      </div>
      <div class="col-xs-4 text-left">
        <span class="bl-bar bl-bar-expenditure" [style.width]="(getAmount(selectedBudget) / maxAmount * 100) + '%'"></span>
      </div>
      <div class="col-xs-5 text-right">
        {{getAmount(selectedBudget) | money:0:false}} Kč
      </div>
    </div>
  </button>
  
  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-lg btn-blue dropdown-toggle">
      Vyberte rok<span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem" *ngFor="let budget of budgets" (click)="selectBudget(budget)">
        <a>
          <div class="bl-budget bl-budget-spacing">
            <div class="row bl-labels">
              <div class="col-xs-6 text-left">
                <div class="label label-danger">
                  {{budget.year}}
                </div>
              </div>
              <div class="col-xs-6 text-right">
                <div class="label label-default">
                  Platné k {{budget.validity | date:"d. M. y"}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <strong>Rozpočet</strong>
              </div>
              <div class="col-xs-4">
                <span class="bl-bar bl-bar-budget" [style.width]="(getBudgetAmount(budget) / maxAmount * 100) + '%'"></span>
              </div>
              <div class="col-xs-5 text-right">
                {{getBudgetAmount(budget) | money:0:false}} Kč
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <strong>Plnění</strong>
              </div>
              <div class="col-xs-4">
                <span class="bl-bar bl-bar-expenditure" [style.width]="(getAmount(budget) / maxAmount * 100) + '%'"></span>
              </div>
              <div class="col-xs-5 text-right">
                {{getAmount(budget) | money:0:false}} Kč
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>



<div class="parent hidden" [class.open]="open" (mouseover)="open=true" (mouseout)="open=false">
  <table *ngIf="selectedBudget" class="selected">
    <tr>
      <th rowspan="3" class="year">{{selectedBudget.year}} <i class="fa fa-caret-down" aria-hidden="true"></i></th>
    </tr>
    <tr class="budget">
      <th>Rozpočtované {{getType()}}</th>
      <td>
        <span class="bar" [style.width]="(getBudgetAmount(selectedBudget) / maxAmount * 200) + 'px'"></span>
        {{getBudgetAmount(selectedBudget) | money:0:false}} Kč
      </td>
    </tr>
    <tr class="expenditure">
      <th>Skutečné {{getType()}}</th>
      <td>
        <span class="bar" [style.width]="(getAmount(selectedBudget) / maxAmount * 200) + 'px'"></span>
        {{getAmount(selectedBudget) | money:0:false}} Kč
      </td>
    </tr>
  </table>

  <div class="list">
    <table *ngFor="let budget of budgets" (click)="selectBudget(budget)">
      <tr>
        <th rowspan="3" class="year">{{budget.year}}</th>
      </tr>
      <tr class="budget">
        <th>Rozpočtované {{getType()}}</th>
        <td>
          <span class="bar" [style.width]="(getBudgetAmount(budget) / maxAmount * 200) + 'px'"></span>
          {{getBudgetAmount(budget) | money:0:false}} Kč
        </td>
      </tr>
      <tr class="expenditure">
        <th>Skutečné {{getType()}}</th>
        <td>
          <span class="bar" [style.width]="(getAmount(budget) / maxAmount * 200) + 'px'"></span>
          {{getAmount(budget) | money:0:false}} Kč
        </td>
      </tr>
    </table>
  </div>
</div>