<h3>
	<i class="fa fa-plus-circle"></i>
	<span>Výdaje</span>
	<span *ngIf="openedGroup" class="hidden"> &raquo; {{openedGroup.name}}</span>
	<div class="btn-group pull-right">
		<button type="button" class="btn btn-sm btn-primary" [class.active]="show=='viz'" (click)="show='viz'">Vizualizace</button>
		<button type="button" class="btn btn-sm btn-primary" [class.active]="show=='map'" (click)="show='map'">Mapa</button>
		<button type="button" class="btn btn-sm btn-primary" [class.active]="show=='tbl'" (click)="show='tbl'">Tabulka</button>
	</div>
</h3>
<div style="clear: both;">
	
</div>

<div *ngIf="loading" class="text-center"><i class="fa fa-circle-o-notch fa-spinner"></i> Načítám data...</div>

<div *ngIf="!loading">
	<!-- VIZUALIZACE -->
	<expenditure-viz *ngIf="show=='viz'" [data]="data"></expenditure-viz>

	<!-- MAPA -->


	<!-- SEZNAM -->
	<expenditure-list *ngIf="show=='tbl'" [data]="data"></expenditure-list>
</div>