<h2 class="hidden">Profily</h2>

<div *ngIf="profileLoading" class="loading">
  <p>Načítám...</p>  
</div>

<site-admin-profile [profile]="currentProfile" (save)="saveProfile($event)" (delete)="deleteProfile($event)" (close)="selectProfile(null)"></site-admin-profile>

<div class="profiles">
  <table class="table table-condensed table-hover table-striped">

    <thead>
      <th>Jméno profilu</th>
      <th>URL</th>
      <th>ID</th>
      <th>Aktivní</th>
    </thead>

    <tbody>
      <tr *ngFor="let profile of profiles" class="profile" [class.info]="currentProfile?._id === profile._id" (click)="selectProfile(profile._id)">
        <td>{{profile.name}}</td>
        <td>{{profile.url}}</td>
        <td>{{profile._id}}</td>
        <td>{{profile.active ? 'Ano' : 'Ne'}}</td>
        <td><a [routerLink]="getProfileLink(profile)">otevřít profil</a></td>
      </tr>
  </table>
</div>

<p><a (click)="createProfile()">Vytvořit nový profil</a></p>