@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700&subset=latin-ext');

html,
body {
    height: 100%;
		padding: 0;
		margin: 0;
    /* The html and body elements cannot have any padding or margin. */
}

/* Main structure styles */
body {
	background-color:#fff;
  font-family: 'Roboto Slab', serif;
}

/* Generic tag styles */
a {outline: 0; cursor: pointer;}

h1,h2,h3,h4 {font-weight: 700;cursor:default;}
header, nav, .btn {font-family: 'Raleway', sans-serif;}

form {margin: 0;}

.padding {padding: 30px;}

@media print {
	a{text-decoration:underline;}
}

/**
	* BOOTSTRAP TWEAKS
	* 
	* Some things we didn't like in Bootstrap
	* 
	**/

@media print {
	
	/* disables links in parenthesis when printing */
  a[href]:after {content: none; /* default: content:" (" attr(href) ")" */;}
	
}

.text-primary {
	color: #2581C4;
}
.text-alert {
	color: #E73431;
}

.panel-body.no-padding {
	padding: 0px;
}

.progress-md {
	height: 15px;
}
.progress-sm {
	height: 10px;
}
.progress-xs {
	height: 5px;
}

.well {
	border: none;
	border-left: 3px solid rgb(37,129,196);
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 0px;
	background-color: #fafafa;
	box-shadow: none;
}

.margin-bottom-xs {margin-bottom: 5px; }  
.margin-bottom-sm {margin-bottom: 10px; } 
.margin-bottom-md {margin-bottom: 15px; }
.margin-bottom-lg {margin-bottom: 20px; }  



.div-table-head {
	font-weight: bold;
	border-bottom: 2px solid #eee;
	margin: 1em 0em;
}



.clickable-grey-bg:hover {
	background: rgb(0,0,0,.2);
}



.skupina-label .label {
	margin: 1em 0em 0em 0em;
	font-size: 100%;
}


.table-responsive { border: none; }

header {
	display: block;  
	background: #2581C4;
	background-size: 100% auto; background-position: center -212px; 
	text-align: left;
	color: white;
	font-weight: bold;
	border-bottom: 5px solid #2581C4;
}
header .btn {    
  color: white;
  border: none;
	font-size: 1.5em;
	box-shadow: none;
}
header .btn:hover span {
	color: white;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	text-decoration: underline;
}

header h1 {
	font-size: 2em;
	display: inline-block;
}
header nav {
	display: inline-block;
}

header a, header a:hover {color:white;text-decoration: none;}

@media (max-width: 1400px) {
		header {
				background-size: 1400px auto; /* Force the image to its minimum width */
		}
}


.list-group {
	position: relative;
	z-index: 1;
}


nav .container-fluid, nav, nav-collapse {
	margin: 0px;
	padding: 0px;
	border: none;
}
nav {
	background: #eee;
	margin-bottom: 20px;
}
nav li a {
	line-height: 24px;
	font-size: 12pt;
	color: #333;
	transition-duration: 400ms;
}
nav li a:hover {
	background-color: white;
	color: black;
}
nav li a.active {
	background-color: #2581C4;
	color: white;
}

.navbar-toggle {
	float:none;
}
.icon-bar {
	margin-top: 5px;
	height: 3px;
	background: #2581C4;
	float: left;
	clear: left;
}
.toggle-title {
	font-size: 14pt;
	font-weight: bold;
	color: #2581C4;
	margin-left: 12px;
}
