
<h2 class="hidden">uživatelé</h2>

<div *ngIf="userLoading" class="loading">
  <p>Načítám...</p>  
</div>

<site-admin-user *ngIf="currentUser" [user]="currentUser" (save)="saveUser(currentUser)" (delete)="deleteUser(currentUser._id)" (close)="selectUser(null)"></site-admin-user>

<div class="users">
  <h3 class="hidden">Seznam uživatelů</h3>
  <table class="table table-condensed table-hover table-striped">

    <thead>
      <th>ID/Email</th>
      <th>Role</th>
      <th>Spravované profily</th>
    </thead>

    <tbody>
      <tr *ngFor="let user of users" [class.info]="currentUser?._id === user._id">
        <td>{{user._id}}</td>
        <td>{{user.roles | concat:', '}}</td>
        <td>{{user.managedProfiles | arraychildren:'name' | concat:', '}}</td>
        <td><a [routerLink]="getUserLink(user._id)">detail</a></td>
      </tr>
  </table>
</div>

<p><a (click)="createUser()">Vytvořit nového uživatele</a></p>