.container {
	margin-top: -20px;	
}

h4{font-weight:normal !important;}

.arrow_groupselecthint {
	position: absolute;
	top: 60px;
	height: 50px;
	width: 250px;
}
.arrow_groupselecthint svg {
	height: 100%;
	width: 100%;
}
/* BIG BANG CHART */
#bigbang{
	position: relative;
}
#bigbang .box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
#bigbang .content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
/* Other ratios */
#bigbang .ratio2_1:before{padding-top: 50%;}
#bigbang .ratio1_2:before{padding-top: 200%;}
#bigbang .ratio4_3:before{padding-top: 75%;}
#bigbang .ratio16_9:before{padding-top: 56.25%;}

budgets-list{position:absolute;top:0;left:0;z-index:200;}

#bigbang .whiteTransitions div {
	width: 100%;
	position: absolute;
	z-index: 100;
}
#bigbang .topTransition {
	top:0px;
	height: 10%;
	background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}
#bigbang .bottomTransition {
	bottom:0px;
	height: 5%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

/* MENU */
#selectedGroup {
	margin-top: 1em;
	min-height: 330px;
}

.skupina-label .label {
	margin: 1em 0em 0em 0em;
}

.selectedGroupTitle {
	line-height: 2em;
	text-align: center;
}
.selectedGroupTitle label {
	background: #E73431;
	border: 3px solid #E73431;
	border-bottom: none;
	color: white;
	font-size: 1.3em;
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	margin-bottom: 0px;
}
.selectedGroupTitle label.label-default {
	background: #888;
	border: 3px solid #888;
	border-bottom: none;
}

.selectedGroupTitle button {
	background: white;
	border: 3px solid #2581C4;
	border-bottom: none;
	color: #2581C4;
	font-size: 1.3em;
	margin-bottom: 0px;
	padding: 2px 6px 3px;
}
.selectedGroupTitle button.active {
	background: #2581C4;
	border: 3px solid #2581C4;
	border-bottom: none;
	color: white;
	margin-bottom: 0px;
}

@media (max-width: 991px) {
	.selectedGroupTitle label {
		width: 100%;
	}
	.selectedGroupTitle button {
		width: 100%;
	}
}

/* TABLE */
.viztable, .graftable {margin-top: 1em;}
.viztable tbody td, .graftable tbody td {padding: 2px 8px;}
.graftable td {vertical-align: middle};
.graftable tbody tr:nth-child(1) td:nth-child(1) {width:40%;}
.graftable tbody tr:nth-child(1) td:nth-child(2) {width:30%;}
.graftable tbody tr:nth-child(1) td:nth-child(3) {width:30%;}
.viztable th:nth-child(1), .viztable td:nth-child(1) {width:50%;text-align:left;}
.viztable th:nth-child(2), .viztable td:nth-child(2) {width:25%;text-align:right;}
.viztable th:nth-child(3), .viztable td:nth-child(3) {width:25%;text-align:right;}

.groupList .group {
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}
.groupList .group-focus, .groupList  .group-focus:hover {
	background: white;
}

.bar {
	border-radius: 3px;
	height: 6px;
	width: 100%;
	margin-top: 5px;
}

.bar * {
	border-radius: 3px;
	height: 6px;
	min-width: 6px;
	float:right;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
.bar-budget {
	background: #ADF;
}
.bar-expenditure {
	background: #2581C4;
}
.groupList .group-focus .bar-budget {
	background: #ff9491;
}
.groupList .group-focus .bar-expenditure {
	background: #E73431;
}

.btn-group-selected {
	position: relative;
	text-align: center;
}
.btn-group-selected .btn-group {
	display: inline-flex;
}
.btn-group-selected .btn-group, .btn-group-selected .btn {
	position: static;
	white-space: normal;
}
.btn-group-selected .btn-initial {
	position: relative;
}
.btn-group-selected .btn-blue {
  min-width: 130px;
}
.btn-group-selected ul {
	width: 100%;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}
@media (max-width: 991px) {
	.btn-group-selected ul {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	}
}
.dropdown-menu > li > a {
    padding: 1px 5px;
}

.btn-label {font-size: 12px;line-height: 12px;}

.groupList div {
	white-space: normal;
}

.btn-infoModal {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1001;
}

.btn-group {
	box-shadow: 0px 0px 20px white;
}

.btn-red {
	background-color: #E73431;
	border-color: #E73431;
	color: white;
}

.btn-blue {
	background-color: #2581C4;
	border-color: #2581C4;
	color: white;
}
.btn-label {
	background-color: #EEE;
	border-color: #DDD;
}

.btn-label:hover {
	cursor: default;
}

.modal-body {
	overflow: hidden;	
}

.equalizer {
	height: 50px;
}
.equalizer .eBar {
	display: block;
	font-size: 1px;
	float: left;
	width: 5px;
	margin-left: 2px;
	min-height: 5px;
	position: relative;
	bottom: 0;
	background: #E73431;
}