
<div *ngIf="user" class="user">

  <a (click)="close.emit()" class="close"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>

  <h3>{{user.login}} (#{{user.id}})</h3>

  <div class="row">

    <div class="col-sm-9 useredit">
      <form class="form-horizontal" (submit)="saveUser()" #userForm="ngForm">

        <div class="form-group">
          <label for="organization" class="col-sm-3 control-label">Role</label>
          <div class="col-sm-9">
            <div class="checkbox" *ngFor="let role of roles">
              <label>
                <input type="checkbox" name="roles" [checked]="hasRole(role)" (change)="setRole(role,$event.target.checked)">
                {{role}}
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" disabled checked>
                guest
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Spravované profily</label>
          <div class="col-sm-6 profiles">
            <span *ngFor="let profile of user.managedProfiles" class="label label-primary">
              {{profile.name}}
              <br>
              <small>{{profile.id}}</small>
              <a (click)="removeProfile(profile)" class="remove"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
            </span>
            
            <div class="add input-group">
              <input #inputProfile type="text" placeholder="číslo profilu" pattern="[a-hA-H0-9]{24}" class="form-control">
              <div class="input-group-addon"><button type="button" (click)="addProfile(inputProfile.value)">Přidat</button></div>
            </div>            

          </div>

        </div>

        <div class="submit">
          <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Uložit změny</button>
        </div>

      </form>


    </div>

    <div class="col-sm-3 actions">

      <h4 class="hidden">Akce</h4>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="setPassword()">Nastavit heslo</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Smazat uživatele</button>
      </div>
    </div>

  </div>
</div>