
<div *ngIf="profile" class="profile">

  <a (click)="close.emit()" class="close"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>

  <h3>{{profile.name}}</h3>

  <div class="row">

    <div class="col-sm-9 editform">
      <form class="form-horizontal" (submit)="saveProfile(profileForm)" #profileForm="ngForm">

        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Název obce</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name" name="name" [ngModel]="profile.name" aria-describedby="help-name" required>
          </div>
        </div>

        <div class="form-group">
          <label for="url" class="col-sm-3 control-label">Adresa</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">https://cityvizor.cz/</span>
              <input type="text" class="form-control" id="url" name="url" [ngModel]="profile.url" aria-describedby="help-url" required pattern="^[0-9a-zA-Z\.\-_]+$">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="ico" class="col-sm-3 control-label">Identifikace obce</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">IČO</span>
              <input type="text" class="form-control" id="ico" name="ico" [ngModel]="profile.ico" aria-describedby="help-ico">
              <span class="input-group-addon">ZÚJ</span>
              <input type="text" class="form-control" name="zuj" [ngModel]="profile.zuj" aria-describedby="help-ico">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="edesky" class="col-sm-3 control-label">Úřední deska</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">eDesky</span>
              <input type="number" class="form-control" id="edesky" name="edesky" [ngModel]="profile.edesky" aria-describedby="help-edesky">
              <span class="input-group-addon">MapaSamospravy</span>
              <input type="number" class="form-control" name="mapasamospravy" [ngModel]="profile.mapasamospravy" aria-describedby="help-edesky">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="gps" class="col-sm-3 control-label">Poloha obce</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">N</span>
              <input type="number" step="0.000001" class="form-control" id="gps" name="gps1" [ngModel]="profile.gps[1]" aria-describedby="help-gps">
              <span class="input-group-addon">E</span>
              <input type="number" step="0.000001" class="form-control" name="gps0" [ngModel]="profile.gps[0]" aria-describedby="help-gps">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Kontaktní email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" name="email" [ngModel]="profile.email" aria-describedby="help-email" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label"></label>
          <div class="col-sm-9">
           <label class="control-label"><input type="checkbox" name="active" [ngModel]="profile.active"> Veřejný profil</label>
          </div>
        </div>
        
        <div class="submit">
          <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Uložit změny</button>
        </div>

      </form>
    </div>

    <div class="col-sm-3 actions">

      <h4 class="hidden">Akce</h4>
      <div class="form-group">
        <button type="button" class="btn btn-danger" (click)="deleteProfile()">Smazat profil</button>
      </div>
    </div>

  </div>
</div>