<div class="page container" *ngIf="entity">
	<div class="row">
		<div class="col-sm-4">
      <!-- left -->
			<h3>{{entity.name}}</h3>
      <hr>
			
      <ul class="nav nav-stacked">
        <li class="nav-item" *ngIf="entity.views['informace']"><a [routerLink]="getMenuLink('informace')" class="nav-link" routerLinkActive="active"><i class="fa fa-tasks"></i> Informace</a></li>
				<li class="nav-item" *ngIf="entity.views['vydaje']"><a [routerLink]="getMenuLink('vydaje')" class="nav-link" routerLinkActive="active" class="highlight"><i class="fa fa-money"></i> Výdaje</a></li>
				<li class="nav-item" *ngIf="entity.views['uredni-deska']"><a [routerLink]="getMenuLink('uredni-deska')" class="nav-link" routerLinkActive="active"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Úřední deska</a></li>
        <li class="nav-item" *ngIf="entity.views['prezkum-hospodareni']"><a [routerLink]="getMenuLink('prezkum-hospodareni')" class="nav-link" routerLinkActive="active"><i class="glyphicon glyphicon-scale"></i> Přezkum hospodaření</a></li>
        <li class="nav-item" *ngIf="entity.views['datove-zdroje']"><a [routerLink]="getMenuLink('datove-zdroje')" class="nav-link" routerLinkActive="active"><i class="glyphicon glyphicon-download-alt"></i> Datové zdroje</a></li>
      </ul>
      
      <hr>
			<ul class="nav nav-stacked">
        <li class="nav-item"><a [routerLink]="['/admin',entity.ico]" class="nav-link" routerLinkActive="active"><i class="fa fa-cog"></i> Spravovat</a></li>
			</ul>
      
  	</div>
		<div class="col-sm-8" [ngSwitch]="view">
			<!-- right -->
			
			<entity-info *ngSwitchCase="'informace'" [entity]="entity"></entity-info>
			
			<expenditure-view *ngSwitchCase="'vydaje'" [ico]="entity.ico"></expenditure-view>
			
			<notice-board *ngSwitchCase="'uredni-deska'" [nbId]="entity.data['uredni-deska']"></notice-board>
		</div>
	</div>
</div>
