<div class="page container">
	<div class="row">
		<div class="col-sm-4">
      <!-- left -->
			<h3>{{entity.name}}</h3>
      <hr>
			<ul class="fa-ul">
				<li><i class="fa fa-map-marker"></i> <strong>Adresa</strong> Ulice číslo, Město</li>
				<li><i class="fa fa-hashtag"></i> <strong>IČ</strong> {{entity.ico}}</li>
			</ul>
			
			<h3>Data</h3>
      <hr>
			
      <ul class="nav nav-stacked">
        <li class="nav-item"><a routerLink="informace" class="nav-link" routerLinkActive="active"><i class="fa fa-tasks"></i> Informace</a></li>
				<li class="nav-item"><a routerLink="vydaje" class="nav-link" routerLinkActive="active" class="highlight"><i class="fa fa-money"></i> Výdaje</a></li>
				<li class="nav-item"><a routerLink="uredni-deska" class="nav-link" routerLinkActive="active"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Úřední deska</a></li>
        <li class="nav-item"><a routerLink="prezkum-hospodareni" class="nav-link" routerLinkActive="active"><i class="glyphicon glyphicon-scale"></i> Přezkum hospodaření</a></li>
        <li class="nav-item"><a routerLink="datove-zdroje" class="nav-link" routerLinkActive="active"><i class="glyphicon glyphicon-download-alt"></i> Datové zdroje</a></li>
      </ul>
      
      <hr>
			<ul class="nav nav-stacked">
        <li class="nav-item"><a [routerLink]="['/admin',entity.ico]" class="nav-link" routerLinkActive="active"><i class="fa fa-cog"></i> Spravovat</a></li>
			</ul>
      
  	</div>
		<div class="col-sm-8">
			<!-- right -->
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
