<div class="page container" *ngIf="entity">
	<div class="row">
		<div class="col-sm-4">
      <!-- left -->
			<h3>{{entity.name}}</h3>
      <hr>
			
      <ul class="nav nav-stacked">
				<li class="nav-item" *ngFor="let module of modules"><a *ngIf="entity.modules[module.id] || !module.optional" [routerLink]="getVizLink(module.id)" class="nav-link" routerLinkActive="active"><i class="fa" [class]="module.icon"></i> {{module.name}}</a></li>
      </ul>
      
      <hr>
			<ul class="nav nav-stacked">
        <li class="nav-item"><a [routerLink]="getAdminLink()" class="nav-link" routerLinkActive="active"><i class="fa fa-cog"></i> Spravovat</a></li>
			</ul>
      
		</div>
		<div class="col-sm-8" [ngSwitch]="view">

			<entity-info *ngSwitchCase="'informace'" [entity]="entity"></entity-info>

			<expenditure-view *ngSwitchCase="'vydaje'" [ico]="entity.ico"></expenditure-view>

			<notice-board *ngSwitchCase="'uredni-deska'" [data]="entity.data.modules['uredni-deska']"></notice-board>

			<management-review *ngSwitchCase="'prezkum-hospodareni'" [ico]="entity.ico"></management-review>

		</div>
	</div>

</div>
