<svg width="100%" viewBox="-500 -500 1000 1000" id="chart-bigbang">
	<g [style.transform]="'rotate(' + (360 * getAlpha()) + 'deg)'" class="stripes">
		<g *ngFor="let item of data; let i = index">
			<path [attr.d]="getStripePath(i,innerR,getStripeSize(item.amount))" class="stripe innerStripe" [class.selected]="item.id==selected" />
			<path [attr.d]="getStripePath(i,getStripeSize(item.amount),getStripeSize(item.budgetAmount))" class="stripe outerStripe" [class.selected]="item.id==selected" />

			<path [attr.d]="getStripePath(i,0,1)" class="stripe bgstripe" [class.selected]="item.id==selected" [class.hovered]="item.id==hovered" (click)="select.emit(item.id)" (mouseover)="hover.emit(item.id)" (mouseout)="hover.emit(null)" />
		</g>
	</g>
	<circle [attr.r]="getCircleR()" [attr.cx]="cx" [attr.cy]="cy" fill="#F3F3F3" stroke-width="10" stroke="#fff" (click)="select.emit(null)" class="circle" />
</svg>