<div class="box ratio2_1">
	<div class="content">
		<svg width="100%" viewBox="-500 -500 1000 1000" id="chart-bigbang">
			<g [style.transform]="'rotate(' + (360 * getAlpha()) + 'deg)'" class="stripes">
				<g *ngFor="let item of data; let i = index">
					<path [attr.d]="getStripePath(i,innerR,getStripeSize(item.amount))" class="stripe innerStripe" [class.selected]="item.id==selected" />
					<path [attr.d]="getStripePath(i,getStripeSize(item.amount),getStripeSize(item.budgetAmount))" class="stripe outerStripe" [class.selected]="item.id==selected" />

					<path [attr.d]="getStripePath(i,0,1)" class="stripe bgstripe" [class.selected]="item.id==selected" [class.hovered]="item.id==hovered" (click)="select.emit(item.id)" (mouseover)="hover.emit(item.id)" (mouseout)="hover.emit(null)" />
				</g>
			</g>
			<circle [attr.r]="getCircleR()" [attr.cx]="cx" [attr.cy]="cy" fill="#F3F3F3" stroke-width="10" stroke="#fff" (click)="select.emit(null)" class="circle" />

			<!--<path [attr.d]="getDonutPath(cx,cy,0,75,0,data.expenditureAmount/data.budgetExpenditureAmount)" stroke-width="0" fill="#fff" opacity="0.8" />-->

			<text *ngIf="showAmounts" [attr.x]="cx" [attr.y]="cy + 15" text-anchor="middle" style="font-family:Roboto;font-size:50px;" fill="#E73431">{{totalBudgetAmount | money:0:true}}</text>
			<text *ngIf="showAmounts" [attr.x]="cx" [attr.y]="cy + 35" text-anchor="middle" style="font-family:Roboto;font-size:20px;" fill="#E73431">Čerpání: {{totalAmount | money:0:true}}</text>


			<!--
			<g *ngFor="let group of groups; let i = index">
				<g >
					<circle *ngIf="selected==group || (!selected && hovered==group)"  r="10" [attr.cx]="getLineCircleCoordinates(i,'x')" [attr.cy]="getLineCircleCoordinates(i,'y')" stroke="#FFF" stroke-width="3"  fill="#E73431" />
					<path *ngIf="!selected && hovered==group" [attr.d]="getLinePath(i)" stroke="#E73431" stroke-width="2" fill="none"/>
				</g>
			</g>

			<g *ngIf="!hovered && !selected">
				<circle r="10" [attr.cx]="cx" [attr.cy]="50" fill="#777" stroke="#FFF" stroke-width="2" />
				<path d="M 500,0 L 500,50" stroke="#777" stroke-width="2" fill="none"/>
			</g>-->
		</svg>
	</div>	
</div>