<div id="entity" *ngIf="profile">

	<profile-header [profile]="profile"></profile-header>

	<div *ngIf="activeModule" id="content" class="container">
			<div [ngSwitch]="activeModule.id" id="vizmodules">

				<dash-board *ngSwitchCase="'dash-board'" [profile]="profile"></dash-board>

				<expenditure-viz *ngSwitchCase="'expenditure-viz'" [profile]="profile"></expenditure-viz>

				<income-viz *ngSwitchCase="'income-viz'" [profile]="profile"></income-viz>
				
				<invoice-list *ngSwitchCase="'invoice-list'" [profile]="profile"></invoice-list>

				<notice-board *ngSwitchCase="'notice-board'" [profile]="profile"></notice-board>

				<contract-list *ngSwitchCase="'contract-list'" [profile]="profile"></contract-list>
				
				<data-sources *ngSwitchCase="'data-sources'" [profile]="profile"></data-sources>

			</div>
		</div>

</div>