h3{margin-top:0;}

.user{position:relative;min-height:250px;padding:20px;margin:20px 0;background-color:#eee;}
.user form{padding:10px;}
.user form .submit{clear:both;}
.user .close{position:absolute;top:10px;right:10px;color:#333;}

.profiles{padding:0 10px;}
.profiles .label{display:block;position:relative;padding:5px;margin:5px 0;text-align:left;font-size:inherit;font-weight:inherit;}
.profiles .add{text-align:right;margin-top:10px;}
.profiles .label .remove{opacity:0;position:absolute;top:50%;right:5px;margin-top:-14px;color:#fff;}
.profiles .label:hover .remove{opacity:.5;}
.profiles .label .remove:hover{opacity:1;}

.roles{padding:0 10px;}

.useredit{border-right:1px solid #666;}

.actions button{display:block;width:100%;margin-bottom:10px;}