
<div *ngIf="user" class="user container">

  <h2>{{user.login}} (#{{user.id}})</h2>

  <div class="row">
    
    <div class="col-md-6 useredit">

      <h3>Nastavit heslo</h3>

      <form class="form-horizontal" (submit)="savePass(userPassForm)" #userPassForm="ngForm">

        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Heslo</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password" name="password" ngModel required>
          </div>
        </div>

        <div class="form-group">
          <label for="password2" class="col-sm-3 control-label">Heslo znovu</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password2" name="password2" ngModel required>
          </div>
        </div>

        <div class="submit">
          <button type="submit" class="btn btn-primary" [disabled]="!userPassForm.valid">Nastavit heslo</button>
        </div>

      </form>

    </div>

  </div>