
#content{
	background-color:#fff;
	padding: 1em 0 1em 0;
	min-height:800px;
}

#vizmodules{position:relative;}
#vizmodules > * {
	position:absolute;
	top:0;left:0;right:0;
	padding-bottom:120px;
}
	




