<div id="entity" *ngIf="profile">

	<profile-header [profile]="profile"></profile-header>

	<div id="content"  class="container">
		<div class="row">
			<div class="col-sm-12" [ngSwitch]="activeModule?.id" id="vizmodules">

				<dash-board *ngSwitchCase="'dash-board'" [profile]="profile" [@switchAnimation]></dash-board>

				<expenditure-viz *ngSwitchCase="'expenditure-viz'" [profile]="profile" [@switchAnimation]></expenditure-viz>

				<expenditure-events *ngSwitchCase="'expenditure-events'" [profile]="profile" [@switchAnimation]></expenditure-events>

				<notice-board *ngSwitchCase="'notice-board'" [profile]="profile" [@switchAnimation]></notice-board>

				<contract-list *ngSwitchCase="'contract-list'" [profile]="profile" [@switchAnimation]></contract-list>

			</div>

			<entity-admin *ngIf="view=='admin'" [profile]="profile"></entity-admin>
		</div>
	</div>
</div>