<svg style="width: 100%;" viewBox="0 0 500 500">
	
	<!-- Expenditures -->
	<rect x="75" [attr.y]="getYOffset(data.budgetExpenditureAmount)" width="150" [attr.height]="getHeight(data.budgetExpenditureAmount)" style="fill:#ff9491" />
	<rect x="75" [attr.y]="getYOffset(data.expenditureAmount)" width="150" [attr.height]="getHeight(data.expenditureAmount)" style="fill:#E73431" />
	<text x="150" y="480" text-anchor="middle" font-size="60" fill="#E73431">Výdaje</text>
	
	<!-- Income -->
	<rect x="325" [attr.y]="getYOffset(data.budgetIncomeAmount)" width="150" [attr.height]="getHeight(data.budgetIncomeAmount)" style="fill:#adf" />
	<rect x="325" [attr.y]="getYOffset(data.incomeAmount)" width="150" [attr.height]="getHeight(data.incomeAmount)" style="fill:#2581C4" />
	<text x="400" y="480" text-anchor="middle" font-size="60" fill="#2581C4">Příjmy</text>
	
	
</svg>