<svg style="width: 100%;" viewBox="0 0 1000 500">
	
	<!-- Expenditures -->
	<rect x="100" [attr.y]="getYOffset(data.budgetExpenditureAmount)" width="100" [attr.height]="getHeight(data.budgetExpenditureAmount)" style="fill:#ff9491" />
	<rect x="300" [attr.y]="getYOffset(data.expenditureAmount)" width="100" [attr.height]="getHeight(data.expenditureAmount)" style="fill:#E73431" />
	<text x="250" y="490" text-anchor="middle" font-size="60" fill="#E73431">Výdaje</text>
	
	<!-- Income -->
	<rect x="600" [attr.y]="getYOffset(data.budgetIncomeAmount)" width="100" [attr.height]="getHeight(data.budgetIncomeAmount)" style="fill:#adf" />
	<rect x="800" [attr.y]="getYOffset(data.incomeAmount)" width="100" [attr.height]="getHeight(data.incomeAmount)" style="fill:#2581C4" />
	<text x="750" y="490" text-anchor="middle" font-size="60" fill="#2581C4">Příjmy</text>
	
	
</svg>