<div #drawing>
	<svg [attr.width]="drawingSize" [attr.height]="drawingSize">
		
		<g *ngFor="let group of groups; let i = index">
			<path [attr.d]="getGroupStripe(group, i)" stroke="#fff" stroke-width="2" [attr.fill]="group.color" />
			<path [attr.d]="getBgStripe(i)" stroke-width="0" [attr.fill]="group.color" class="bgstripe" (mouseover)="hoverGroup=group" (mouseout)="hoverGroup=null" (click)="selectedGroup=group" />
		</g>
	</svg>
</div>

<div *ngIf="selectedGroup">
	<h2>{{selectedGroup.title}}</h2>
</div>