<div class="drawing" #drawing>
	
	<div><span *ngIf="hoverGroup">{{hoverGroup.title}}</span>&nbsp;</div>
	
	<svg [attr.height]="scale * 750 + 'px'" width="100%" viewBox="0 0 1000 1000">
		
		<g *ngFor="let group of groups; let i = index">
			<path [attr.d]="getEStripePath(i, group)"  stroke-width="2" stroke="#fff" [attr.fill]="selectedGroup==group ? '#E73431' : '#2581C4'" />
			<path [attr.d]="getBStripePath(i, group)"  stroke-width="2" stroke="#fff" [attr.fill]="selectedGroup==group ? '#ff9491' : '#ADF'" />
			
			<path [attr.d]="getStripePath(i,innerSize,1)" stroke-width="0" fill="#aaa" class="bgstripe" (mouseover)="hoverGroup=group" (mouseout)="hoverGroup=null" (click)="selectGroup(group)" />
		</g>
		
		<circle [attr.r]="getCircleR()" [attr.cx]="cx" [attr.cy]="cy" [attr.fill]="selectedGroup==null ? '#F3F3F3' : '#F3F3F3'" stroke-width="10" stroke="#fff" (click)="selectGroup(null)" class="circle" />
		
		<path [attr.d]="generateStripePath(cx,cy,0,75,0,data.expenditureAmount/data.budgetAmount)" stroke-width="0" fill="#fff" opacity="0.8"/>
		
		<text  [style.display]="showAmounts?'inherit':'none'" [attr.x]="cx" [attr.y]="cy + 15" text-anchor="middle" style="font-family:Roboto;font-size:50px;" fill="#E73431">{{data.budgetAmount | money:0:true}}</text>
		<text  [style.display]="showAmounts?'inherit':'none'" [attr.x]="cx" [attr.y]="cy + 35" text-anchor="middle" style="font-family:Roboto;font-size:20px;" fill="#E73431">Čerpání: {{data.expenditureAmount | money:0:true}}</text>
		
	</svg>
</div>

<div *ngIf="selectedGroup" id="selectedGroup">
	<h4>{{selectedGroup.title}}</h4>
	<hr>

	<div *ngIf="data.groupIndex[selectedGroup.id]">

		<div *ngFor="let paragraph of data.groupIndex[selectedGroup.id].paragraphs" class="paragraph">

			<div class="graph">
				<svg height="100px" width="100px" viewBox="0 0 1000 1000">
					<path *ngIf="paragraph.expenditureAmount" [attr.d]="generateStripePath(500,500,250,500,0,paragraph.budgetAmount ? paragraph.expenditureAmount / paragraph.budgetAmount : 0)" stroke-width="10" stroke="#fff" fill="#E73431" />
					<path [attr.d]="generateStripePath(500,500,250,400,paragraph.budgetAmount ? paragraph.expenditureAmount / paragraph.budgetAmount : 0,paragraph.budgetAmount ? 1 - paragraph.expenditureAmount / paragraph.budgetAmount : 0)" stroke-width="10" stroke="#fff" fill="#ff9491" />
				</svg>
				
				<br>

				<span style="color:#E73431;">&#9632;</span> Čerpáno: {{paragraph.expenditureAmount | money:0:true}} Kč
				<br>
				<span *ngIf="paragraph.expenditureAmount <= paragraph.budgetAmount">
					<span style="color:#ff9491;">&#9632;</span> Zbývá:
				</span>
				<span *ngIf="paragraph.expenditureAmount > paragraph.budgetAmount">Překročeno o </span>
				{{paragraph.budgetExpenditureDiffAbsAmount | money:0:true}} Kč

			</div>

			<div class="content">
				<span class="label label-primary">{{paragraph.id}} - {{paragraph.name}}</span>
				<span *ngIf="paragraph.expenditureAmount > paragraph.budgetAmount" class="label label-warning"><i class="fa fa-warning"></i> Překročen rozpočet!</span>

				<table class="viztable table table-responsive small">
					<thead>
						<tr>
							<th>Položka</th>
							<th>Realizované výdaje</th>
							<th>Rozpočet</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let event of paragraph.expenditureEvents">
							<td>{{event.name}}</td>
							<td>{{event.expenditureAmount | money:0:true}} Kč</td>
							<td>{{event.budgetAmount | money:0:true}} Kč</td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
		</div>
	</div>
</div>