.equalizer {
	height: 50px;
}
.equalizer .eBar {
	display: block;
	font-size: 1px;
	float: left;
	width: 5px;
	margin-left: 2px;
	min-height: 5px;
	position: relative;
	bottom: 0;
	background: #E73431;
}


svg{margin:0 auto;display:block;margin-top:-15%;}

.stripes{transform:rotate(0deg);transform-origin:0px 0px;transition-timing-function:ease-in-out;}
.stripe{cursor:pointer;border:2px solid #fff;transition-duration: .05s;}

.innerStripe{fill:#2581C4;stroke:#fff;stroke-width:2;}
.innerStripe.selected{fill:#E73431;}
.outerStripe{fill:#adf;stroke:#fff;stroke-width:2;}
.outerStripe.selected{fill:#ff9491;}

.zeroStripe{fill:#DDD;stroke:#fff;stroke-width:2;}

.bgstripe{fill:#aaa;opacity:0;cursor:pointer;}
.bgstripe.hovered{opacity:0.2;}

.circle{cursor:pointer;}

.whiteBackground {
	position: absolute;
	z-index: 2000;
	position: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: white;
}