h3{margin-top:0;}

.profile{position:relative;min-height:250px;padding:20px;margin:20px 0;background-color:#eee;}
.profile form{padding:10px;}
.profile form .submit{clear:both;text-align:right;}
.profile .close{position:absolute;top:10px;right:10px;color:#333;}

.editform{border-right:1px solid #666;}

.actions button{display:block;width:100%;margin-bottom:10px;}