
<<<<<<< HEAD:src/app/views/profile-view/dash-board/dash-board.component.scss
.dashboard{margin-bottom:30px;}
.dashboard chart-history{display:inline-block;margin:60px 0;}

=======
/*.dashboard{margin-bottom:30px;}
.dashboard chart-history{display:inline-block;margin:60px 0;}
*/
>>>>>>> origin/development:src/views/profile-view/dash-board/dash-board.style.css

.news {
	margin: 10px 0px;
}
.news > div {
	height:100%;
	border: 1px solid #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fcfcfc;
}
.bg-timeline {
	position:relative;
	margin:10px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+50,1e5799+50,2989d8+51,000000+51,7db9e8+100 */
background: transparent; /* Old browsers */
background: -moz-linear-gradient(left, transparent 0%, transparent 49.5%, #eee 49.5%, #eee 50.5%, transparent 50.5%, transparent 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, transparent 0%, transparent 49.5%, #eee 49.5%, #eee 50.5%, transparent 50.5%, transparent 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, transparent 0%, transparent 49.5%, #eee 49.5%, #eee 50.5%, transparent 50.5%, transparent 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding-bottom: 30px;
}

.bg-timeline .more{position:absolute;left:0;bottom:0;right:0;}

.budgets{margin-top:0px;}
.budgets .budget{margin:0 10px;}
.budgets .label{margin:0px auto;}

.generalinfo{margin:50px 0;}

.vertical-align {
  display: flex;
}
.vertical-align-end {   
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.label-group {
	display: inline;
}

.label-group>.label {
	border-radius: 0;
	margin: 0;
}

.label-group>.label:first-child {
	border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 5px;
}
    
.label-group>.label:last-child {
	border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-right: 5px;
}
.label-group>.label:nth-child(2) { filter: alpha(opacity=90);opacity: 0.9; }
.label-group>.label:nth-child(3) { filter: alpha(opacity=80);opacity: 0.8; }
.label-group>.label:nth-child(4) { filter: alpha(opacity=70);opacity: 0.7; }
.label-group>.label:nth-child(5) { filter: alpha(opacity=60);opacity: 0.6; }
