<h2>Logo obce</h2>

<p>Toto znak se zobrazuje v seznamu obcí na <a routerLink="/">úvodní straně</a>.</p>

<form class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Současný znak</label>
    <div class="col-sm-10 avatar">
      <img [attr.src]="avatarPath">
    </div>
  </div>

  <div class="form-group">
    <label for="avatar" class="col-sm-2 control-label">Nahrát znak</label>
    <div class="col-sm-10">
      <input name="avatar" type="file" accept=".jpg,.jpeg,.png,.svg, image/jpeg,image/png,image/gif,image/svg+xml" class="form-control" required #avatarFile (change)="save(avatarFile)">
      <span *ngIf="tooBig" class="text-danger">Soubor je příliš velký. Maximální velikost je 100kB.</span>
      <span id="help-avatar" class="help-block">Obrázek musí být čtercový a pouze v jednom z těchto formátů: PNG, JPG, GIF, SVG. Maximální velikost je 100kB.</span>
    </div>
  </div>

  <div class="form-group">
    <label for="avatar" class="col-sm-2 control-label">Smazat znak</label>
    <div class="col-sm-10">
      <button type="button" class="btn btn-danger" (click)="delete()">Smazat znak</button>
      <span id="help-avatar" class="help-block">Tuto akci nelze vrátit zpět!</span>
    </div>
  </div>
</form>