
<table class="table table-responsive">
	<tr *ngFor="let module of modules">
		<th>{{module.name}}</th>
		<td>
			<div *ngIf="module.optional" class="btn-group pull-right">
				<button type="button" class="btn btn-sm btn-default" [class.active]="profile.modules[module.id]" (click)="setModuleState(module,true)">Zapnuto</button>
				<button type="button" class="btn btn-sm btn-default" [class.active]="!profile.modules[module.id]" (click)="setModuleState(module,false)">Vypnuto</button>
			</div>
		</td>
	</tr>
</table>