.widget {
	border: 1px solid #eee;
	border-radius: 10px;
	background: white; margin: 15px 0;
	
	.row {
		display: flex;
		align-items: center;
		margin: 0;
	}
	.left-side {
		height: 100%; text-align: center; padding: 0px;
	}
	.right-side {
		height: 100%;
		border-left: 1px solid #eee;
		background: #fcfcfc;
		padding: 0px;
	}
	.amount-title {
		text-transform: uppercase; color: #777; font-size: 75%; margin-top: 15px;
	}
}

.drawpath {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 15s linear forwards;
}

@keyframes dash {
	from {
		stroke-dashoffset: 1000;
	}
	to {
		stroke-dashoffset: 0;
	}
}