<div class="widget">
  <div class="row">
    <div class="col-xs-5 left-side" style="">
      <div>
        <i [attr.class]="'fa fa-4x '+icon" style="color: #2581C4;"></i>
        <h4 style="color: #2581C4;">{{name}}</h4>
      </div>
    </div>
    <div class="col-xs-7 right-side">
      <table style="width: 100%;">
        <tr>
          <td style="width: 50%;">
              <div class="amount-title" style="">Rozpočet</div>
              <h4><span  style="color: #2581C4;">{{barsIndex[hoverYear].amount | money:0:true}} Kč</span></h4>
          </td>
          <td>
              <div class="amount-title">Skutečnost</div>
              <h4><span  style="color: #E73431;">{{barsIndex[hoverYear].budgetAmount | money:0:true}} Kč</span></h4>
          </td>
        </tr>
      </table>
      <svg viewBox="0 0 200 100" style="width:100%; height: auto;">
        <path [attr.d]="chartPathString" stroke="#2581C4" stroke-width="3" fill="none" [ngClass]="{'drawpath': true}"></path>
        <circle [attr.cx]="chartPoints.amount[hoverYear][0]" [attr.cy]="chartPoints.amount[hoverYear][1]" r="4" fill="#2581C4"></circle>
        <path [attr.d]="chartBudgetPathString" stroke="#E73431" stroke-width="3" fill="none" [ngClass]="{'drawpath': true}"></path>
        <circle [attr.cx]="chartPoints.budgetAmount[hoverYear][0]" [attr.cy]="chartPoints.budgetAmount[hoverYear][1]" r="4" fill="#E73431"></circle>
        <g *ngFor="let bar of bars; let i = index">
          <text [attr.x]="i*50+25" y="80" text-anchor="middle" fill="#777" style="font-size: 75%;">{{bar.year}}</text>
          <rect *ngIf="bar.amount > 0 && bar.budgetAmount > 0" [attr.x]="i*50" y="0" width="75" height="100" (mouseenter)="hoverYear = bar.year" (mouseout)="hoverYear = currentYear" style="opacity:0;"></rect>
        </g>
      </svg>
    </div>
  </div> 
</div>