.rowHours {
	font-size: 0.8em;
	line-height: 1em;
	margin-bottom: .5em;
}
.barHours {
	height: 1em; background: #f3f3f3; border-radius: 10px; margin: 0px 0%;
}	
.barHoursOpened {
	background: #2581C4; border-radius: 1.5em; margin: 0px 20%; position: relative;height: 100%;
}	
.titleHours {
	position: absolute;
	color: #FFF;
	background: rgb(37, 129, 196) none repeat scroll 0% 0%;
	width: 18px;
	height: 18px;
	top: -4px;
	line-height: 18px;
	border-radius: 9px;
	text-align: center;
	font-weight: bold;
}	
.titleHoursStart {
	left: 0px;
}	
.titleHoursEnd { 
	right: 0px;
}
.dayTitle {
	font-weight: bold;
}
profile-map {
	width: 100%; height: auto;
}