<h2>
	<span>Přehled</span>
</h2>

<div class="row">
	<div class="col-sm-4">
		<h4>
			<i class="fa fa-info-circle"></i>
			Základní údaje
		</h4>
		<div class="small">
			<div class="row">
				<div class="col-xs-4"><strong><i class="fa fa-map-signs"></i> Adresa</strong></div>
				<div class="col-xs-8">Vratislavovo nám.	103, 59231</div>
			</div>
			<div class="row">
				<div class="col-xs-4"><strong><i class="fa fa-hashtag"></i> ZÚJ</strong></div>
				<div class="col-xs-8">596230</div>
			</div>
			<div class="row">
				<div class="col-xs-4"><strong><i class="fa fa-hashtag"></i> IČO</strong></div>
				<div class="col-xs-8">00294900</div>
			</div>
			<div class="row">
				<div class="col-xs-4"><strong><i class="fa fa-envelope"></i> Email</strong></div>
				<div class="col-xs-8">posta@nmnm.cz</div>
			</div>
			<div class="row">
				<div class="col-xs-4"><strong><i class="fa fa-globe"></i> Datová s.</strong></div>
				<div class="col-xs-8">y67bvir</div>
			</div>
			<div class="row">
				<div class="col-xs-4"><strong><i class="fa fa-external-link"></i> Web</strong></div>
				<div class="col-xs-8"><a href="http://www.nmnm.cz" target="_blank">www.nmnm.cz</a></div>
			</div>
		</div>
		<!--
			596230	00294900	Městský úřad	Nové Město na Moravě	Vratislavovo nám.	103	59231	Nové Město na Moravě	Nové Město na Moravě	566 598 300	566598305	posta@nmnm.cz	y67bvir	http://www.nmnm.cz	Po.,Stř.,8:00-17:00, Čt.,8:00-14:00	Městský úřad	Starosta:Michal Šmarda	566 650 201	starosta@nmnm.cz	Místost.:Stanislav Marek		mistostarosta@nmnm.cz	CZ0635596230	3577836,99	5492763,74	3577732	5492675
		-->
	</div>
	<div class="col-sm-4 text-center">
		<!-- MAPA -->
		<div>
			<profile-map [profiles]="[profile]"></profile-map>
		</div>
	</div>
	<div class="col-sm-4">
		<h4>
			<i class="fa fa-clock-o"></i>
			Provoz obecního úřadu
		</h4>
		<div class="row rowHours" *ngFor="let hoursOpeningDay of hoursOpeningNMNM">
			<div class="col-xs-2 dayTitle">{{hoursOpeningDay.dayTitle}}</div>
			<div class="col-xs-10 barHours">
				<div class="barHoursOpened" *ngIf="hoursOpeningDay.start!=0" [style.margin-left]="getBarMarginLeft(hoursOpeningDay)+'%'"  [style.margin-right]="getBarMarginRight(hoursOpeningDay)+'%'">
					<div class="titleHoursStart">{{hoursOpeningDay.start}}</div>
					<div class="titleHoursEnd">{{hoursOpeningDay.end}}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 text-center">
		<h4>Příjmy</h4>
		<br>
		<svg height="200px" width="200px" viewBox="0 0 1000 1000">
			<g>
				<g *ngIf="dashboard.income">
					<g *ngFor="let bar of dashboard.income;let i = index">
						
						<text [attr.x]="100 + getIncBarWidth()/2 + i * (getIncBarWidth() + 50)" y="120" style="fill:#2581C4;font-size:80px;text-anchor:middle;">{{bar.budgetAmount | money:0:true}}</text>

						<rect [attr.x]="100 + i * (getIncBarWidth() + 50)" [attr.width]="getIncBarWidth()" [attr.y]="100" [attr.height]="700 * (bar.budgetAmount - bar.expenditureAmount)/bar.budgetAmount" fill="#ADF" stroke="#fff" stroke-width="5" />
						<text [attr.x]="100 + getIncBarWidth()/2 + i * (getIncBarWidth() + 50)" y="285" style="fill:#fff;font-size:80px;text-anchor:middle;">{{bar.budgetAmount - bar.expenditureAmount | money:0:true}}</text>

						<rect [attr.x]="100 + i * (getIncBarWidth() + 50)" [attr.width]="getIncBarWidth()" [attr.y]="100 + 700 * (bar.budgetAmount - bar.expenditureAmount)/bar.budgetAmount"  [attr.height]="700 * bar.expenditureAmount/bar.budgetAmount" fill="#2581C4" stroke="#fff" stroke-width="5" />
						<text [attr.x]="100 + getIncBarWidth()/2 + i * (getIncBarWidth() + 50)" [attr.y]="285 + 700 * (bar.budgetAmount - bar.expenditureAmount)/bar.budgetAmount" style="fill:#fff;font-size:80px;text-anchor:middle;">{{bar.expenditureAmount | money:0:true}}</text>

						<text [attr.x]="100 + getIncBarWidth()/2 + i * (getIncBarWidth() + 50)" y="990" style="fill:#333;font-size:80px;text-anchor:middle;">{{bar.year}}</text>
					</g>
				</g>

				<line x1="0" y1="900" x2="1000" y2="900" style="stroke:#999;stroke-width:2;font-size:40px;text-anchor:middle;" />
			</g>
		</svg>
	</div>
	
	<div class="col-sm-6 text-center">
		<h4>Výdaje</h4>
		<br>
		<svg height="200px" width="200px" viewBox="0 0 1000 1000">
			<g>
				<g *ngIf="dashboard.expenditures">
					<g *ngFor="let bar of dashboard.expenditures;let i = index">
						
						<text [attr.x]="100 + getExpBarWidth()/2 + i * (getExpBarWidth() + 50)" y="120" style="fill:#2581C4;font-size:80px;text-anchor:middle;">{{bar.budgetAmount | money:0:true}}</text>
						
						<rect [attr.x]="100 + i * (getExpBarWidth() + 50)" [attr.width]="getExpBarWidth()" [attr.y]="200" [attr.height]="700 * (bar.budgetAmount - bar.expenditureAmount)/bar.budgetAmount" fill="#ADF" stroke="#fff" stroke-width="5" />
						<text [attr.x]="100 + getExpBarWidth()/2 + i * (getExpBarWidth() + 50)" y="285" style="fill:#fff;font-size:50px;text-anchor:middle;">{{bar.budgetAmount - bar.expenditureAmount | money:0:true}}</text>

						<rect [attr.x]="100 + i * (getExpBarWidth() + 50)" [attr.width]="getExpBarWidth()" [attr.y]="200 + 700 * (bar.budgetAmount - bar.expenditureAmount)/bar.budgetAmount"  [attr.height]="700 * bar.expenditureAmount/bar.budgetAmount" fill="#2581C4" stroke="#fff" stroke-width="5" />
						<text [attr.x]="100 + getExpBarWidth()/2 + i * (getExpBarWidth() + 50)" [attr.y]="285 + 700 * (bar.budgetAmount - bar.expenditureAmount)/bar.budgetAmount" style="fill:#fff;font-size:50px;text-anchor:middle;">{{bar.expenditureAmount | money:0:true}}</text>

						<text [attr.x]="100 + getExpBarWidth()/2 + i * (getExpBarWidth() + 50)" y="990" style="fill:#333;font-size:80px;text-anchor:middle;">{{bar.year}}</text>
					</g>
				</g>

				<line x1="0" y1="900" x2="1000" y2="900" style="stroke:#999;stroke-width:2;" />
			</g>
		</svg>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		<i class="fa fa-square" aria-hidden="true" style="color:#2581C4;"></i> Čerpáno
			&nbsp;&nbsp;&nbsp;
		<i class="fa fa-square" aria-hidden="true" style="color:#ADF;"></i> Zbývá vyčerpat
	</div>
</div>