<div id="entity" *ngIf="profile">

	<header id="headerObec">
		<div class="container">
			<h1>
				<i class="fa fa-map-signs"></i>
				<a routerLink="../prehled" routerLinkActive="active">{{profile.name}}</a>
			</h1>
			<a routerLink="/" routerLinkActive="active" class="btn pull-right">
				<i class="fa fa-chevron-circle-right"></i> 
				<span>Vybrat obec</span>
			</a>
		</div>
	</header>
	
	<div class="entity-menu">
		<div class="container">
			<nav class="navbar">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li *ngFor="let module of modules">
									<a [style.display]="(profile.modules[module.id] || !module.optional)?'inherit':'none'" [routerLink]="getVizLink(module)" class="" routerLinkActive="active">
										{{module.name}}
									</a>
								</li>
							</ul>
						</div><!--/.nav-collapse -->
					</div><!--/.container-fluid -->
				</nav>
		</div>
	</div>

	<div id="content">

		<div class="page container">
			<div class="row">
				<div class="col-sm-3 hidden">

					<div class="list-group">
						<a  *ngFor="let module of modules" [style.display]="(profile.modules[module.id] || !module.optional)?'inherit':'none'" [routerLink]="getVizLink(module)" class="list-group-item" routerLinkActive="active">
							<i class="fa" [class]="module.icon"></i> {{module.name}}
						</a>
					</div>
					<ul class="nav nav-stacked" *ngIf="isManagedProfile(profile)">
						<li class="nav-item"><a [routerLink]="getAdminLink()" class="nav-link text-muted" routerLinkActive="active"><i class="fa fa-cog"></i> Spravovat</a></li>
					</ul>

				</div>
				<div class="col-sm-12" [ngSwitch]="activeModule.id">

					<dash-board *ngSwitchCase="'dash-board'" [profile]="profile"></dash-board>

					<expenditure-viz *ngSwitchCase="'expenditure-viz'" [profile]="profile"></expenditure-viz>
					
					<expenditure-events *ngSwitchCase="'expenditure-events'" [profile]="profile"></expenditure-events>

					<notice-board *ngSwitchCase="'notice-board'" [profile]="profile"></notice-board>

					<contract-list *ngSwitchCase="'contract-list'" [profile]="profile"></contract-list>

				</div>
			</div>
		</div>
	</div>
</div>