<div id="entity" *ngIf="profile">

	<header id="headerObec">
		<div class="container">
			<h1>
				<i class="fa fa-map-signs"></i>
				<a routerLink="/" routerLinkActive="active">{{profile.name}}</a>
			</h1>
			<nav role="navigation">
				<a routerLink="/" routerLinkActive="active" class="btn">
					<i class="fa fa-chevron-circle-right"></i> 
					<span>Vybrat jinou obec</span>
				</a>
			</nav>
		</div>
	</header>

	<div id="content">

		<div class="page container">
			<div class="row">
				<div class="col-sm-3">

					<div class="list-group">
						<a  *ngFor="let module of modules" [style.display]="(profile.modules[module.id] || !module.optional)?'inherit':'none'" [routerLink]="getVizLink(module)" class="list-group-item" routerLinkActive="active">
							<i class="fa" [class]="module.icon"></i> {{module.name}}
						</a>
					</div>
					<ul class="nav nav-stacked" *ngIf="isManagedProfile(profile)">
						<li class="nav-item"><a [routerLink]="getAdminLink()" class="nav-link text-muted" routerLinkActive="active"><i class="fa fa-cog"></i> Spravovat</a></li>
					</ul>

				</div>
				<div class="col-sm-9" [ngSwitch]="activeModule.id">

					<dash-board *ngSwitchCase="'dash-board'" [profile]="profile"></dash-board>

					<expenditure-viz *ngSwitchCase="'expenditure-viz'" [profile]="profile"></expenditure-viz>
					
					<expenditure-events *ngSwitchCase="'expenditure-events'" [profile]="profile"></expenditure-events>

					<notice-board *ngSwitchCase="'notice-board'" [profile]="profile"></notice-board>

					<management-review *ngSwitchCase="'management-overview'" [entity]="profile"></management-review>

				</div>
			</div>
		</div>
	</div>
</div>