#headerObec {
	display: block;  
	padding: 50px 0px 10px 0px;
	background: url('http://janvlasaty.name/polepozadi.jpg') no-repeat; 
	background-size: 100% auto; background-position: center -212px; 
	text-align: left;
	color: white;
	font-weight: bold;
	border-bottom: 5px solid #eee; 
	text-shadow: 0px 0px 6px rgba(0,0,0,.3);
}
#headerObec .btn {    
  color: white;
  border: none;
	font-size: 1.5em;
	box-shadow: none;
}
#headerObec .btn:hover span {
	color: white;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	text-decoration: underline;
}

#headerObec h1 {
	font-size: 3em;
	display: inline-block;
	width: 79%;
}
#headerObec nav {
	display: inline-block;
	width: 20%;
}

#headerObec a, #headerObec a:hover {color:white;text-decoration: none;}
@media (max-width: 1400px) {
		#headerObec {
				background-size: 1400px auto; /* Force the image to its minimum width */
		}
}
#content{
	background-color:#fff;
	padding:0 0 50px 0;
	min-height:800px;
}

