<div class="modal-header">
  <h4 class="modal-title">{{ titleText }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="close.emit(false)"
  ></button>
</div>
<form #uploadForm="ngForm" (ngSubmit)="addModifyYear(uploadForm)">
  <div class="modal-body">
    <div class="mb-2">
      <label>Rok</label>
      <input
        type="number"
        name="year"
        [ngModel]="year.year"
        class="form-control"
      />
    </div>
    <div class="mb-2 form-check form-switch">
      <input
        class="form-check-input novalidate"
        type="checkbox"
        name="hidden"
        [ngModel]="year.hidden"
        role="switch"
        id="hiddenSwitch"
      />
      <label class="form-check-label" for="hiddenSwitch">Skrytý</label>
    </div>
    <hr />
    <div class="alert alert-info">
      Následující je volitelné, můžete vyplnit, pokud chcete data pro tento rok,
      načítat automaticky.
    </div>
    <div class="mb-2">
      <label>URL adresa ze které proběhne načtení dat</label>
      <input
        type="text"
        name="import_url"
        [ngModel]="year.importUrl"
        class="form-control"
      />
    </div>
    <div class="mb-2">
      <label for="import_format">Formát dat k načtení</label>
      <select
        id="import_format"
        class="form-select"
        name="import_format"
        [ngModel]="year.importFormat"
      >
        @for (option of importFormats; track option) {
          <option [value]="option.value">
            {{ option.label }}
          </option>
        }
      </select>
    </div>
    <div class="mb-2">
      <label
        >Jak často mají být data z URL aktualizována (počet minut mezi
        aktualizacemi)</label
      >
      <input
        type="number"
        name="import_period_minutes"
        [ngModel]="year.importPeriodMinutes"
        class="form-control"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{ buttonText }}</button>
  </div>
</form>
