/*
|--------------------------------------------------------------------------
| Layout/Page
|--------------------------------------------------------------------------
*/

.l-page {
    padding-top: 60px;
    padding-bottom: 60px;
    
    &:not(.l-page--custom-page) {
        @include media-breakpoint-down(md) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.l-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}