* {opacity:inherit;}

div.drawing{}


.viztable {margin-top: 1em;}
.viztable tbody td {padding: 2px;}
.viztable th:nth-child(1), .viztable td:nth-child(1) {width:50%;text-align:left;}
.viztable th:nth-child(2), .viztable td:nth-child(2) {width:25%;text-align:right;}
.viztable th:nth-child(3), .viztable td:nth-child(3) {width:25%;text-align:right;}


.skupina-label .label {
	margin: 1em 0em 0em 0em;
}

.table-groupList td {
	font-size: 12px;
	padding: 1px;
	vertical-align: middle;
	border-top: none; 
	transition-duration: .2s;
}
.table-groupList tr {
	margin-top: 1px;
}
.table-groupList td:nth-child(1) {
	width: 50px;
	padding-left: 3px;
	padding-right: 3px;
}
.table-groupList tbody td:nth-child(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.table-groupList td:nth-child(2) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.table-groupList tbody td {
	cursor: pointer;
}
.table-groupList tr.tr-focus td, .table-groupList tbody tr:hover td {
	background: #f5f5f5;
}
.table-groupList tbody {
    display:block;
}
.groupListShort .table-groupList tbody {
		max-height: 380px;
		overflow-y: scroll;
}

.table-groupList thead, .table-groupList tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
.table-groupList thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

.bar {
	border-radius: 3px;
	height: 6px;
	width: 100%;
}

.bar * {
	border-radius: 3px;
	height: 6px;
	min-width: 6px;
	float:right;
}
.bar-budget {
	background: #ADF;
}
.bar-expenditure {
	background: #2581C4;
}

.table-groupList tr.tr-focus td .bar-budget {
	background: #ff9491;
}
.table-groupList tr.tr-focus td .bar-expenditure {
	background: #E73431;
}