<h2 class="hidden">Rozklikávací rozpočet</h2>

<div>
	<!-- VIZUALIZACE -->
	<div class="drawing" #drawing>
		<div class="row">
			
			<div [attr.class]="!selectedGroup?'col-sm-8':'col-sm-6'">
				
				<chart-bigbang [data]="data" [selectedGroup]="selectedGroup" [hoveredGroup]="hoveredGroup" (selectGroup)="selectedGroup=$event" (hoverGroup)="hoveredGroup=$event" [scale]="vizScale"></chart-bigbang>
				
			</div>	
			
			<div [attr.class]="!selectedGroup?'col-sm-4':'col-sm-6 groupListShort'">
				<table class="table table-responsive table-groupList">
					<thead>
						<tr>
							<td></td>
							<th class="small">Rozpočtová skupina</th>
						</tr>
					</thead>
					<tbody id="groupListTableBody">
						<tr *ngFor="let group of groups" (mouseover)="hoveredGroup=group" (mouseout)="hoveredGroup=null" [attr.class]="(hoveredGroup==group || selectedGroup==group)?'tr-focus':''" (click)="selectGroup(group,false)">
							<td>
								<div class="bar">
									<div class="bar-budget" [style.width]="getBarBudgetPercentage(group)+'%'">
										<div class="bar-expenditure" [style.width]="getBarExpenditurePercentage(group)+'%'">
										</div>
									</div>
								</div>
							</td>
							<td>{{group.title}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div *ngIf="selectedGroup" id="selectedGroup">
		
		<hr>
		
		<h3>
			<i class="fa fa-chevron-circle-right"></i> {{selectedGroup.title}}
			<span class="pull-right text-muted small" (click)="selectGroup(null,false)"><i class="fa fa-times"></i> zavřít</span>
		</h3>
		
		<div style="clear:both;"><br></div>

		<div *ngIf="!data.groupIndex[selectedGroup.id]" class="text-center">
			<span class="label label-warning"><i class="fa fa-warning"></i> Tato skupina nemá žádnou rozpočtovanou položku!</span>		
		</div>

		<div *ngIf="data.groupIndex[selectedGroup.id]">

			<div *ngFor="let paragraph of data.groupIndex[selectedGroup.id].paragraphs" class="paragraph">

				<div class="graph">
					
					<chart-donut [data]="paragraph"></chart-donut>

					<br>

					<span style="color:#E73431;">&#9632;</span> Čerpáno: {{paragraph.expenditureAmount | money:0:true}} Kč
					<br>
					<span *ngIf="paragraph.expenditureAmount <= paragraph.budgetAmount">
						<span style="color:#ff9491;">&#9632;</span> Zbývá: {{paragraph.budgetAmount - paragraph.expenditureAmount | money:0:true}} Kč
					</span>
					<span *ngIf="paragraph.expenditureAmount > paragraph.budgetAmount">Překročeno o {{paragraph.expenditureAmount - paragraph.budgetAmount | money:0:true}} Kč</span> 

				</div>

				<div class="content">
					<span class="label label-primary">{{paragraph.id}} - {{paragraphNames[paragraph.id]}}</span>
					<span *ngIf="paragraph.expenditureAmount > paragraph.budgetAmount" class="label label-warning"><i class="fa fa-warning"></i> Překročen rozpočet!</span>

					<table class="viztable table table-responsive small">
						<thead>
							<tr>
								<th>Investiční akce</th>
								<th>Realizované výdaje</th>
								<th>Rozpočet</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let event of paragraph.events">
								<td><a (click)="openEvent(event)">{{event.name}}</a></td>
								<td>{{event.expenditureAmount | money:0:true}} Kč</td>
								<td>{{event.budgetAmount | money:0:true}} Kč</td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr>
			</div>
		</div>
	</div>

	<div bsModal #eventReceiptsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" (click)="eventReceiptsModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{{openedEvent?.name}}</h4>
				</div>
				<div class="modal-body">
					<event-detail [event]="openedEvent"></event-detail>
				</div>
			</div>
		</div>
	</div>
</div>