/*
|--------------------------------------------------------------------------
| Layout/Footer
|--------------------------------------------------------------------------
*/

.l-footer {
    @extend .type-sm;
    background-color: $gray;
    padding: 20px;

    p + p {
        margin-top: 0.75em;
    }

    @include media-breakpoint-up(md) {
        padding: 40px 50px;
    }

    a {
        text-decoration: none;
    }
}