/*
|--------------------------------------------------------------------------
| Layout/Page
|--------------------------------------------------------------------------
*/

.l-page {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @include media-breakpoint-down(md) {
        padding-left: 20px;
        padding-right: 20px;
    }
}