<div class="container">


    <div id="search-form" class="search-form js-search-form"
      (blur)="supplierQueryFocus = false">
        <form class="form-search" role="search" >
            <input 
              autocomplete="off"
              [(ngModel)]="supplierQuery" (ngModelChange)="querySupplier($event)" 
              (click)="supplierQueryFocus = true"
              (keyup.arrowdown)="selectSupplier('down')"
              (keyup.arrowup)="selectSupplier('up')"
              (keyup.enter)="selectSupplier('route')"
              name="supplierQuery" class="form-control input-lg novalidate" placeholder="Zadejte název či IČ dodavatele..." />
        </form>
        <div class="instant-results" *ngIf="results && supplierQuery!=''">
            <ul class="list-unstyled result-bucket">
                <li *ngIf="results.length==0"  class="result-entry">
                    <i>Nenalezli jsme žádné dodavatele zadaným kritériím.</i>
                </li>
                <a *ngFor="let result of results; let i = index" [routerLink]="['/dodavatele/' + result.counterpartyId]" class="result-link">
                  <li [ngClass]="{
                      'result-entry': true,
                      'selected': supplierSelected==i
                    }">
                      <strong class="media-heading">{{result.name}}</strong>
                      <div>IČO: {{result.counterpartyId}}</div>
                  </li>
                </a>
            </ul>
        </div>
    </div>


  <div #wordcloud class="wordcloud"></div>
</div>