<ng-container [ngSwitch]="step">

  <section *ngSwitchCase="'input'">
    <h2>Vstupní data</h2>
    <form>
      <div class="form-group row">
        <label for="input-file" class="col-sm-2 col-form-label">Formát dat</label>
        <div class="col-sm-10">
          <input [(ngModel)]="importType" [ngModelOptions]="{standalone:true}" type="radio" value="cityvizor" id="importTypeRadio_cityvizor">
          &nbsp;
          <label for="importTypeRadio_cityvizor" class="control-label">CityVizor</label>
          <p>Nativní vstupní formát dat je nejjednodušším formátem, který CityVizor přijímá. Jeho struktura je popsaná v <a href="https://cityvizor.cz/landing/dokumentace">dokumentaci k aplikaci</a>.</p>
          <br>
          <input [(ngModel)]="importType" [ngModelOptions]="{standalone:true}" type="radio" value="ginis" id="importTypeRadio_ginis">
          &nbsp;
          <label for="importTypeRadio_ginis" class="control-label">Gordic 56G (BETA)</label>
          <p>Jedná se o základní exportní formát systému Ginis od společnosti Gordic. Import z tohoto formátu je zatím ve zkušební verzi. <a href="https://az.otevrenamesta.cz/index.php/s/XDHSYwGBLHmDKsX#pdfviewer">Návod na získání těchto souborů</a>.</p>
          <br>
          <input [(ngModel)]="importType" [ngModelOptions]="{standalone:true}" type="radio" value="vera" id="importTypeRadio_vera">
          &nbsp;
          <label for="importTypeRadio_vera" class="control-label">Vera (BETA)</label>
          <p>Jedná se o sadu exportů ze systému Vera. Import z tohoto formátu je zatím ve zkušební verzi.</p>
        </div>
      </div>
    </form>

    <ng-container [ngSwitch]="importType">

      <form #cityvizorForm="ngForm" *ngSwitchCase="'cityvizor'" (ngSubmit)="importCityvizor(cityvizorInputData,cityvizorInputEvents)" class="form-horizontal">

        <div class="form-group row">
          <label for="input-file" class="col-sm-2 col-form-label">Číselník akcí (CSV)</label>
          <div class="col-sm-10">
            <input type="file" accept=".csv" class="form-control-file" id="input-file" required #cityvizorInputEvents>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-file" class="col-sm-2 col-form-label">Datový soubor (CSV)</label>
          <div class="col-sm-10">
            <input type="file" accept=".csv" class="form-control-file" id="input-file" required #cityvizorInputData>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-file" class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Nahrát data</button>
          </div>
        </div>
      </form>

      <form *ngSwitchCase="'ginis'" (ngSubmit)="importGinis(ginisInputBudget, ginisInputAccounting, ginisInputEvents)" class="form-horizontal">

        <div class="form-group row">
          <label for="input-file" class="col-sm-2 col-form-label">Data rozpočtu (KXX)</label>
          <div class="col-sm-10">
            <input type="file" accept=".kxx" class="form-control-file" id="input-file" required #ginisInputBudget>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-file" class="col-sm-2 col-form-label">Data účetnictví (KXX)</label>
          <div class="col-sm-10">
            <input type="file" accept=".kxx" class="form-control-file" id="input-file" required #ginisInputAccounting>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-file" class="col-sm-2 col-form-label">Číselník akcí (CSV)</label>
          <div class="col-sm-10">
            <input type="file" accept=".csv" class="form-control-file" id="input-file" required #ginisInputEvents>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-file" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Nahrát data</button>
          </div>
        </div>
      </form>

      <form *ngSwitchCase="'vera'" (ngSubmit)="importVera(veraInputAccounting, veraInputBudget)" class="form-horizontal">

        <div class="form-group row">
          <label for="input-file" class="col-sm-2 col-form-label">Účetní deník (CSV)</label>
          <div class="col-sm-10">
            <input type="file" accept=".csv" class="form-control-file" id="input-file" required #veraInputAccounting>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-file" class="col-sm-2 col-form-label">Rozpočet (KXX)</label>
          <div class="col-sm-10">
            <input type="file" accept=".kxx" class="form-control-file" id="input-file" required #veraInputBudget>
          </div>
        </div>

        <div class="form-group row">
          <label for="input-file" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Nahrát data</button>
          </div>
        </div>
      </form>
    </ng-container>
  </section>

  <section *ngSwitchCase="'progress'">
    <h2>Průběh</h2>
    <p>Hotovo: {{progress || 0}} %</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="progress + '%'">
        <span class="sr-only">{{progress || 0}}% Complete</span>
      </div>
    </div>

  </section>

  <section *ngSwitchCase="'confirmation'">

    <h2>Kontrola</h2>

    <p>
      <button type="button" class="btn btn-danger" (click)="deleteData()">Smazat data</button>
      &nbsp;
      <button type="button" class="btn btn-primary" (click)="saveData()">Nahrát data do aplikace</button>
    </p>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" (click)="confirmationTab = 'warnings'" [class.active]="confirmationTab === 'warnings'">Varování<span class="badge badge-warning align-middle ml-1">{{warnings.length}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="confirmationTab = 'data'" [class.active]="confirmationTab === 'data'">Všechna data</a>
      </li>
    </ul>

    <ng-container [ngSwitch]="confirmationTab">

      <ng-container *ngSwitchCase="'warnings'">

        <div class="alert alert-warning my-3" role="alert">
          <p>Výsledky níže zobrazují záznamy, které mohou indikovat nechtěné osobní údaje. Záznamy jsou zde zobrazeny, pokud platí alespoň jedno z následujících pravidel:</p>
          <ul>
            <li>Popis dokladu obsahuje křestní jméno z naší databáze jmen</li>
            <li>Popis dokladu obsahuje datum v minulosti (mohlo by být datum narození)</li>
            <li>Popis dokladu obsahuje rodné číslo (s lomítkem nebo bez)</li>
          </ul>
          <p>Z techického hlediska však nelze vyloučit výskyt osobních údajů u záznamů zde nezobrazených.</p>
        </div>

        <table class="table" *ngIf="warnings.length;else noWarnings">
          <thead>
            <tr>
              <th>Číslo dokladu</th>
              <th>IČO</th>
              <th>Protistrana</th>
              <th>Popis</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let warning of warnings">
              <td>{{warning.payment.id}}</td>
              <td>{{warning.payment.counterpartyId}}</td>
              <td>{{warning.payment.counterpartyName}}</td>
              <td>
                <p [innerHTML]="getHighlightedWarnings(warning.payment.description,warning.messages)"></p>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noWarnings>
          <p>Žádná varování</p>
        </ng-template>
      </ng-container>
      <ng-container *ngSwitchCase="'data'">
        <h3>Rozpočtová skladba</h3>

        <a (click)="exportRecords('win1250')">Otevřít v MS Excel</a>

        <div class="records">
          <table class="table" *ngIf="data">
            <tr>
              <th>Paragraf</th>
              <th>Položka</th>
              <th>Akce (ORG)</th>
              <th>Jednotka (ORJ)</th>
              <th>Rozpočet</th>
              <th>Čerpání</th>
            </tr>
            <tr *ngFor="let record of data.records">
              <td>{{record.paragraph}}</td>
              <td>{{record.item}}</td>
              <td>{{record.event}}</td>
              <td>{{record.unit}}</td>
              <td class="text-right">{{record.budgetAmount | money:2:false}}&nbsp;</td>
              <td class="text-right">{{record.amount | money:2:false}}&nbsp;</td>
            </tr>
          </table>
        </div>

        <h3>Doklady</h3>

        <a (click)="exportPayments('win1250')">Otevřít v MS Excel</a>

        <div class="records">
          <table class="table" *ngIf="data">
            <tr>
              <th>Typ dokladu</th>
              <th>IČO</th>
              <th>Protistrana</th>
              <th>Popis</th>
              <th>Částka</th>
            </tr>
            <tr *ngFor="let payment of data.payments">
              <td [ngSwitch]="payment.type" class="text-nowrap">
                <ng-container *ngSwitchCase="'invoice_incoming'">Přijatá faktura</ng-container>
                <ng-container *ngSwitchCase="'invoice_outgoing'">Vydaná faktura</ng-container>
              </td>
              <td>{{payment.counterpartyId}}</td>
              <td>{{payment.counterpartyName}}</td>
              <td>{{payment.description}}</td>
              <td class="text-right text-nowrap">{{payment.amount | money:2:false}}&nbsp;Kč</td>
            </tr>
          </table>
        </div>

        <h3>Akce</h3>

        <a (click)="exportEvents('win1250')">Otevřít v MS Excel</a>

        <div class="records">
          <table class="table" *ngIf="data">
            <tr>
              <th>Číslo akce</th>
              <th>Název akce</th>
            </tr>
            <tr *ngFor="let event of data.events">
              <td>{{event.srcId}}</td>
              <td>{{event.name}}</td>
            </tr>
          </table>
        </div>
      </ng-container>
    </ng-container>
  </section>

  <section *ngSwitchCase="'status'">

    <h2>Data jsou nahrána!</h2>
    <p>Data jsou v načtena do aplikace CityVizor Demo na tomto počítači. Pokud data neuložíte volbou níže, zavřením nebo obnovením stránky budou vymazána.</p>

    <div class="my-5">
      <h3>Stažení dat ve formátu pro import do CityVizoru</h3>
      <p>Tato data si můžete stáhnout, prohlédnout v editoru CSV a následně nahrát do ostré verze aplikace CityVizor.</p>
      <p>
        <a class="btn btn-primary text-light mr-3" (click)="exportCityVizorData()">Datový soubor</a>
        <a class="btn btn-primary text-light" (click)="openEventDownloadMenu()">Číselník akcí</a>
      </p>
      <div *ngIf="downloadingEvents">
        Zvolte syntetický účet, ze kterého se mají vyexportovat akce. Pokud nevíte, zvolte účet 231.
        <select [(ngModel)]="syntheticAccount">
          <option [value]="sa" *ngFor="let sa of dataService.distinctEventSyntheticAccounts">{{sa}}</option>
        </select>
        <br>
        <a class="btn btn-primary text-light" (click)="exportCityVizorEvents()">Stáhnout číselník</a>
      </div>
    </div>
    <div class="my-5">
      <h3>Uložit data na tomto počítači</h3>
      <p>Data budou uložena v paměti prohlížeče v tomto počítači. Když příště otevřete demo.cityvizor.cz, zobrazí se.</p>
      <button type="button" (click)="persistData()" class="btn btn-primary">Uložit na tomto počítači</button>
    </div>
    <div class="my-5">
      <h3>Smazat data z tohoto počítače</h3>
      <p>Načtená data budou smazána z paměti prohlížeče na tomto počítači.</p>
      <button type="button" (click)="deleteData()" class="btn btn-danger">Smazat data</button>
    </div>
  </section>
</ng-container>