<div *ngIf="event">
	<div class="alert alert-info hidden">
		<strong>Popis investiční akce:</strong> Dům by měl zajistit komunitní bydlení pro starší, stále soběstačné lidi, s možností si přiobjednat různé služby od jejich poskytovatelů. Nájemníci musí splnit určitá kritéria, aby byl dodržen účel, za kterým byl dům postaven, což se týká například výše příjmu či absence vlastnictví jiného bydlení. Nájem má být srovnatelný s ostatními byty v majetku města.
		Na stavbu komunitního domu s dvaadvaceti byty, který vyjde na zhruba pětadvacet milionů, získalo město příslib evropské dotace ve výši dvanáct a půl milionu korun.
		<strong>Pouze ilustrativní popis investiční akce!</strong>
	</div>
	
	<ul class="hidden">
		<li *ngFor="let historyEvent of history">{{historyEvent.year}} - {{historyEvent.srcId}} - {{historyEvent.name}}</li>
	</ul>

	<h2>{{ event.name }}</h2>
	
	<h3>Faktury a platby</h3>


	<table *ngIf="counterparties" class="table table-responsive">
		<thead>
			<tr>
				<th>Dodavatel</th>
				<th class="text-right">Celková částka</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let counterparty of counterparties|array">
				<tr>
					<td><strong>{{counterparty.name}}</strong> <span class="text-muted small">(IČO {{counterparty.id}})</span></td>
					<td class="text-right">
						<strong [class.text-success]="counterparty.sums.saldo>0"
										 [class.text-red]="counterparty.sums.saldo<0">
							{{counterparty.sums.saldoAbsolute | money:0:false}} Kč
						</strong>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<table class="table table-responsive borderless small table-label-date-title-number">
							<tr *ngFor="let payment of counterparty.incomes;let j = index">
								<td>
									<span class="label label-success">
										<i class="fa fa-plus-circle"></i> Příjem
									</span>
								</td>
								<td>{{payment.date | date:"d. M. y"}}</td>
								<td>{{payment.description}}</td>
								<td class="text-right">{{payment.amount | money:0:false}} Kč</td>
							</tr>
							<tr *ngFor="let payment of counterparty.expenditures;let j = index">
								<td>
									<span class="label label-red">
										<i class="fa fa-minus-circle"></i> Výdej
									 </span>
								</td>
								<td>{{payment.date | date:"d. M. y"}}</td>
								<td>{{payment.description}}</td>
								<td class="text-right">{{payment.amount | money:0:false}} Kč</td>
							</tr>
						</table>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>