
.historychart .header{padding:0;}
.historychart .data{overflow:auto;overflow-y:hidden;padding:0;}
.historychart .data table{min-width:100%;}
.historychart .data th{width:200px;padding-left:30px;padding-right:30px;}
.historychart .data td{width:200px;padding-left:30px;padding-right:30px;overflow:hidden;}
.historychart .data .amount{float:right;font-weight:bold;}
.historychart .data .open{float:right;}

table.table-title-number-number thead tr th:nth-child(1) { width: 60%; }
table.table-title-number-number thead tr th:nth-child(2) { width: 20%; }
table.table-title-number-number thead tr th:nth-child(3) { width: 20%; }

table.table-title-number-number-td tbody tr td:nth-child(1) { width: 60%; }
table.table-title-number-number-td tbody tr td:nth-child(2) { width: 20%; }
table.table-title-number-number-td tbody tr td:nth-child(3) { width: 20%; }

table td.td-zerosidepadding {
  padding-left: 0;
  padding-right: 0;
}

table.table-nobottommargin {
  margin-bottom: 0px;
}

table.table-label-date-title-number tr > *:nth-child(1) { width: 15%; }
table.table-label-date-title-number tr > *:nth-child(2) { width: 15%; }
table.table-label-date-title-number tr > *:nth-child(3) { width: 50%; }
table.table-label-date-title-number tr > *:nth-child(4) { width: 20%; }

.borderless td, .borderless th {
    border: none;
}