<div *ngIf="event">
	<h2>{{event.name}}</h2>
	
	<tabset #detailTabs>
		<tab heading="Přehled"></tab>
		<tab heading="Roční srovnání"></tab>
    <tab heading="Výdaje" [active]="openTab=='exp'">
			
			<p *ngIf="!event.budgetExpenditureAmount && !event.expenditureAmount">Tato akce nemá žádné rozpočtované ani uskutečněné výdaje.</p>

			<table *ngIf="event.budgetExpenditureAmount || event.expenditureAmount" class="table table-responsive table-title-number-number">
				<thead>
					<tr>
						<th>Rozpočtové paragrafy</th>
						<th class="text-right">
							Rozpočtovaná částka
						</th>
						<th class="text-right">
							Skutečné výdaje
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3" class="td-zerosidepadding">
							<table class="table table-responsive borderless small table-title-number-number-td table-nobottommargin">
								<tbody>
									<tr *ngFor="let paragraph of event.paragraphs; let i = index">
										<td>§ {{paragraph.id}} - {{paragraphNames[paragraph.id]}}</td>
										<td class="text-right font-number">{{paragraph.budgetExpenditureAmount | money:0:false}} Kč</td>
										<td class="text-right font-number">{{paragraph.expenditureAmount | money:0:false}} Kč</td>
									</tr>
								</tbody>	
							</table>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td><strong>Součet</strong></td>
						<td class="text-right font-number"><strong>{{event.budgetExpenditureAmount | money:0:false}} Kč</strong></td>
						<td class="text-right font-number"><strong class="text-red">{{event.expenditureAmount | money:0:false}} Kč</strong></td>
					</tr>
				</tfoot>
			</table>
		</tab>
		
		<tab heading="Příjmy" [active]="openTab=='inc'">
			
			<p *ngIf="!event.budgetIncomeAmount && !event.incomeAmount">Tato akce nemá žádné rozpočtované ani uskutečněné příjmy.</p>

			<table *ngIf="event.budgetIncomeAmount || event.incomeAmount" class="table table-responsive table-title-number-number">
				<thead>
					<tr>
						<th>Rozpočtové položky</th>
						<th class="text-right">Rozpočtovaná částka</th>
						<th class="text-right">Skutečný příjem</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3" class="td-zerosidepadding">
							<table class="table table-responsive borderless small table-title-number-number-td table-nobottommargin">
								<tbody>
									<tr *ngFor="let item of event.items">
										<td># {{item.id}} - {{itemNames[item.id]}}</td>
										<td class="text-right font-number">
											{{item.budgetIncomeAmount | money:0:false}} Kč
										</td>
										<td class="text-right font-number text-strong text-success">
											{{item.incomeAmount | money:0:false}} Kč
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Součet</td>
						<td class="text-right font-number">{{event.budgetIncomeAmount | money:0:false}} Kč</td>
						<td class="text-right font-number">{{event.incomeAmount | money:0:false}} Kč</td>
					</tr>
				</tfoot>
			</table>
		</tab>
		<tab heading="Faktury a platby">
			<table *ngIf="counterparties" class="table table-responsive">
				<thead>
					<tr>
						<th>Dodavatel</th>
						<th class="text-right">Celková částka</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let counterparty of counterparties|array">
						<tr>
							<td>
								<strong>{{counterparty.name}}</strong> 
								<a [href]="'http://wwwinfo.mfcr.cz/cgi-bin/ares/ares_es.cgi?jazyk=cz&ico='+counterparty.id+'&cestina=cestina&xml=1'" target="_blank" title="Zápis subjektu v ARES" class="text-muted small">IČO {{counterparty.id}}</a>
							</td>
							<td class="text-right">
								<strong [class.text-success]="counterparty.sums.saldo>0"
												 [class.text-red]="counterparty.sums.saldo<0" class="font-number">
									{{counterparty.sums.saldoAbsolute | money:0:false}} Kč
								</strong>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="td-zerosidepadding">
								<table class="table table-responsive borderless small table-label-date-title-number table-nobottommargin">
									<tr *ngFor="let payment of counterparty.incomes;let j = index">
										<td>
											<span class="label label-success">Příjem</span>
										</td>
										<td>{{payment.date | date:"d. M. y"}}</td>
										<td>{{payment.description}}</td>
										<td class="text-right font-number">{{payment.amount | money:0:false}} Kč</td>
									</tr>
									<tr *ngFor="let payment of counterparty.expenditures;let j = index">
										<td>
											<span class="label label-red">Výdej</span>
										</td>
										<td>{{payment.date | date:"d. M. y"}}</td>
										<td>{{payment.description}}</td>
										<td class="text-right font-number">{{payment.amount | money:0:false}} Kč</td>
									</tr>
									<tr *ngIf="!counterparty.incomes.length && !counterparty.expenditures.length">
										<td colspan="4" class="text-muted text-center">
											<i class="fa fa-exclamation-circle fa-2x"></i>
											<p class="text-muted">Žádné faktury či výdaje k zobrazení.</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</tab>
  </tabset>
	
</div>