<div id="entity">
  @if ((profile | async)?.type === 'municipality') {
    <div>
      <header-menu [title]="(profile | async)?.name" backLink="/">
        <li><a routerLink="prehled" routerLinkActive="active">Přehled</a></li>
        <li>
          <a routerLink="hospodareni/vydaje" routerLinkActive="active">
            {{ "profile.municipality.expenditures" | translate }}
          </a>
        </li>
        <li>
          <a routerLink="hospodareni/prijmy" routerLinkActive="active">
            {{ "profile.municipality.incomes" | translate }}
          </a>
        </li>
        @if ((profile | async)?.hasPayments) {
          <li>
            <a routerLink="faktury" routerLinkActive="active">Faktury</a>
          </li>
        }
        @if ((profile | async)?.hasPayments) {
          <li>
            <a routerLink="dodavatele" routerLinkActive="active">Dodavatelé</a>
          </li>
        }
        @if ((profile | async)?.edesky) {
          <li>
            <a routerLink="uredni-deska" routerLinkActive="active">
              Úřední deska
            </a>
          </li>
        }
        @if ((profile | async)?.ico || (profile | async)?.databox) {
          <li>
            <a routerLink="registr-smluv" routerLinkActive="active">
              Registr smluv
            </a>
          </li>
        }
      </header-menu>
    </div>
  } @else {
    <header-menu [title]="(profile | async)?.name" backLink="/">
      <li><a routerLink="prehled" routerLinkActive="active">Přehled</a></li>
      <li>
        <a routerLink="hospodareni/vydaje" routerLinkActive="active">
          {{ "profile.pbo.expenditures" | translate }}
        </a>
      </li>
      <li>
        <a routerLink="hospodareni/prijmy" routerLinkActive="active">
          {{ "profile.pbo.incomes" | translate }}
        </a>
      </li>
      @if ((profile | async)?.hasPayments) {
        <li>
          <a routerLink="faktury" routerLinkActive="active"> Faktury </a>
        </li>
      }
      @if ((profile | async)?.hasPayments) {
        <li>
          <a routerLink="dodavatele" routerLinkActive="active">Dodavatelé</a>
        </li>
      }
      @if ((profile | async)?.ico || (profile | async)?.databox) {
        <li>
          <a routerLink="registr-smluv" routerLinkActive="active">
            Registr smluv
          </a>
        </li>
      }
    </header-menu>
  }

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>