<!DOCTYPE html>
<html>

<head>
	<base href="/CityVizor/">
	
	<title>{{ page.title }} :: cityvizor.cz</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div>
  <header>
    <div class="container">

      <h1>Dokumentace aplikace CityVizor</h1>

      <a href="https://cityvizor.cz" class="btn pull-right hidden-print">
        <i class="fa fa-chevron-circle-right"></i>
        Přejít na cityvizor
      </a>

    </div>
  </header>


  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="toggle-title">MENU</span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% for link in site.navigation %}
          {% if link.id == page.menu %}
          <li><a href="{{link.url}}" class="active">{{link.text}}</a></li>
          {% else %}
          <li><a href="{{link.url}}">{{link.text}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
    </div>
  </nav>
</div>
	
  <div class="container">
    {{ content }}
  </div>
  

</body>

</html>
