#headerObec {
	display: block;  
	padding: 50px 0px 10px 0px;
	background: url('/assets/img/polepozadi.jpg') no-repeat;
	background-size: 100% auto; background-position: center -212px; 
	text-align: left;
	color: white;
	font-weight: bold;
	border-bottom: 5px solid #2581C4;
	text-shadow: 0px 0px 6px rgba(0,0,0,.3);
}
#headerObec .btn {    
  color: white;
  border: none;
	font-size: 1.5em;
	box-shadow: none;
}
#headerObec .btn:hover span {
	color: white;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	text-decoration: underline;
}

#headerObec h1 {
	font-size: 3em;
	display: inline-block;
}
#headerObec nav {
	display: inline-block;
}

#headerObec a, #headerObec a:hover {color:white;text-decoration: none;}
@media (max-width: 1400px) {
		#headerObec {
				background-size: 1400px auto; /* Force the image to its minimum width */
		}
}


.list-group {
	position: relative;
	z-index: 1;
}


.entity-menu .container-fluid, .entity-menu .navbar, .entity-menu .navbar-collapse {
	margin: 0px;
	padding: 0px;
	border: none;
}
.entity-menu {
	background: #eee;
	margin-bottom: 20px;
}
.entity-menu .navbar li a {
	line-height: 45px;
	font-size: 14pt;
	color: #333;
	transition-duration: 400ms;
}
.entity-menu .navbar li a:hover {
	background-color: white;
	color: black;
}
.entity-menu .navbar li a.active {
	background-color: #2581C4;
	color: white;
}

.navbar-toggle {
	float:none;
}
.icon-bar {
	margin-top: 5px;
	height: 3px;
	background: #2581C4;
	float: left;
	clear: left;
}
.toggle-title {
	font-size: 14pt;
	font-weight: bold;
	color: #2581C4;
	margin-left: 12px;
}