/*
|--------------------------------------------------------------------------
| CityVizor - redesign
|--------------------------------------------------------------------------
|
| @since    1/2020
*/

/* Common */
@import 'common/reset';
@import 'common/variables';
@import 'common/typeface';
@import 'common/helpers';
@import 'common/icons';
@import 'common/breakpoints';

/* Fixes */
@import 'fixes/sizing';

/* Brand */
@import 'brand/features';

/* Layout */
@import 'layout/common';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/page';

/* Components */
@import 'components/brand';
@import 'components/buttons';
@import 'components/form';
@import 'components/hamburger';
@import 'components/heroclaim';
@import 'components/herosearch';
@import 'components/menu';
@import 'components/municipalities';
@import 'components/underline';

body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-family-base;
    font-size: $font-size-md;
}

// TODO: After the development stabilizes, revisit the .scss files and purge the unused ones 
// Copied and modified: https://github.com/jasonm23/markdown-css-themes/blob/gh-pages/markdown.css
.underlined {
	text-decoration: underline;
	text-decoration-color: $primary;
}

body {
  line-height:1.5em;
  padding:1em;
}

a{ color: #0645ad; text-decoration:none;}
a:visited{ color: #0b0080; }
a:hover{ color: #06e; }
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

p {
  margin:1em 0;
}

img {
  max-width:100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
  color:#111;
  line-height:1em;
  padding-bottom: 10px;
  padding-top: 10px;
}

h4,h5,h6 { font-weight: bold; }
h1 { font-size:2.5em; }
h2 { 
  font-size:2em;
}
h3 { font-size:1.5em; }
h4 { font-size:1.2em; }
h5 { font-size:1em; }
h6 { font-size:0.9em; }

blockquote{
  color:#666666;
  margin:0;
  padding-left: 3em;
  border-left: 0.5em #EEE solid;
}
hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }
pre, code, kbd, samp { color: #000; font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 0.98em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
th { 
  border-bottom: 1px solid black;
  text-align: left;
}
td { vertical-align: top; }

// Required for b-spinner
@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

