<h2>Import účetních dat</h2>

<div class="boxes">
	<profile-admin-import-box *ngFor="let budget of budgets" [profile]="profile" [budget]="budget" (save)="showLoading()" (saved)="showResult(true,budget.year,$event)" (error)="showResult(false,budget.year,$event)"></profile-admin-import-box>
</div>

<a (click)="createBudget()">Přidat rozpočtový rok</a>	

<div bsModal #importModal="bs-modal" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="importModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">
					<span *ngIf="importResult && importResult.success" class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Data pro rok {{importResult.year}} byla importována.</span>
					<span *ngIf="importResult && !importResult.success" class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Nastala chyba při importu dat. Import nebyl proveden.</span>
					<span *ngIf="!importResult">Probíhá import dat&hellip;</span>
				</h3>
			</div>
			
			<div *ngIf="!importResult" class="modal-body">
				<p>Probíhá import dat do aplikace CityVizor. Import může trvat i několik minut, prosím nezavírejte prohlížeč. Výsledek importu bude zobrazen v tomto okně.</p>
			</div>
			
			<div *ngIf="importResult && importResult.success" class="modal-body">
				<h4>Souhrn</h4>
				<p>V rámci importu byly nahrány do aplikace CityVizor tyto záznamy:</p>
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr><th>Typ záznamu</th><th>Počet záznamů</th></tr>
					</thead>
					<tbody>
						<tr><th>Roční rozpočet obce</th><td>{{importResult.counter.budgets}}</td></tr>
						<tr><th>Akce/účel</th><td>{{importResult.counter.events}}</td></tr>
						<tr><th>Faktury a platby</th><td>{{importResult.counter.payments}}</td></tr>
					</tbody>
				</table>
				
				<ng-container *ngIf="importResult.warnings">
					<h4>Varování</h4>
					<p>Během importu byly zjištěny následující skutečnosti. Tyto skutečnosti nebránily dokončení importu.</p>
					<div class="warnings">
						<ul>
							<li *ngFor="let warning of importResult.warnings">{{warning}}</li>
						</ul>
					</div>
				</ng-container>
				
			</div>
			
			<div *ngIf="importResult && !importResult.success" class="modal-body">
				<h4>Popis chyby</h4>
				<p>{{importResult.error}}</p>
				<br>
				
				<h4>Časté chyby</h4>
				<ul>
					<li>Záměna číselníků a datového souboru.</li>
					<li>Chybný formát souboru - například záměna CSV za XLS, či špatné kódování.</li>
					<li>Nerespektování správných názvů záhlaví v souborech</li>
				</ul>
				<br>
				
				<h4>Řešení chyb</h4>
				<p>Ujistěte se, že nahráváte správné soubory a že jsou vloženy do správných polí. Dále zkontrolujte obsah a strukturu souborů. Návody na import do aplikace jsou <a [href]="config.docsUrl + '/navody'" target="_blank">v sekci Návody v dokumentaci k aplikaci</a>.</p>
				<br>
			</div>
			
		</div>
	</div>
</div>