
<h2>Nahrát data</h2>
<h3>Výdaje</h3>


<div class="form-group">
	<div class="col-sm-12">
		
		<input name="year" type="number" [(ngModel)]="year" min="0" step="1">
		
		<input name="file" type="file" ng2FileSelect [uploader]="expendituresUploader">

		<table class="table table-condensed">
			<thead></thead>
			<tbody>
				<tr *ngFor="let file of expendituresUploader.queue">
					<th>{{file?.file?.name}}</th>
					<td>
						<span *ngIf="file.isUploading">
							Nahrávám... {{file.progress}} %
						</span>
						<span *ngIf="file.isSuccess">Nahráno</span>
						<span *ngIf="file.isCancel">Zrušeno</span>
						<span *ngIf="file.isError">Chyba</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<h3>Investiční akce</h3>

<div class="form-group">
	<div class="col-sm-12">
		
		<input name="year" type="number" [(ngModel)]="year">

		<input name="file" type="file" ng2FileSelect [uploader]="eventsUploader">

		<table class="table table-condensed">
			<thead></thead>
			<tbody>
				<tr *ngFor="let file of eventsUploader.queue">
					<th>{{file?.file?.name}}</th>
					<td>
						<span *ngIf="file.isUploading">
							Nahrávám... {{file.progress}} %
						</span>
						<span *ngIf="file.isSuccess">Nahráno</span>
						<span *ngIf="file.isCancel">Zrušeno</span>
						<span *ngIf="file.isError">Chyba</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2>Nahraná data</h2>

<button (click)="loadETLs()">Obnovit</button>
<table class="table table-condensed table-hover table-striped etls">
	<thead>
		<tr>
			<th>Datum</th>
			<th>Cíl</th>
			<th>Stav</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let etl of etls">
			<tr (click)="toggleETLVisible(etl)" class="header">
				<td>{{etl.date}}</td>
				<td>{{targets[etl.target]}}</td>
				<td>{{statuses[etl.status]}}</td>
				<td><span *ngIf="etl.warnings">{{etl.warnings.length}} varování!</span></td>
			</tr>
			<tr>
				<td colspan="4" class="details">
					<div [class.visible]="etlVisible === etl._id">
						<dl>
							<dt>Výsledek</dt>
							<dd>{{etl.result}}</dd>

							<ng-container *ngIf="etl.warnings">
								<dt>Varování</dt>
								<dd>
									<ul>
										<li *ngFor="let warning of etl.warnings">{{warning}}</li>
									</ul>
								</dd>
							</ng-container>

						</dl>
					</div>
				</td>
			</tr>
		</ng-container>
</table>

