<div id="wrap">
	<div id="disclaimer">
		<p>
			Toto je testovací verze aplikace. Data jsou pouze vzorová a nemusí odpovídat reálným údajům.
		</p>
	</div>
	
	<div id="toasts">
		<ul>
			<li *ngFor="let toast of toasts" [class]="toast.status" (click)="toast.hide()">
				<span *ngIf="toast.opacity" [style.opacity]="toast.opacity">
						{{toast.text}}
				</span>
			</li>
		</ul>
	</div>

	<router-outlet></router-outlet>

	<div id="push"></div>
</div>

<footer class="bs-docs-footer">
	<div class="container text-muted small">
		<div class="row">
			<div class="col-sm-5 col-xs-12">
				Vyvinuto s <i class="fa fa-heart" aria-hidden="true"></i> <a routerLink="/stranka/o-aplikaci" fragment="vyvojari">členy komunity otevřených dat</a>
			</div>
			<div class="col-sm-2 col-xs-12 text-center">
				<a>
					<span class="fa-stack fa-md">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a>
					<span class="fa-stack fa-md">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="https://github.com/otevrena-data-mfcr/CityVizor">
					<span class="fa-stack fa-md">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-github fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</div>
			<div class="col-sm-5 col-xs-12 text-right">
				<a routerLink="/stranka/o-aplikaci">O aplikaci</a>
				| <a routerLink="/stranka/data">Data</a>
				| <a routerLink="/stranka/licence" fragment="licence">Licence</a>
				| <a routerLink="/stranka/kontakt" fragment="kontakt">Kontakt</a>
				<br>
				<span *ngIf="!userService.logged">
					<a (click)="loginModal.show()">Přihlásit se</a>
				</span>
				<span *ngIf="userService.logged">
					{{userService.user._id}}
					<span *ngIf="userService.acl('site-admin')">| <a routerLink="/admin">Administrace</a></span>
					| <a (click)="logout()">Odhlásit</a>
				</span>
			</div>
		</div>
	</div>
</footer>


<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="loginModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Přihlášení správce obce</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div *ngIf="wrongPassword" class="alert alert-danger">
							Chybná emailová adresa nebo heslo.
						</div>
						<form class="form-signin" (ngSubmit)="login()">
							<div class="form-group">
								<label for="inputEmail" class="cols-sm-2 control-label">Emailová adresa</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
										<input type="text" name="inputEmail" id="inputEmail" class="form-control" placeholder="Emailová adresa" required="" autofocus="" [(ngModel)]="loginData.login">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="cols-sm-2 control-label">Heslo</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
										<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Heslo" required="" [(ngModel)]="loginData.password">
									</div>
								</div>
							</div>

							<div class="form-group ">
								<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Přihlásit se</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>