
#toasts{position:relative;width:100%;top: 48vh;overflow:visible;}
#toasts ul{display:block;position:absolute;top:0;left:0;right:0;list-style:none;margin:0;left:0;z-index:1000;}
#toasts li{display:block;margin:0;padding:0;text-align:center;}
#toasts li span{display:inline-block;padding:10px;margin:2px 0;background-color:rgba(0,0,0,.7);border-radius:3px;color:#fff;cursor:pointer;}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push,
footer {
    height: 100px;
}
footer {
	background-color: #f5f5f5;
}
footer .fa-heart{color:rgb(231,52,49);}

footer .container{
	line-height: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #f5f5f5;
}

 @media (max-width: 768px) {
	.col-xs-12 {
		text-align: center;
	 } 
}

.input-group-addon { min-width: 2em; }

