<table class="table">
  <thead>
    <tr>
      <th>Rok</th>
      <th>Stav</th>
      <th>Vytvořen</th>
      <th>Spuštěn</th>
      <th>Dokončen</th>
      <th>Logy</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let log of logs">
      <tr>
        <td>{{ log.year }}</td>
        <td [ngSwitch]="log.status">
          <ng-container *ngSwitchCase="'pending'">čeká ve frontě</ng-container>
          <ng-container *ngSwitchCase="'processing'">probíhá</ng-container>
          <ng-container *ngSwitchCase="'success'">dokončen</ng-container>
          <ng-container *ngSwitchCase="'error'">chyba</ng-container>
          <ng-container *ngSwitchDefault>{{ log.status }}</ng-container>
        </td>
        <td>{{ log.created | date: "d. M. y H:mm:ss" }}</td>
        <td>{{ log.started | date: "d. M. y H:mm:ss" }}</td>
        <td>{{ log.finished | date: "d. M. y H:mm:ss" }}</td>
        <td>
          <button
            type="button"
            class="btn"
            (click)="hidden[log.id] = !hidden[log.id]"
          >
            {{ !hidden[log.id] ? "Zobrazit logy" : "Schovat logy" }}
          </button>
        </td>
      </tr>
      <tr
        *ngIf="hidden[log.id]"
        bgColor="#eeeeee"
        style="white-space: pre-wrap"
      >
        <td colspan="6">{{ log.logs }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
