<table class="table">
  <thead>
    <tr>
      <th>Rok</th>
      <th>Stav</th>
      <th>Vytvořen</th>
      <th>Spuštěn</th>
      <th>Dokončen</th>
      <th>Logy</th>
    </tr>
  </thead>
  <tbody>
    @for (log of logs; track log) {
      <tr>
        <td>{{ log.year }}</td>
        <td>
          @switch (log.status) {
            @case ('pending') {
              čeká ve frontě
            }
            @case ('processing') {
              probíhá
            }
            @case ('success') {
              dokončen
            }
            @case ('error') {
              chyba
            }
            @default {
              {{ log.status }}
            }
          }
        </td>
        <td>{{ log.created | date: "d. M. y H:mm:ss" }}</td>
        <td>{{ log.started | date: "d. M. y H:mm:ss" }}</td>
        <td>{{ log.finished | date: "d. M. y H:mm:ss" }}</td>
        <td>
          <button
            type="button"
            class="btn"
            (click)="hidden[log.id] = !hidden[log.id]"
            >
            {{ !hidden[log.id] ? "Zobrazit logy" : "Schovat logy" }}
          </button>
        </td>
      </tr>
      @if (hidden[log.id]) {
        <tr
          bgColor="#eeeeee"
          style="white-space: pre-wrap"
          >
          <td colspan="6">{{ log.logs }}</td>
        </tr>
      }
    }
  </tbody>
</table>
