<div class="modal-header">
  <h4 class="modal-title pull-left">Vytvořit nový rozpočtový rok</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close.emit(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #uploadForm="ngForm" (ngSubmit)="createYear(uploadForm)">
  <div class="modal-body">
    <div class="form-group">
      <label>Rok</label>
      <input type="number" name="year" [ngModel]="currentYear" class="form-control">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Vytvořit</button>
  </div>
</form>