<div id="wrap">

	<div id="disclaimer" class="">
		<p class="text-red">
			<i class="fa fa-warning"></i> Pilotní testovací fáze aplikace končí 6. září &nbsp;&nbsp;<a (click)="projectInfoModal.show()" class="btn btn-xs btn-red">Plán zapojení dalších obcí</a>
		</p>
	</div>

	<div id="toasts">
		<ul class="text-center">
			<li *ngFor="let toast of toasts" [class]="toast.status" @toastsFadeOut>
				<i *ngIf="toast.status=='check'" class="fa fa-2x fa-check"></i>
				<i *ngIf="toast.status=='error'" class="fa fa-2x fa-exclamation-triangle"></i>
				<i *ngIf="toast.status=='notice'" class="fa fa-2x fa-info-circle"></i>
				<p>{{toast.text}}</p>
			</li>
		</ul>
	</div>

	<router-outlet></router-outlet>

	<div id="push"></div>

</div>

<footer class="bs-docs-footer">
	<div class="container text-muted small">
		<div class="row">
			<div class="col-sm-5 col-xs-12">
				Vyvinuto s <i class="fa fa-heart" aria-hidden="true"></i> členy komunity otevřených dat
			</div>
			<div class="col-sm-2 col-xs-12 text-center">
				<a href="https://facebook.com/CityVizor" class="hidden">
					<span class="fa-stack fa-md">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="https://twitter.com/CityVizor" class="hidden">
					<span class="fa-stack fa-md">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="https://github.com/otevrena-data-mfcr/CityVizor">
					<span class="fa-stack fa-md">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-github fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</div>
			<div class="col-sm-5 col-xs-12 text-right">
				<a [attr.href]="config.docsUrl + '/o-aplikaci'">O aplikaci</a>
				| <a [attr.href]="config.docsUrl + '/data'">Data</a>
				| <a [attr.href]="config.docsUrl + '/o-aplikaci/#licenční-podmínky'">Licence</a>
				| <a [attr.href]="config.docsUrl + '/kontakt'">Kontakt</a>
				<ng-container *ngIf="aclService.checkRoute('/admin')">| <a routerLink="/admin">Administrace</a></ng-container>
				
				<br>

				<ng-container *ngIf="!authService.logged">
					<a (click)="loginModal.show()">Přihlásit se</a>
				</ng-container>
				<ng-container *ngIf="authService.logged">
					{{authService.user._id}}
					| <a routerLink="/ucet">Nastavení</a>
					| <a (click)="logout()">Odhlásit</a>
				</ng-container>
			</div>
		</div>
	</div>
</footer>

<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="loginModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Přihlášení správce obce</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div *ngIf="wrongPassword" class="alert alert-danger">
							Chybná emailová adresa nebo heslo.
						</div>

						<form *ngIf="!authService.logged" class="form-signin" (ngSubmit)="login()">
							<div class="form-group">
								<label for="inputEmail" class="cols-sm-2 control-label">Emailová adresa</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
										<input type="text" name="inputEmail" id="inputEmail" class="form-control" placeholder="Emailová adresa" required="" autofocus="" [(ngModel)]="loginData.login">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="cols-sm-2 control-label">Heslo</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
										<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Heslo" required="" [(ngModel)]="loginData.password">
									</div>
								</div>
							</div>
							<div class="form-group ">
								<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Přihlásit se</button>
							</div>
						</form>

						<div *ngIf="authService.logged">
							<p>Již jste přihlášen jako {{authService.user._id}}. <a (click)="logout()">Odhlásit</a>?</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div bsModal #projectInfoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="projectInfoModal" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="projectInfoModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3><i class="fa fa-warning-sign"></i> Pilotní testovací provoz!</h3>
			</div>
			<div class="modal-body">
				<p>V současné chvíli je možné procházet profil Nového Města na Moravě.</p>
				<h4>
					Připravujeme data dalších obcí, které byly zapojeny do pilotního provozu
				</h4>
				<ul>
					<li><strong>Praha 7</strong> - Připravujeme data, předpokládané datum publikace v aplikaci je 6. 9. 2017</li>
					<li><strong>Praha - Černošice</strong> - Připravujeme data, předpokládané datum publikace v aplikaci je 6. 9. 2017</li>
					<li><strong>Brno střed</strong> - Připravujeme data, předpokládané datum publikace v aplikaci je říjen 2017</li>
				</ul>
				<h4>
					Mrzí Vás, že zde zatím není Vaše obec?
				</h4>
				<p>Nás také, nicméně 6. září končí pilotní testovací provoz a kterákoliv další obec se poté může zdarma zapojit. Ať už jste starosta, radní nebo občan, i Vaše obec se může zapojit!</p>
				<h4>
					Kontaktujte nás na <a [href]="'mailto:' + config.mail">{{config.mail}}</a>.
				</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="projectInfoModal.hide()" aria-label="Zavřít">Zavřít</button>
			</div>
		</div>
	</div>
</div>