@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto:400,500,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,700&amp;display=swap&amp;subset=latin-ext');

html {
	font-size: 14px!important;
    height: 100%;
		padding: 0;
		margin: 0;
}
body {
	font-size: 100%!important;
    height: 100%;
		padding: 0;
		margin: 0;
    overflow-y: scroll;
    /* The html and body elements cannot have any padding or margin. */
}

#unsupported{display:none;}
body.unsupported #unsupported{display:block;}

table label{font-weight:bold;}
table label.optional{font-weight:normal;}

#unsupported,#disclaimer{
	padding:10px 20px;
	background: white;
	font-weight:bold;
	text-align:center;
}
#unsupported p,#disclaimer p{
	margin:0;
	padding:0;
	font-size: 1.2em;
}
/**
	* GENERAL STYLES
	* 
	* These styles apply to the whole website
	* 
	**/

/* Main structure styles */
body {
	background-color:#fff;
  font-family: 'Roboto', sans-serif;
}
.font-number {
	font-family: 'Roboto Mono';
	text-align: right;
}

body.modal-open {	
  overflow-y: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* NAVBAR */
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px!important;
    margin-left: -15px!important;
}

@media (min-width: 768px) and (max-width: 991px)  {
	nav li a {
			line-height: 30px!important;
			padding: 10px!important;
	}
}

/* Generic tag styles */
a {outline: 0; cursor: pointer;}

h1,h2,h3,h4 {font-weight: 700;cursor:default;}

strong, .label, th {
	font-weight: 500;
}

.content h1, .content h2, section h1, section h2 { margin: .5em 0 1em 0;}
.content h3, .content h4, section h3, section h4 { margin: 0em 0px 1em 0;}

header, nav, .btn {font-family: 'Rubik', sans-serif;}


/* Content specific classes */
td.amount,th.amount{text-align:right;white-space:nowrap;}

.padding {padding: 30px;}

section {
	padding: 2em 0em;
}

/* FORMS */

form {margin: 0;}

/* validation */
input:valid:not(.novalidate){
  border-left: 5px solid #42A948 !important; /* green */
}
input:invalid:not(.novalidate){
  border-left: 5px solid #a94442 !important; /* red */
}

.clickable {
	cursor: pointer;
	cursor: hand;
}

@media print {
	a{text-decoration:underline;}
}

/**
	* BOOTSTRAP TWEAKS
	* 
	* Some things we didn't like in Bootstrap
	* 
	**/

@media print {
	
	/* disables links in parenthesis when printing */
  a[href]:after {content: none; /* default: content:" (" attr(href) ")" */;}
	
}

.text-primary {
	color: #2581C4;
}
.text-alert {
	color: #E73431;
}
.text-strong {
	font-weight:bold;
}

.panel-body.no-padding {
	padding: 0px;
}

.info-box {
	margin: 15px 0px;
}

.progress-md {
	height: 15px;
}
.progress-sm {
	height: 10px;
}
.progress-xs {
	height: 5px;
}

.well {
	border: none;
	border-left: 3px solid rgb(37,129,196);
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 0px;
	background-color: #fafafa;
	box-shadow: none;
}

.margin-bottom-xs {margin-bottom: 5px; }  
.margin-bottom-sm {margin-bottom: 10px; } 
.margin-bottom-md {margin-bottom: 15px; }
.margin-bottom-lg {margin-bottom: 20px; }  



.div-table-head {
	font-weight: bold;
	border-bottom: 2px solid #eee;
	margin: 1em 0em;
}



.clickable-grey-bg:hover {
	background: rgba(0,0,0,.2);
}



.skupina-label .label {
	margin: 1em 0em 0em 0em;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #2581C4 !important;
}
.btn-red {
    background-color: #E73431 !important;
		color: white;
}
.btn-red:hover, .btn-red:active, .btn-red:visited {
    background-color: #E22926 !important;
	color:white;
}

.table-responsive { border: none; }

.text-red {
	color: #E73431;
}
.text-blue {
	color: #2581C4;
}
.label-red, .btn-red {
	background-color: #E73431;
}
.label-red a, .label-blue a{
	color: white;
}
.label-blue, .btn-blue {
	background-color: #2581C4;
}
.text-success {
	color: #5cb85c;
}



.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0px;
}
.list-group-item:first-child, .list-group-item:last-child {
  border-bottom: 0px;
}
a.list-group-item, button.list-group-item {
  color: #555;
	border: 0px;
	border-bottom: 1px solid #eee;
}
.list-group {
	text-align: right;
	border: 0px;
  border-right: 3px solid #2581C4;
}