<div class="container">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Jméno</th>
        <th>E-mail</th>
        <th>Login</th>
        <th>Role</th>
        <th>Poslední přihlášení</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" [routerLink]="'./' + user.id">
        <th>{{user.name}}</th>
        <td>{{user.email}}</td>
        <td>{{user.login}}</td>
        <td>{{user.role}}</td>
        <td>{{user.lastLogin | date:"d. M. y H:mm"}}</td>
        <td (click)="$event.stopImmediatePropagation()">
          <div class="btn-group pull-right" dropdown>
            <a dropdownToggle>Akce <span class="caret"></span></a>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" (click)="currentUser = user; openModal(deleteUserModal)"><span class="text-danger">Smazat</span></a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr *ngIf="loading">
        <td colspan="3">Načítání&hellip;</td>
      </tr>
    </tbody>
  </table>

  <button (click)="openModal(createUserModal)" class="btn btn-primary">Přidat správce</button>
</div>

<ng-template #createUserModal>
  <create-user-modal (close)="closeModal($event)"></create-user-modal>
</ng-template>


<ng-template #deleteUserModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Smazat uživatele</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Opravdu chcete smazat uživatele {{currentUser.name || currentUser.login}}?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="closeModal(false);">Zrušit</button>
    <button class="btn btn-danger" (click)="deleteUser(currentUser.id);closeModal(false);">Smazat</button>
  </div>
</ng-template>