<h4>Import dat pro tento profil</h4>
@if (profileId$ | async; as profileId) {
  <div class="well">
    POST {{ apiRoot }}/import/profiles/{{ profileId$ | async }}/accounting
  </div>
}

<h4>Import dat pro podprofily</h4>
@if (profileId$ | async; as profileId) {
  <div class="well">
    POST {{ apiRoot }}/import/profiles/{{ profileId$ | async }}/subprofile-accounting
  </div>
}

<h4>Token</h4>

@if (!token) {
  @if (profileId$ | async; as profileId) {
    <button type="button" class="btn btn-primary"
      (click)="generateToken(profileId)">
      Vygenerovat token
    </button>
  }
}
@if (token) {
  <div class="token well">{{ token }}</div>
}

<h4>Zneplatnit vydané tokeny</h4>
<p>
  Kliknutím na následující tlačítko budou zneplatněny všechny vydané servisní
  tokeny pro tento profil. Toto použijte v případě, že se domníváte, že se mohl
  být některý z platných tokenů dostat do nepovolaných rukou.
</p>
@if (profileId$ | async; as profileId) {
  <button type="button" class="btn btn-danger" (click)="resetTokens(profileId)">
    Zneplatnit vydané tokeny
  </button>
}