name: Publish Docker Landing Page
on:
  push:
    branches-ignore:
      - 'bugfix/**'
      - 'feature/**'
      - 'dependabot/**'
    paths:
      - 'landing-page/**'
      - '.github/workflows/publish-docker-landing-page.yml'
    tags:
      - '*'      
  release:
    types: [published, edited]
jobs:
  publish-landing-page:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish landing-page to Registry
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: cityvizor/landing-page
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          workdir: landing-page
          buildoptions: "--target prod"
          tags: ${{ github.ref_name }}
