name: Publish Docker Demo
on:
  push:
    branches-ignore:
      - 'bugfix/**'
      - 'feature/**'
      - 'dependabot/**'
    paths:
      - 'demo/**'
      - '.github/workflows/publish-docker-demo.yml'
    tags:
      - '*'
  release:
    types: [published, edited]
jobs:
  build-client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Publish landing-page to Registry
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: cityvizor/cityvizor-demo
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          workdir: demo
          buildoptions: "--target prod"
          tags: ${{ github.ref_name }}
