<div class="container">
	<div class="row selector">
		<div class="col-12">
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-sm btn-primary">{{currentYear}}</button>
				<button type="button" dropdownToggle class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split">
					<span class="caret"></span>
				</button>
				<ul *dropdownMenu class="dropdown-menu" role="menu">
					<li *ngFor="let year of years" role="menuitem"><a class="dropdown-item" [routerLink]="getYearLink(year)">{{year}}</a></li>
				</ul>
			</div>
			&nbsp;
			<div class="btn-group">
				<a *ngFor="let name of monthNames; let i = index" [routerLink]="getMonthLink(currentYear,i + 1)" class="btn btn-sm btn-default" [class.btn-primary]="i + 1 == currentMonth" [class.disabled]="isMonthDisabled(currentYear, i + 1)">{{name}}</a>
			</div>
		</div>
	</div>


	<br><br>

	<div class="invoices" [class.loading]="loading">
		<table class="table table-condensed table-responsive table-hover table-striped small">
			<thead>
				<tr>
					<th></th>
					<th>Datum</th>					
					<th colspan="2">Rozpočet</th>
					<th>IČO</th>
					<th>Protistrana</th>
					<th>Popis</th>
					<th class="text-right">Částka</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let invoice of invoices">
					<td>
							<span *ngIf="invoice.expenditureAmount > invoice.incomeAmount" class="label label-red">Výdaj</span>
							<span *ngIf="invoice.expenditureAmount < invoice.incomeAmount" class="label label-success">Příjem</span>
					</td>
					<td>{{invoice.date | date:"d. M. y"}}</td>
					<td class="small text-muted"><ng-container *ngIf="invoice.paragraph">§{{invoice.paragraph}}</ng-container></td>
					<td class="small text-muted"><ng-container *ngIf="invoice.item">#{{invoice.item}}</ng-container></td>
					<td>
						{{invoice.counterpartyId | ico}}
						<a *ngIf="invoice.counterpartyId" [href]="'http://wwwinfo.mfcr.cz/cgi-bin/ares/ares_es.cgi?jazyk=cz&ico=' + (invoice.counterpartyId | ico) + '&cestina=cestina&xml=1'" target="_blank">[Ares]</a>
						<a *ngIf="ico" [href]="'https://www.hlidacstatu.cz/hledat?Q=ico%3A' + (ico)" target="_blank">[Hlídač státu]</a>
					</td>
					<td><span class="counterparty" [title]="invoice.counterpartyName">{{invoice.counterpartyName}}</span></td>
					<td><span class="description" [title]="invoice.description">{{invoice.description}}</span></td>
					<td class="text-right font-number">{{(invoice.incomeAmount + invoice.expenditureAmount) | money:0:false}} Kč</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
