<div class="container-xxl">
  <date-picker [showEntireYear]="false" />
  <br /><br />

  <div class="invoices" [class.loading]="loading">
    <table
      class="table table-sm table-responsive table-hover table-striped small"
      >
      <thead>
        <tr>
          <th></th>
          <th>Datum</th>
          <th colspan="2">{{ "profile.budget" | translate }}</th>
          <th>IČO</th>
          <th>Protistrana</th>
          <th>Popis</th>
          <th class="text-end">Částka</th>
        </tr>
      </thead>
      <tbody>
        @for (invoice of invoices; track invoice) {
          <tr>
            <td>
              @if (invoice.expenditureAmount > invoice.incomeAmount) {
                <span
                  class="badge bg-danger"
                  >
                  {{ "profile." + profileType + ".expenditure" | translate }}
                </span>
              }
              @if (invoice.expenditureAmount < invoice.incomeAmount) {
                <span
                  class="badge bg-success"
                  >
                  {{ "profile." + profileType + ".income" | translate }}
                </span>
              }
            </td>
            <td>{{ invoice.date | date: "d. M. y" }}</td>
            <td class="small text-muted">
              @if (invoice.paragraph) {
                §{{ invoice.paragraph }}
              }
            </td>
            <td class="small text-muted">
              @if (invoice.item) {
                #{{ invoice.item }}
              }
            </td>
            <td>
              {{ invoice.counterpartyId | ico }}
              @if (invoice.counterpartyId) {
                <a
              [href]="
                'http://wwwinfo.mfcr.cz/cgi-bin/ares/ares_es.cgi?jazyk=cz&ico=' +
                (invoice.counterpartyId | ico) +
                '&cestina=cestina&xml=1'
              "
                  target="_blank"
                  >[Ares]</a
                  >
                }
                @if (invoice.counterpartyId) {
                  <a
              [href]="
                'https://www.hlidacstatu.cz/hledat?Q=ico%3A' +
                (invoice.counterpartyId | ico)
              "
                    target="_blank"
                    >[Hlídač státu]</a
                    >
                  }
                </td>
                <td>
                  <span class="counterparty" [title]="invoice.counterpartyName">{{
                    invoice.counterpartyName
                  }}</span>
                </td>
                <td>
                  <span class="description" [title]="invoice.description">{{
                    invoice.description
                  }}</span>
                </td>
                <td class="text-end font-number">
                  {{
                  invoice.incomeAmount + invoice.expenditureAmount
                  | money: 0 : false
                  }}
                  Kč
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
